.itemdichvu {
    margin-bottom: 25px;
    display: block;
    width: 100%;
    float: left;
    border-bottom:1px dotted #ccc;
    padding-bottom:20px;
}
.home .itemdichvu:fisrt-child{
    width:30%;
    margin-right:2%;
}

.home .itemdichvu {
    margin-top: 0;
    border-bottom: none;
    display:block;
    width:100%;
    margin-bottom:0;
    padding-bottom:0;
}
.nothome .itemdichvu .image {
    width: 150px;
}

.home .itemdichvu:hover .name a{
    color:[ws_colorHover];
}

.itemdichvu h3[itemprop="author"] {
    margin: 0;
}

.itemdichvu .name a {
    color: #fff;
    font-size: 18px;
    /*font-family:"OpenSans-SemiBold";*/
    text-transform: inherit;
    display:inline-block;
    padding: 11px 0;
    text-transform: uppercase;
    line-height: 1.5;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.home .itemdichvu .name a {
    font-size: 14px
}
.nothome .itemdichvu .name{
    width: auto;
    margin-top: 0;
    text-align: left;
}

.nothome .itemdichvu .name a {
    color: #000;
}

.itemdichvu .name a:hover{
    color:[ws_colorHover];
}

.home .itemdichvu .name strong{
    font-weight: normal;
}

.itemdichvu .name {
    display:block;
    margin-top: 15px;
    /*float:left;*/
    text-align: center;
}

.home .itemdichvu .noidung{
    width:100%;
    display:block;
}
.itemdichvu .description{
    font-size: 14px;
    float:left;
    width: 78%;
    line-height:20px;
    max-height: 60px;
    overflow: hidden;
    margin:5px 0;
}
.home .itemdichvu .name {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    margin: 0;
}
.home .itemdichvu .image {
    overflow: hidden;
    float: none;
    padding:0;
    margin:auto;
    text-align:center;
    display:block;
    transition:all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    position: relative;
}

.home .itemdichvu .image img{
    transition:all ease 0.6s;
    -webkit-transition: all ease 0.6s;
}

.itemdichvu .image{
    position: relative;
    margin-right: 2%;
    overflow: hidden;
    float: left;
    transition:all ease .3s;
    -webkit-transition:all ease .3s;
}

.itemdichvu .image img {
    max-width     : 100%;
    max-height    : 100%;
    width: unset;
    display   : block;
    padding   : 0;
    margin-top: 0;
    margin    : auto;
    transition:all ease .3s;
    -webkit-transition:all ease .3s;
}

.duandahoanthanh .itemdichvu .image img {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.duandahoanthanh .itemdichvu .image img:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.noidungchitiet + .titlebase,
.noidungchitiet .titlebase {
    width: 100%;
}

.noidungchitiet + .titlebase > a,
.noidungchitiet .titlebase > a {
    font-size: 18px;
    line-height: 1.5;
}

.noidungchitiet + .titlebase > a:before,
.noidungchitiet + .titlebase > a:after,
.noidungchitiet .titlebase > a:before,
.noidungchitiet .titlebase > a:after {
    display: none;
}

.home .itemdichvu .description{
    display:inline-block;
    height:45px;
    overflow: hidden;
    float:left;
}

.home .itemdichvu .description p strong{
    font-weight: normal;
    color:black;
}


.noidunggioithieu{
    margin-top:25px;
    display:block;
}

.hinhtruoc {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #888888;
  overflow: hidden;
  width: 100%;
  height:100%;
  -webkit-transform:scale(0);
  transition: .3s ease;
}

.image:hover .overlay {
  transform: scale(1);
  padding:3px;
  background-color:#ffffff;
}
 
.image .saukhilapdat {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/*.home .itemdichvu .image a .chuaimg{
    position:relative;
    height:100%;
}*/

.itemdichvu .image a .tenhinh{
    position:absolute;
    display:block;
    width:100%;
    background-color:#ffffffa1;
    bottom:0;
    text-align:center;
}

.itemdichvu .image a .tenhinh span{
    display:inline-block;
    padding:4px 0;
    font-size:16px;
    font-family:"Arial";
}

.chuathemhinh{
    font-family:"Arial";
    text-align: justify;
    height:100%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(0.5, 0.5);
    z-index: 100;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 10px;
    font-size: 17px;
    color: #4a4848;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.778);
    z-index: 9999;
}

.home .noibatRun .ngayandxem{
    display: none;
}
.home .contentRun .ngayandxem{
    display: table;
    width: 100%;
    color: #000000;
    font-family: 'OpenSans';
    font-size: 13px;
    padding: 2px 5px;
}
.home .contentRun .ngayandxem i{
    color: #6e6e6e;
}
.home .contentRun .ngayandxem .datef{
    margin-right: 30px;
    float: left;
}
/**/
@media (max-width: 1024px) {
    .home .itemdichvu .name{
        
    }
}

@media (max-width: 768px) {
    .homepage-content{
        display: table;
        margin-bottom: 30px;
    }
}

@media (max-width: 640px) {
    .home .itemdichvu .name{
        
    }
}

@media (max-width: 480px) {
    .itemdichvu{
        width:100%;
        margin-right:0;
    }

    .itemdichvu .image{
        height:auto;
        width:100%;
    }

    .itemdichvu .noidung{
        width:100%;
    }

    .itemdichvu .description{
        float: none;
        width: 100%;
        display:inline-block;
    }
    .itemdichvu .name {
        text-align: center;
    }

    .home .itemdichvu .description{
        height:auto;
    }

    .home .itemdichvu .name{
        height: auto;
    }

    .nothome .itemdichvu .name{
        width: 100%;
        text-align: center;
    }
    .bottomfix .itemdichvu{
        width: 100%;
    }
    .nothome .itemdichvu .image {
        width: 100%;
    }
    .nothome .itemdichvu .image img{
        margin: auto;
    }
}

@media (max-width: 375px) {
    .home .itemdichvu .image{
        height: auto;
        display:block;
    }

    .home .itemdichvu .name{
        height:auto;
    }

    .home .itemdichvu .description{
        height:auto;
    }
}
