.service-list {
    visibility: hidden;
    position: relative;
}

.service-list .service-loading {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 35%;
    visibility: visible;
    text-align: center;
}

.home .itemnoidung {
    margin-top: 0;
    border-bottom: none;
}

.itemnoidung h3[itemprop="author"] {
    margin: 0;
}

.home .itemnoidung .name {
    position: absolute;
    bottom: 0;
    padding: 10px 15px;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
}

.home .itemnoidung .name a {
    color: #FFF;
    display: block;
    font-weight: normal;
    text-transform: capitalize;
}

.itemnoidung {
    border-bottom: 1px dotted #CCC;
    margin-top: 10px;
    padding-bottom: 10px;
}

.itemnoidung .name {
    text-transform: uppercase;
    margin-top: 0px;
}

.itemnoidung .name a:hover {
    color: red;
}

.itemnoidung .name a {
    font-weight: bold;
    display: block;
    line-height: 1.3;
    color: #000;
    font-size: 14px;
    padding-bottom: 8px;
}

.itemnoidung .image {
    float: left;
}

.itemnoidung .image {
    margin-right: 10px;
    overflow: hidden;
}

.itemnoidung .image img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    height: auto;
    width: 100%;
}

.noidungchitiet {
    padding-top: 20px;
}

.noidungchitiet+.titlebase,
.noidungchitiet .titlebase {
    width: 100%;
}

.noidungchitiet+.titlebase>a:before,
.noidungchitiet+.titlebase>a:after,
.noidungchitiet .titlebase>a:before,
.noidungchitiet .titlebase>a:after {
    display: none;
}

.home .itemnoidung .image {
    float: none;
    display: block;
}

.home .itemnoidung .description {
    display: none;
}

.home .itemnoidung .image {
    margin-right: 0;
    height: 205px;
    min-height: 185px;
    overflow: hidden;
}

.home .itemnoidung .image img {
    height: 100%;
}

.chitiet {
    float: right;
    margin-right: 5px;
    background-color: [ws_colorMain];
    font-weight: bold;
    padding: 4px 3px 3px 3px;
    position: relative;
    border-radius: 2px;
}

.chitiet:hover {
    background-color: #F00;
}

.chitiet a {
    color: #FFF;
    padding: 5px 10px;
    line-height: 25px;
    text-transform: uppercase;
}

.chitiet a:hover {
    color: #FF0;
}

.cf thead th {
    color: #043d86;
    background: #f9f9f9;
    font-size: 13px;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.cf td {
    padding: 10px 2px !important;
}

@media (max-width: 480px) {
    .itemnoidung .description,
    .itemnoidung .image {
        float: none;
        width: 100%;
    }
    .itemnoidung .image img {
        width: auto;
        height: auto;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }
    .itemnoidung .name {
        text-align: center;
    }
}