{strip}
{$braucube}
{$chitietsanpham}

<div class="splienquan-container">
	{$sanphamlienquan_title}
	<div class="sanphamlienquan">
	{include file="../../{$op}/tpl/item.tpl" arrsanpham=$sanphamlienquan.sanpham class='' owl=''}
	</div>
</div>
<div class="clear"></div>

{* div close class"noidungchitiet" *}
</div>
<div class="clear"></div>

{/strip}