<ul class="ul_quangcao">
	{* {$arrquangcao|var_dump} *}
{foreach key=cid item=arr_quangcao from=$arrquangcao}
{* XU LY LIEN KET *}
{if !empty($arr_quangcao.link)}
    {$lienket = $arr_quangcao.link}
{/if}

{* XU LY TARGET *}
{if !empty($arr_quangcao.target)}
    {$target = "target={$arr_quangcao.target}"}
{else}
    {$target = null}
{/if}
        <li class="itemquangcao {$class}">
            <a title="{$arr_quangcao.ten}" href="{$lienket}" {$target}>
               <img  title="{$arr_quangcao.ten}" src="{$root_path}uploads/logo/{$arr_quangcao.hinh}" alt="{$arr_quangcao.ten}"  />
            </a>
        </li>

{/foreach}
</ul>
<div class="clear"></div>