{strip}
{$braucube}
<h1 class="product-title-big">{$ten}</h1>
{$chitietnoidung}
{$noidunglienquan_title}
<div class="clearfix news-container ws-list">
{include file="../../{$op}/tpl/item.tpl" arrnoidung=$noidunglienquan.noidung class=itemnoidung_home owl='owl_lienquan'}
</div>
{/strip}