#wapper_banner{
    width:100%;
    position: relative;
    z-index: 10;
    background-color:[ws_colorMenu];
}
.dk_banner {
    display: table;
    float: right;
    margin-top: 10px;
}
.dk_banner input.alo {
    width: 200px;
    background: rgba(0,0,0,0.2);
    color: #fff;
}
.dk_banner input.alo::-webkit-input-placeholder {
    color: #c4bbbb;
}
.dk_banner input.alo:-ms-input-placeholder {
    color: #c4bbbb;
}
.dk_banner input.alo::placeholder {
    color: #c4bbbb;
}
.dk_banner .dkmail-frm button {
    background: rgba(0,0,0,0.5);
    margin-left: 0;
}
.banner-wrap {
    position: relative;
}
.banner_item {
    float: left;
}
.banner_content{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    position:relative;
}
.banner_content .banner-ngonngu{
    display:none;
}
.banner_item a {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    padding:10px 0;
}
.banner_item a img{
    display:inline-block;
    transition:all ease .3s;
    -webkit-transition:all ease .3s;
}
.banner-hotline {
    float: right;
    width: 12%;
    padding: 20px 0;
    display:inline-block;
}
.banner-hotline .fa {
    font-size: 54px;
    margin-right: 8px;
    float: left;
    border-radius: 3px;
    color: [ws_colorMain];
}
.banner-hotline span {
    font-size: 18px;
    margin-top:4px;
    float: left;
    display: inline-block;
}
.banner-hotline a {
    font-size: 18px;
    color: #ff0000;
    float:left;
    display:inline-block;
    font-family: "UTMCentureBold";
}
.banner-search {
    width: 420px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: table;
}
.banner-thanhtoan{
    display:block;
    float:left;
    margin-left:105px;
    padding-top:40px;
}
.banner-thanhtoan ul li{
    float:left;
    margin-right:30px;
}
.banner_content .marquee{
    display: block;
    position: absolute;
    width: 38%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.banner_content .marquee p{
    color:#5ea700;
    line-height:42px;
    font-family:"SFUFuturaHeavy";
    font-size:18px;
    text-transform: capitalize;
}
.banner_content .cart{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    float:right;
}
.banner_content .cart a{
    background-color: [ws_colorMenu];
    border: 1px solid [ws_colorMenu];
    color:#FFF;
    padding: 9px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-family: "OpenSans";
    margin-left: 30px;
    transition:all ease .3s;
    -webkit-transition:all ease .3s;
}
.banner_content .cart a:hover{
    color:[ws_colorHover];
}
.banner_content .cart a .fa{
    font-size:22px;
    vertical-align: middle;
    padding-right:3px;
}
.banner_content .cart a #countCart{
    color:[ws_colorTitle];
    background-color:#FFF;
    border-radius: 50%;
    padding: 2px 5px;
    padding-left: 4px;
    display: inline-block;
    line-height: 1;
}
.social{
    display: table;
    text-align: left;
    margin-top: 30px;
    float: right;
}
.social ul{
    float: left;
    display: table;
}
.social li:first-child{
    width: 170px;
}
.social li{
    float: left;
    display: table;
    list-style: none;
    line-height: 22px;
    margin-right: 20px;
    font-family: 'OpenSans';
    font-size: 13px;
    color: #222222;
    width: 220px;
}
.social li img{
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}
.banner-nho{
    display: table;
    float: left;
    margin-left: 50px;;
    padding: 10px;
}
@media(max-width: 1024px){
    .banner_content{
        padding:0 5px;
    }
    .banner-search {
        width: 350px;
    }
    .banner-hotline {
        width: 15%;
    }
    .banner-slogan {
        display: none;
    }
    .banner-thanhtoan{
        margin-left:25px;
        padding:10px 0;
    }
}
@media(max-width: 768px){
    #myModal .modal-dialog {
        max-width: 100%;
        margin: 0;
    }
    .banner-row1 {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    .banner-row1 .user2 {
        float: right;
        padding: 10px 12px;
        position: relative;
    }
     #showU {
        cursor: pointer;
     }
    #showU > p {
        text-align: center;
    }
    .banner-row1 .user2 .frmInfoUser {
        left: auto;
        right: 0;
    }
    .banner-row1 .user2 > .fa {
        color: #FFF;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        cursor: pointer;
    }
    .banner-row1 .user2 p {
        color: #FFF;
    }
    .banner_content .cart a .fa,
    .banner-row1 .btn-login .fa {
        font-size: 25px;
        text-align: center;
    }
    .banner-row1 .cart {
        float: left;
    }
    .banner-row1 .cart > a > .fa {
        display: table;
        margin-left: auto;
        margin-right: auto;
    }
    .banner-row1 .cart p {
        text-align: center;
    }
    .banner-row1 .login-choose .fa {
        font-size: 22px;
    }
    .banner-row1 .banner_item {
        text-align: center;
        float: none;
        padding: 10px 0;
    }
    .banner-row2.fixed {
        background-color: [ws_colorMain];
        padding-left: 5px;
        padding-right: 5px;
    }
    .banner_item a {
        display: block;
        max-height: 50px;
        padding: 0;
    }
    .banner_content {
        display: block;
    }
    .banner-hotline,
    .banner-search,
    .login-box {
        display: none;
    }
    .banner-a {
        float: none;
        width: 100%;
    }
    .banner-b {
        float: none;
        position: absolute;
        top: 0;
        right: 8px;
    }
    .banner_content .banner-ngonngu{
        display:block;
    }
    #wapper_banner{
        position:relative;
    }
    .banner_content .banner-ngonngu .ngonngu{
        border: 1px solid #d4d4d4;
        border-radius: 0px 0px 5px 5px;
        padding: 3px 3px 0px 3px;
        position: absolute;
        top: 0;
        width: 12%;
        bottom: auto;
        margin-top: 0;
    }
    .banner-thanhtoan{
        display:none;
    }
    .banner_item{
        float:none;
    }
    .social{
        display: none;
    }
    .banner-nho{
        display: none;
    }
    .dk_banner {
        margin: auto;
        float: unset;
    }
}
@media(max-width: 640px){
    .banner_content .banner-ngonngu .ngonngu{
        width:14%;
    }
    .banner_content .cart a .fa {
        padding: 0;
    }
}
@media(max-width: 480px){
	.banner-row2 #btn-right {
		padding: 5px 10px 0px 10px;
	}
	.banner-row2 {
		padding-bottom: 3px;
	}
	.banner-row1 {
		background-color: [ws_colorMenu];
		margin-bottom: 0;
	}
	.banner_content {
		padding: 0;
	}
	#wapper_banner {
		background-color: transparent;
	}
    .banner_item img {
        max-width: 100%;
        max-height: 100%;
    }
    .banner_content .banner-row2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
        float:left;
    }
    .dk_banner {
        display: none;
    }
    .tencongty {
        font-size: 18px;
    }
    .banner_content .cart a{
        margin:0;
        display: inline-block;
    }
}
@media(max-width: 375px){
    .banner_content .banner-ngonngu .ngonngu{
        width:24%;
    }
}
@media(max-width: 360px){
    .banner-a {
        float: none;
    }
    .banner_content .banner-ngonngu .ngonngu{
        width:25%;
    }
}
@media(max-width: 320px){
    .banner-b {
        right: 0;
    }
    .banner_content .banner-ngonngu .ngonngu{
        width:28%;
    }
}