#wapper_bottom_fix {
    /*background-color: #f5f5f5;*/
    padding: 20px 0px;
    margin: 20px 0;
}
#wapper_bottom_fix .homepage-item:first-child{
    width: 31%;
    margin-right: 2%;
    float: left;
    display: table;
}
#wapper_bottom_fix .homepage-item:nth-child(2){
    width: 66%;
    display: table;
}
.tinbottom-group {
    width: 33.333%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.tinbottom-title {
    padding-top: 0;
}

.tinbottom-title a {
    font-size: 18px;
    color: #555;
}

.tinbottom-item {
    padding-bottom: 10px;
}

.tinbottom-item .title {
    display: block;
    height: 18px;
    line-height: 18px;
    margin-bottom: 4px;
    overflow: hidden;
}

.tinbottom-item .title a {
    color: #555;
    display: block;
    font-weight: bold;
}

.tinbottom-item .title a:hover {
    cursor: pointer;
    color: [ws_colorHover];
}

.tinbottom-item .image {
    float: left;
    display: table;
    width: 75px;
    padding-right: 10px;
}

.tinbottom-item .description {
    display: block;
    color: #666;
    text-align: justify;
    height: 48px;
    line-height: 16px;
    overflow: hidden;
}

@media(max-width: 768px) {
    #wapper_bottom_fix .homepage-item:first-child{
        width: 100%;
    }
    #wapper_bottom_fix .homepage-item:nth-child(2){
        width: 100%;
    }
}

@media(max-width: 480px) {
    .tinbottom-group {
        width: 100%;
        float: none;
    }
}