#wapper_bottom {
    position: relative;
    padding: 0;
    background-position: left top;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 100% 100%;
    background-color: [ws_colorBottom];
}

.group_bottom {
    float: left;
    min-height: 190px;
    margin-top: 30px;
}

.group_bottom .logo {
    float: left;
    max-width: 160px;
    height: auto;
    margin-right: 20px;
}

.group_bottom .logo img {
    height: auto !important;
    max-width: 100% !important;
}

.group_bottom_menu li i {
    font-size: 14px;
    vertical-align: middle;
}

.group_bottom .title_bottom a{
    text-transform: uppercase;
    display: table;
    font-family: 'RobotoCondensedBold';
    font-size: 18px;
    background: [ws_colorBottom];
    padding-right: 10px;
}

.group_bottom .title_bottom {
    position: relative;
    padding: 10px 0;
    /*background: url({$root_path}templates/images/bg-titlebot.png) repeat-x;
    background-position: center;*/
}
.group_bottom .title_bottom:after{
    content: "";
    height: 1px;
    width: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(225,225,225,0.5);
}

.group_bottom .title_bottom a:hover {
    color: [ws_colorHover];
    text-decoration: none;
}
.noidung_bottom p {
    line-height: 1.6rem;
}
.noidung_bottom {
    color: #fff;
    font-family: 'tahoma';
    font-size: 14px;
}
.noidung_bottom .dkmail-frm input{
    width: 230px;
}
.noidung_bottom .dkmail-frm button{
    margin-left: 0;
    background: [ws_colorTitle];
}

.title_bottom+.noidung_bottom {
    padding: 20px 0px 5px 0px;
    overflow: hidden;
}

.thongtincongty .noidung_bottom .fa{
    color: #fff !important;
    padding: 7px 10px;
    border: 1px solid #fff;
    margin-right: 10px;
    display: table;
    float: left;
}

.thongtincongty .noidung_bottom{
    font-size: 14px;
    font-family: 'OpenSans';
    color: #FFF;
}

.thongtincongty .noidung_bottom p{
    line-height: 1.5;
}

.group_bottom .noidung_bottom p {
    margin: 0;
    margin: 0;
    margin-bottom: 10px;
    display: table;
}

.group_bottom .noidung_bottom a {
    display: block;
    font-size: 16px;
}

.group_bottom .noidung_bottom a:hover {
    color: [ws_colorHover];
    text-decoration: none;
}

.group_bottom ul li {
    padding: 10px 1px;
}

.group_bottom ul li i {
    padding-right: 5px;
}

.group_bottom .noidung_bottom img {
    max-width: 100%;
    height: auto;
}

.group_bottom_facebook {
    float: right;
    
}

.contentfix iframe,
.contentfix iframe ._2p3a {
    width: 100% !important;
}

.contentfix img {
    max-width: 100%;
    height: auto;
}

.dkmail-frm {
    padding: 15px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.dkmail-frm input,
.dkmail-frm button {
    border: none;
    /*border-radius: 20px;*/
    padding: 5px 20px;
    color: #3c3c3c;
}

.dkmail-frm input:focus,
.dkmail-frm input:hover,
.dkmail-frm input:visited,
.dkmail-frm button:focus,
.dkmail-frm button:hover,
.dkmail-frm button:visited {
    outline: none;
    box-shadow: none;
}

.dkmail-frm button {
    background-color: [ws_colorMain];
    color: #FFF;
    margin-left: -30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dkmail-frm button:hover {
    cursor: pointer;
    color: [ws_colorHover];
}

.floatr {
    float: right;
}

.noidung_bottom .title_bottom {
    padding-top: 0;
    font-family: "OpenSans", arial, helvetica;
}

.thongtincongty {
    color: white;
    /*width: 350px;*/
}

.group_bottom {

}

.noidung_bottom a,
.title_bottom,
.title_bottom a,
.thongtincongty a {
    color: #fff;
}

.group_bottom.fanpage {
    /*width: 295px;*/
}

/*===*/
.group_bottom .panel-group .panel{
    border-radius: 0;
    border: 0;
    background: rgba(225,225,225,0.5);
}
.group_bottom .panel-default>.panel-heading{
    background: unset;
}
.group_bottom .panel-group .panel+.panel{
    margin-top: 1px;
    border-top-left-radius: 1px solid rgba(225,225,225,0.5); 
}
.group_bottom .panel-default>.panel-heading+.panel-collapse>.panel-body{
    background: #fff;
    color: #000;
}
/**/


/***********ContactBottom************/
.group_bottom .panel{
    background-color: unset;
    border:0;
    box-shadow:none;
    margin-top: 20px;
}
.group_bottom .panel-title{
    text-align: left;
}
.group_bottom .form-group:first-child{
    width: 49%;
    margin-right: 2%;
    float: left;
}
.group_bottom .form-group:nth-child(2){
    width: 49%;
    margin-right: 0;
}

.group_bottom .input-group{
    width: 100%;
    /*background: #0193d8;*/
}

.group_bottom .form-group{
    width: 100%;
    display: table;
}

.group_bottom .btn-group-lg>.btn, .btn-lg{
    border-radius: 0;
}

.group_bottom .form-control{
    background-color: unset !important;
    border:1px solid rgba(255, 255, 255, 0.5);
    color: #333;
    border-radius: 0;
}
.group_bottom .input-group-addon{
    background-color: unset !important;
    border:1px solid rgba(51, 51, 51, 0.5);
    color: #fff;
    border-right: 0;
    display: none;
}
.group_bottom .input-group-addon i{
    display: none;
}
.group_bottom .form-control::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.5) !important;
}
.group_bottom .panel-default>.panel-heading{
    background-color: unset;
    color: yellow;
    border:0;
    text-transform: uppercase;
    border-bottom: 4px double #fff;
    padding-left: 0;
    padding-top: 0;
}
.group_bottom .panel-body{
    padding: 0;
}
.group_bottom .text-center{
    text-align: left;
}
/*-----------------------------*/

/*=========top-of-bot==========*/
.top-of-bot{
    padding: 20px 0;
    display: table;
    border-bottom: 1px solid rgba(225,225,225,0.1);
}

.top-of-bot .first-left{
    font-size: 16px;
    color: #74a9ff;
    font-family: 'OpenSans-Regular';
}
.top-of-bot .secon-right .group_bottom{
    min-height: unset;
    width: 100%;
}

.top-of-bot .secon-right ul li a{
    font-size: 15px;
    color: [ws_colorMain];
    font-family: 'OpenSans-Regular';
}
.top-of-bot .secon-right ul{
    column-count: 3;
}
.top-of-bot .secon-right li{
    padding-top: 0;
    padding-bottom: 10px;
}
.top-of-bot img{
    float: left;
    margin-right: 15px;
}

@media(max-width: 768px){
    .group_bottom {
        min-height: 311px;
    }
    .top-of-bot .secon-right ul{
        column-count: 2;
    }
}

@media (max-width: 640px) {
    .group_bottom {
        min-height: auto;
    }
}

@media (max-width: 480px) {
    .top-of-bot .secon-right ul{
        column-count: 1;
    }
}