/*-- roundcube --*/
#breadcrumbs{
    margin-bottom: 15px;
}
#breadcrumbs li:first-child {
    padding-left: 8px;
}

#breadcrumbs li:first-child a:before {
    content: "\f015";
    font-family: FontAwesome;
    font-size: 20px;
}

#breadcrumbs li:first-child:before {
    display: none;
}

#breadcrumbs li:first-child a {
    margin-top: 8px;
    cursor: pointer;
}

#breadcrumbs li:first-child i {
    vertical-align: middle;
    content: "";
}

#breadcrumbs li:last-child,
#breadcrumbs li a {
    position: relative;
}

#breadcrumbs>li {
    display: inline-block;
    padding: 0 4px;
    cursor: pointer;
}

#breadcrumbs>li:before {
    content: "\f105";
    font-family: FontAwesome;
    padding-right: 8px;
    font-size: 16px;
}

#breadcrumbs li a{
    font-family:"RobotoCondensedRegular";
    font-size:15px;
    transition:all ease .3s;
    -webkit-transition:all ease .3s;
}

#breadcrumbs>li a:hover {
    color: #F00;
}

#breadcrumbs li:hover span.breadcrumb_last:after,
#breadcrumbs li:hover a:after {
    border-left-color: #F9F9F4;
}

#breadcrumbs li:first-child {
    margin-left: 0;
}

#breadcrumbs li a:hover {
    text-decoration: none;
}


/*/ End Breacrum /*/
