#wapper_main.giohang {
    margin-top: 80px;
}

.giohangbtn {
    background-color: rgba(31, 31, 31, 0.43);
    margin-left: 20px;
    padding: 4px;
    border-radius: 2px;
    float: right;
}

.giohangbtn i {
    margin-right: 5px;
}

.giohangbtn:hover {
    background-color: #F00;
}

.product_box {
    width: 100%;
    position: relative;
    padding-top: 10px;
    margin-bottom: 8px;
    clear: both;
}

.product_box .product_info {
    float: left;
    width: 73%;
    margin-bottom: 10px;
}

.product_box .arr ul {
    width: 100%;
}

.product_box .arr ul li.li1 {
    float: left;
    width: 70px;
    padding-left: 8px;
}

.product_box .arr ul li {
    float: left;
    text-align: left;
}

.selectcolor {
    border: 1px solid #CCC;
    width: 100px;
    border-collapse: collapse;
    padding: 3px 3px;
    background-color: transparent;
    margin-bottom: 5px;
}

.product_box .product_info .name {
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
    line-height: 20px;
    font-size: 13px;
}

.product_box .product_info .name a {
    color: #000;
}

.product_box .product_info .name a:hover {
    color: #F00;
}

.product_box .product_img {
    float: right;
    width: 20%;
}

.product_box .product_img img {
    width: 98%;
    float: left;
}

.product_box .txt_soluong {
    width: 50px;
}

.product_box .form-control {
    padding: 3px;
    text-align: center;
}

.attr-color {
    border: 1px solid #ccc;
    display: block;
    height: 25px;
    width: 30px;
    line-height: 25px;
    padding: 0 0px;
    text-align: center;
    float: left;
}

.product_sl {
    width: 98%;
}

.product_sl ul li.li1 {
    float: left;
    width: 70px;
    padding-left: 8px;
    line-height: 35px;
    font-weight: bold;
}

.product_sl ul li {
    float: left;
    text-align: left;
}

.product_line {
    border-bottom: 1px dashed #CCC;
}

.product_line_nhe {
    border-bottom: 1px dashed #f0eded;
}

.product_info i {
    color: #F00;
}

.product_total {
    color: #F00;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 10px;
}

.product_total .label {
    float: left;
    padding-left: 5px;
}

.product_total .data {
    float: right;
    padding-right: 5px;
}

.product_total .item {
    float: right;
    margin-right: 10px;
    line-height: 20px;
    margin-bottom: 5px;
    width: 95%;
    text-align: right;
}

.product_total .item a {
    color: #000;
}

.product_total .item a:hover {
    color: #F00;
}

.product_total .itemxoa {
    font-size: 14px;
}

.product_total .itemxoa img {
    float: right;
    padding-right: 5px;
    padding-left: 8px;
    width: 30px;
}

.tongtien_giohang {
    font-weight: bold;
    text-transform: uppercase;
    color: #F00;
    text-align: right;
    font-size: 16px;
    padding: 8px 2px;
    margin-top: 5px;
    float: right;
}

.giohang_group_view .panel .panel-heading {
    font-weight: bold;
    text-transform: uppercase;
    line-height: 25px;
}

.giohang_group_view .panel .panel-heading i {
    float: left;
    margin-right: 10px;
}

.xemgiohang {
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    margin-left:8px;
}

.xemgiohang a {
    color: #FFF;
}

.deletesp {
    border: 1px solid #CCC;
    border-radius: 15px;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 15px;
    font-size: 14px;
    cursor: pointer;
    float: left;
    margin-right: 4px;
}

.deletesp:hover {
    background-color: #F7F7F7;
}

.giohang_group {
    max-height: 350px;
    overflow: auto;
}

.labellogin {
    width: 150px;
    text-align: left;
}

.cot_dssp {
    float: right;
    width: 35%;
}

.cot_form {
    float: left;
    width: 63%;
}

.cot_form .panel .panel-title {
    line-height: 25px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.cot_form .panel .panel-title a {
    clear: both;
}

.cot_form .panel .panel-title i {
    float: left;
    margin-right: 10px;
}

.form_giohang .input-group {
    margin-bottom: 15px;
    width: 100%;
}

.form_giohang .input-group-addon {
    width: 110px;
    font-size: 12px;
    text-align: left;
    font-weight: bold;
}

.form_giohang .input-group-addon i {
    float: left;
    margin-right: 5px;
}

.form_giohang .input-group-addon span {
    color: #F00;
}

.form_giohang .input-group:hover .input-group-addon {
    color: #F00;
}

.form_giohang .btn_submit {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin: auto;
    display: table;
}

.panel-heading-edit {
    font-weight: bold;
    text-transform: uppercase;
    line-height: 25px;
}

.panel-heading-edit i {
    float: left;
    margin-right: 10px;
}

.xoagiohang {
    float: right;
    font-size: 15px;
    color: #333;
    margin-top: 10px;
}

.xoagiohang i {
    float: right;
    margin-left: 5px;
    margin-top: 2px;
}

.xoagiohang a {
    color: #333;
    font-weight: bold;
}

.xoagiohang a:hover {
    color: #F00;
}


/* GioHang */

.product_box {
    width: 100%;
    position: relative;
    padding-top: 10px;
    margin-bottom: 8px;
    clear: both;
}

.product_box .product_info {
    float: left;
    width: 73%;
    margin-bottom: 10px;
}

.product_box .arr ul {
    width: 100%;
}

.product_box .arr ul li.li1 {
    float: left;
    width: 70px;
    padding-left: 8px;
}

.product_box .arr ul li {
    float: left;
    text-align: left;
}

.product_box .product_info .name {
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
    line-height: 20px;
    font-size: 13px;
}

.product_box .product_info .name a {
    color: #000;
}

.product_box .product_info .name a:hover {
    color: #F00;
}

.product_box .product_img {
    float: right;
    width: 20%;
    margin-right:1%;
}

.product_box .product_img img {
    width: 98%;
    float: left;
}

.product_box .txt_soluong {
    width: 50px;
}

.product_box .form-control {
    padding: 3px;
    text-align: center;
}

.product_sl {
    width: 98%;
}

.product_sl ul li.li1 {
    float: left;
    width: 70px;
    padding-left: 8px;
    line-height: 35px;
    font-weight: bold;
}

.product_sl ul li {
    float: left;
    text-align: left;
}

.product_line {
    border-bottom: 1px dashed #CCC;
}

.product_line_nhe {
    border-bottom: 1px dashed #f0eded;
}

.product_info i {
    color: #F00;
}

.product_total {
    color: #F00;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 10px;
}

.product_total .label {
    float: left;
    padding-left: 5px;
}

.product_total .data {
    float: right;
    padding-right: 5px;
}

.product_total .item {
    float: right;
    margin-right: 10px;
    line-height: 20px;
    margin-bottom: 5px;
    width: 95%;
    text-align: right;
}

.product_total .item a {
    color: #000;
}

.product_total .item a:hover {
    color: #F00;
}

.product_total .itemxoa {
    font-size: 14px;
}

.product_total .itemxoa img {
    float: right;
    padding-right: 5px;
    padding-left: 8px;
    width: 30px;
}

.tongtien_giohang {
    font-weight: bold;
    text-transform: uppercase;
    color: #F00;
    text-align: right;
    font-size: 16px;
    padding: 8px 2px;
    padding-right:8px;
    margin-top: 5px;
    float: right;
}

.giohang_group_view .panel .panel-heading {
    font-weight: bold;
    text-transform: uppercase;
    line-height: 25px;
}

.giohang_group_view .panel .panel-heading i {
    float: left;
    margin-right: 10px;
}

.xemgiohang {
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.xemgiohang a {
    color: #FFF;
}

.deletesp {
    border: 1px solid #CCC;
    border-radius: 15px;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 15px;
    font-size: 14px;
    cursor: pointer;
    float: left;
    margin-right: 4px;
}

.deletesp:hover {
    background-color: #F7F7F7;
}

.giohang_group {
    max-height: 350px;
    overflow: auto;
}

.cot_dssp {
    float: right;
    width: 35%;
}

.cot_form {
    float: left;
    width: 63%;
}

.cot_form .panel .panel-title {
    line-height: 25px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.cot_form .panel .panel-title a {
    clear: both;
}

.cot_form .panel .panel-title i {
    float: left;
    margin-right: 10px;
}

.form_giohang .input-group {
    margin-bottom: 15px;
    width: 100%;
}

.form_giohang .input-group-addon {
    width: 110px;
    font-size: 12px;
    text-align: left;
    font-weight: bold;
}

.form_giohang .input-group-addon i {
    float: left;
    margin-right: 5px;
}

.form_giohang .input-group-addon span {
    color: #F00;
}

.form_giohang .input-group:hover .input-group-addon {
    color: #F00;
}

.form_giohang .btn_submit {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin: auto;
    display: table;
}

.xoagiohang {
    float: right;
    font-size: 15px;
    color: #333;
    margin-top: 10px;
}

.xoagiohang i {
    float: right;
    margin-left: 5px;
    margin-top: 2px;
}

.xoagiohang a {
    color: #333;
    font-weight: bold;
}

.xoagiohang a:hover {
    color: #F00;
}
