.filter-container {
    /*background-color: #edecec;*/
    margin-bottom: 10px;
}
.phannhom-content {
    padding: 10px;
    font-size: 12px;
}
.phannhom-item h3 {
    font-size: 13px;
    line-height: 25px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    margin: 0;
    margin-top: 10px;
}
.ndlocnhanh-content ul li {
    padding: 5px 0;
    display: table;
    width: 100%;
}
.ndlocnhanh-content ul li i.item-check {
    background-color: transparent;
    background-image: url({$root_path}templates/images/choose.png);
    background-repeat: no-repeat;
    background-position: -3px -21px;
    width: 18px;
    height: 18px;
    margin-right: 6px;
    float: left;
}
.ndlocnhanh-content ul li.choosed i.item-check {
    background-position: -20px -21px;
}
.ndlocnhanh-content ul li i, .ndlocnhanh-content ul li a {
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
}
.ndlocnhanh-content ul li a {
    float: left;
    color: #4a90e2;
    font-weight: 600;
    padding-left: 1px;
    text-align: left;
    font-size: 12px;
}
/*end locnhanh*/
#col1 {
    width: 23%;
    float: left;
}
#colcontent {
    width: 76%;
    float: right;
}
#colcontent #wapper_slide{
    display:block;
}
.group_tin:not(:last-of-type) {
    margin-bottom: 20px;
}
.group_tin_tieude {
    /*background-color: #CC2018;*/
    color: #FFF;
    /*text-transform: uppercase;*/
    /*font-weight: bold;*/
}
.group_tin_tieude .htitle .tentieude{
    font-family: 'tahoma';
    font-size: 15px;
    color: #000;
    font-weight: bold;
    display: block;
    float: left;
    text-align: center;
    padding: 10px 0;
    padding-left:10px;
}
/*.group_tin_noidung,
.hotrotructuyen_content,
.group_tin_noidung>ul {
    border: 1px solid #CCC;
    border-radius: 0 0 8px 8px;
}*/
.group_tin_tieude .htitle,
.titlelienquan .htitle {
    font-family: 'tahoma';
    font-size: 15px;
    color: #000;
    background-color: [ws_colorTitle];
    padding: 0px;
    text-align: left;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
}
.group_tin_tieude .htitle .img {
    float: left;
    padding: 8px 11px;
    margin-right: 0;
    display: inline-block;
    /*background-color:#0c7cdd;*/
}
.group_tin_tieude .htitle .img img {
    vertical-align: middle;
    max-width: 23px;
}
.group_tin_tieude a {
    color: #FFF;
}
.group_tin_tieude a:hover {
    color: #FF0;
}
.danhmuccol>ul>li:last-child {
    border-radius: 0 0 20px 20px;
}
.danhmuccol>ul>li:first-child {
    border-radius: 5px 5px 0 0;
}
.group_tin_noidung {
    /*border:1px solid #e7e7e7;*/
    border-top: none;
}
.group_tin_noidung *,
.group_tin_noidung table {
    max-width: 100%;
    /*overflow: hidden;*/
}
.group_tin_noidung .tag_bottomfix .tags_label{
    display:none;
}
.group_tin_noidung .tag_bottomfix .tags{
    display:inline-block;
    margin-top:0;
    margin-bottom:10px;
    margin-left:8px;
}
.noidung_danhmuc {
    padding: 5px;
}
.danhmuccol>ul>li>ul>li>ul>li>a {
    padding-left: 20px;
}
.danhmuccol ul li.hasChild {
    position: relative;
}
.danhmuccol ul ul,
.danhmuccol ul ul ul,
.danhmuccol ul ul ul ul {
    display: none;
    background-color: #FFF;
}
.danhmuccol ul ul li a {
    text-transform: capitalize;
}
.danhmuccol ul li.active>a>ul {
    border-bottom: 1px solid #dcdcdc;
}
.danhmuccol>ul>li>a:before {
    content: "\f1db";
    font-family: FontAwesome;
    font-size: 9px;
    padding-right: 8px;
}
.danhmuccol li a {
    padding-left: 15px;
}
.danhmuccol li>a {
    font-family: 'tahoma';
    font-size: 14px;
    color: #000;
    padding-top: 7px;
    padding-bottom: 7px;
    text-transform: capitalize;
    display: block;
    cursor: pointer;
    transition:all ease .3s;
    -webkit-transition:all ease .3s;
}
.danhmuccol li ul li a {
    padding-left: 25px;
}
.danhmuccol ul li {
    display: block;
    /*border-top:1px solid #FFFFFF;
    border-bottom: 1px solid #e7e7e7;*/
}
.danhmuccol ul li:first-child{
    border-top:none;
}
.danhmuccol ul li:last-child{
    border-bottom:none;
}
.danhmuccol ul li.hasChild>ul {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 500ms ease;
    transition: max-height 500ms ease;
}
.danhmuccol ul li.hasChild i.fa {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    font-size: 15px;
    padding: 9px;
}
.danhmuccol ul li.active>ul {
    display: block !important;
}
.danhmuccol li>a:hover,
.danhmuccol li.active>a {
    color: [ws_colorMain];
    font-weight: bold;
}
ul.lienketwebsite {
    padding: 8px;
}
ul.lienketwebsite li {
    font-weight: bold;
    border-bottom: 1px dotted #CCC;
}
ul.lienketwebsite li:last-child {
    border-bottom: none;
}
ul.lienketwebsite li a {
    padding: 10px 5px;
    display: block;
}
ul.lienketwebsite li a:hover {
    color: #F00;
}
ul.lienketwebsite li a i {
    margin-right: 8px;
}
.title_tinlienquan i {
    padding-right: 5px;
}
/* TIEU DE LIEN QUAN */
.titlelienquan {
    width: 100%;
    position: relative;
    display: block;
    z-index: 999;
}
.group_tin_tieude .htitle .fa {
    vertical-align: middle;
    font-size: 22px;
}
.group_tin_tieude .htitle span,
.titlelienquan .htitle span {
    display: block;
    float: left;
    text-align: center;
    padding-left: 10px;
}
.titlelienquan .htitle span img {
    max-width: 40px;
    max-height: 40px;
    height: 38px;
}
.titlelienquan .htitle a:hover {
    color: [ws_hover];
}
.ul_noidung_templates {
    text-align: left;
}
.ul_noidung_templates li {
    text-align: left;
    clear: both;
    border-bottom: 1px dotted #e8e8e8;
    padding: 5px;
}
.ul_noidung_templates li:last-child {
    border-bottom: none;
}
.ul_noidung_templates li p.tieude {
    padding-bottom: 5px;
    font-weight: bold;
}
.ul_noidung_templates li p.tieude a {
    font-family: "OpenSans-SemiBold";
    font-size: 14px;
    transition:all ease .3s;
    -webkit-transition:all ease .3s;
}
.ul_noidung_templates li p.tieude a:hover {
    color: [ws_colorMain];
}
.ul_noidung_templates li a {
    color: #000;
}
.ul_noidung_templates li .img {
    width: 25%;
    float: left;
    margin: 1% 2% 1% 1%;
    overflow: hidden;
}
.ul_noidung_templates li .motatin{
    line-height: 20px;
    max-height: 60px;
    overflow: hidden;
    font-size: 14px;
    margin-bottom: 8px;
}
.ul_noidung_templates li .img img {
    max-width: 100%;
}
.ul_noidung_templates li .chitiet {
    float: right;
    background-color: [ws_colorMain];
    padding: 3px 5px;
    border-radius: 2px;
}
.ul_noidung_templates li .chitiet:hover {
    cursor: pointer;
    background-color: [ws_colorHover];
}
.ul_noidung_templates li .chitiet a {
    color: #FFF;
}
.danhmuccol,
.danhmuccol>ul>li:last-child {
    border-radius: 0px 0px 20px 20px !important;
}
.tbl-heo {
    border-collapse: collapse;
    width: 100%;
}
.tbl-heo tr,
.tbl-heo td {
    border: thin solid #CCC;
    padding: 5px;
}
.search-sidebar-content {
    padding: 10px;
}
.content_cotmobile .titlelienquan .htitle a{
    padding: 10px 0;
    padding-left: 10px;
    display: inline-block;
}
.danhmucmobile ul li{
    padding:2px 0;
    background-color:#FFF;
}
@media(max-width: 768px){
    #colcontent #wapper_slide{
        display:none;
    }
}