.form-group.icon-input {
    position: relative;
}
.form-group.icon-input i.fa {
    position: absolute;
    left: 5px;
    top: 0;
    line-height: 34px;
    color: rgba(0,0,0,.35);
    font-size: 18px;
}
.form-group.icon-input textarea,
.form-group.icon-input input {
    padding-left: 25px;
}
.comment{

}
.comment_col1{
	float:left;
	width: 48%;
	margin-right: 2%;
}
.comment_col2{
	float:right;
	width:48%;
}
.comment button{
	float:right;
	margin-left:25px;
}
.titlecomment{
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: [ws_colorMain];
	color: #FFF;
	padding: 8px 10px;
	display: table;
	border-radius: 5px;
	margin-bottom: 15px;
	position: relative;
}
.titlecomment:after,
.titlecomment:before {
	top: 100%;
	left: 30%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.titlecomment:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: [ws_colorMain];
	border-width: 13px;
	margin-left: -13px;
}
.titlecomment:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: [ws_colorMain];
	border-width: 15px;
	margin-left: -15px;
}

.frm-comment{
    background-color: rgba(241, 241, 241, 0.48);
    padding: 10px;
    border-radius: 5px;
}
.frm-comment .btngroup{
	display: table;
	margin:auto;
}
.frm-comment input{
	padding-right: 15px;
}
.frm-comment .btngroup button{
	float:left;
	margin:8px;
}
.frm-comment .require{
	color: #F00;
    font-style: italic;
    position: absolute;
    right: 9px;
    top: 13px;
    font-size: 25px;
}
.countcomment{
	font-weight: bold;
	padding-left:5px;
}

.ul-comment li .binhluan_name{font-weight:bold; padding:6px;color:#127711;}
.ul-comment li .binhluan_mota{padding:3px 3px 5px 10px;border-left: 5px solid #78B43D;box-shadow: 0 4px 6px rgba(0,0,0,0.1); margin-left: 20px;}
.ul-comment li .chan{background-color:#E8E8E8;}
.ul-comment li .le{background-color:#E8E8E8;}
.ul-comment li{margin-bottom:15px;}
.ul-comment li ul{margin-left:30px;background-color:#F9F9F9;margin-top:10px;}
.ul-comment li ul li .binhluan_mota{border-left:5px solid #F26328;}
.binhluan_title{font-weight: bold; background-color:#CCC;padding:5px 8px;text-transform: uppercase;margin-top:10px;margin-bottom: 10px;}
.ngaybinhluan{color:#579619;font-style: italic;padding-left: 20px;}
.traloibinhluan{margin:8px 20px;font-style: italic;cursor: pointer;}
.traloibinhluan a{color:#000;}
.traloibinhluan a:hover{color:red; }
.ul-comment li .binhluan_nhom3{background-color:#FFF;}
.ul-comment li .binhluan_nhom4{background-color:#DDD;}
.ul-comment li ul li ul li .binhluan_mota{border-left:5px solid #E1CE52;}
.ul-comment li ul li ul li ul li .binhluan_mota{border-left:5px solid #04AFDB;}
.xemthembinhluan{
	display:table;
	margin:auto;
}
.xemthembinhluan a{padding:10px 10px;background-color: #E8E8E8;text-transform: uppercase;}
.xemthembinhluan a:hover{background-color:#CCC;}
#replace_binhluan{
	display: none;
}
@media (max-width:480px){
	.comment_col1, .comment_col2{
		width: 100%;
	}
}