.info-container .info-left {
    border-top: 2px solid #d4d4d4;
    width: 60%;
    margin-right: 2%;
    float: left;
    padding: 20px 0;
    display: table;
    font-family: 'tahoma';
    font-size: 14px;
    color: #000;
    line-height: 1.8;
}
.info-container .info-right {
    width: 38%;
    display: table;
}
.info-container .chinhsach {
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    display: table;
    width: 100%;
    margin-bottom: 10px;
}
.info-container .chinhsach .cs-tittle {
    border-bottom: 1px solid #d4d4d4;
    background: #f5f5f5;
    padding: 2px 10px;
    font-family: 'tahoma';
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
}
.info-container .chinhsach .cs-tittle img {
    margin-right: 10px;
    float: left;
}
.info-container .chinhsach .cs-tittle span {
    display: table;
    padding: 5px;
}
.info-container .chinhsach .cs-main {
    padding: 10px;
    font-family: 'tahoma';
    font-size: 12px;
    line-height: 1.8;
}
/**/
.danhmucSp {
    display: block;
    margin: 15px 0;
}
.dmRun {
    position: relative;
}
.dmRun.owl-carousel .owl-nav [class^="owl-"] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 8px 11px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}
.dmRun.owl-carousel .owl-nav [class^="owl-"] i.fa {
    width: unset;
    color: #fff;
    display: table;
}
.dmRun.owl-carousel .owl-nav .owl-prev {
    left: 0;
}
.dmRun.owl-carousel .owl-nav .owl-next {
    right: 0;
}
/*tabRun*/
.tabRun {
    position: relative;
}
.tabRun.owl-carousel .owl-nav [class^="owl-"] {
    position: absolute;
    top: 49%;
    transform: translateY(-50%);
    padding: 8px 11px;
    background: rgba(0, 0, 0, 0.3);
}
.tabRun.owl-carousel .owl-nav [class^="owl-"] i.fa {
    width: unset;
    color: #fff;
    display: table;
}
.tabRun.owl-carousel .owl-nav .owl-prev {
    left: 0;
}
.tabRun.owl-carousel .owl-nav .owl-next {
    right: 0;
}
/*khuyenmaiRun*/
.khuyenmaiRun {
    position: relative;
}
.khuyenmaiRun.owl-carousel .owl-nav [class^="owl-"] {
    position: absolute;
    top: 49%;
    transform: translateY(-50%);
    padding: 8px 11px;
    background: rgba(0, 0, 0, 0.3);
}
.khuyenmaiRun.owl-carousel .owl-nav [class^="owl-"] i.fa {
    width: unset;
    color: #fff;
    display: table;
}
.khuyenmaiRun.owl-carousel .owl-nav .owl-prev {
    left: 0;
}
.khuyenmaiRun.owl-carousel .owl-nav .owl-next {
    right: 0;
}
.categories {
    padding: 5px;
    text-decoration: none;
    color: rgba(0, 0, 0, .8);
    border-right: 1px solid rgba(0, 0, 0, .05);
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    text-align: center;
    background-color: #fff;
    display: block;
    position: relative;
}
.categories.active {
    border: 1px solid #20BA2E;
}
.categories:hover {
    z-index: 1;
    border-color: rgba(0, 0, 0, .12);
    box-shadow: 0 0 1.3rem 0 rgba(0, 0, 0, .05);
}
.categories img {
    width: auto !important;
    max-width: 100%;
    margin: auto;
}
.tentieude {
    color: rgba(0, 0, 0, .8);
    font-size: 14px;
    text-decoration: none;
    line-height: 1.5;
    display: block;
    height: 42px;
    overflow: hidden;
    text-align: center;
}
.tabName {
    display: inline-block;
    float: left;
    width: auto;
    padding: 8px 16px;
    font-family: 'Tahoma Bold';
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
}
.tabs {
    margin-bottom: 15px;
}
.tablinks {
    padding: 5px 10px;
    background: [ws_colorMenu];
    margin-right: 10px;
    border: unset;
    outline: unset;
}
.tablinks a {
    color: #fff;
}
/*=========*/
.modal-content {
    padding: 15px;
}
.contentlogin h2 {
    margin-bottom: 20px !important;
}
.login-box {
    position: relative;
    float: right;
    border-radius: 0;
    z-index: 999;
}
.login-box a {
    line-height: 30px;
}
.modal-body {
    padding: 15px;
}
/**/
.textRun {
    display: table;
    float: right;
    font-family: 'OpenSans';
    font-size: 14px;
}
/**/
.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix:after {
    clear: both;
}
html,
body,
div,
span,
applet,
object,
iframe,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
tt,
var,
b,
u,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
legend,
caption,
tbody,
tfoot,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
p,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    line-height: 20px;
}
ol,
ul,
li {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
    color: #000;
}
a:hover {
    cursor: pointer;
}
a:hover,
a:focus,
a:visited {
    text-decoration: none;
    color: #000;
}
img {
    border: none;
}
input {
    line-height: normal;
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
/* @font-face {
font-family: 'uvnhonghahep';
src: url("../fonts/RobotoCondensed-Light.ttf") format("truetype");
font-weight: bold;
font-style: normal;}
*/
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans.woff2') format('woff2'),
        url('../fonts/OpenSans.woff') format('woff'),
        url('../fonts/OpenSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Tahoma Bold';
    src: url('../fonts/tahomabd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'tahoma';
    src: url('../fonts/tahoma.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoCondensedBold';
    src: url('../fonts/RobotoCondensed-Bold.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-Bold.woff') format('woff'),
        url('../fonts/RobotoCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'UTMHelve_Bold';
    src: url('../fonts/UTMHelveBold.woff2') format('woff2'),
        url('../fonts/UTMHelveBold.woff') format('woff'),
        url('../fonts/UTMHelveBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'UTMHelve';
    src: url('../fonts/UTMHelve.woff2') format('woff2'),
        url('../fonts/UTMHelve.woff') format('woff'),
        url('../fonts/UTMHelve.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GMVURWGeometric';
    src: url('../fonts/GMVURWGeometric-Regular.woff2') format('woff2'),
        url('../fonts/GMVURWGeometric-Regular.woff') format('woff'),
        url('../fonts/GMVURWGeometric-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GMVURWGeometricBold';
    src: url('../fonts/GMVURWGeometric-Bold.woff2') format('woff2'),
        url('../fonts/GMVURWGeometric-Bold.woff') format('woff'),
        url('../fonts/GMVURWGeometric-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoCondensedRegular';
    src: url('../fonts/RobotoCondensed-Regular.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-Regular.woff') format('woff'),
        url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas';
    src: url("../fonts/UTM Bebas.eot");
    src: url("../fonts/UTM Bebas.eot?#iefix") format("embedded-opentype"), url("../fonts/UTM Bebas.woff2") format("woff2"), url("../fonts/UTM Bebas.woff") format("woff"), url("../fonts/UTM Bebas.ttf") format("truetype"), url("../fonts/UTM Bebas.svg#utm_bebasregular") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UTMCentureBold';
    src: url('../fonts/UTMCenturBold.woff2') format('woff2'),
        url('../fonts/UTMCenturBold.woff') format('woff'),
        url('../fonts/UTMCenturBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoBlack';
    src: url('../fonts/Roboto-Black.woff2') format('woff2'),
        url('../fonts/Roboto-Black.woff') format('woff'),
        url('../fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'SFUFuturaHeavy';
    src: url('../fonts/SFUFuturaHeavy.woff2') format('woff2'),
        url('../fonts/SFUFuturaHeavy.woff') format('woff'),
        url('../fonts/SFUFuturaHeavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.woff2') format('woff2'),
        url('../fonts/Oswald-Regular.woff') format('woff'),
        url('../fonts/Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Fjalla_One';
    src: url('../fonts/FjallaOne-Regular.woff2') format('woff2'),
        url('../fonts/FjallaOne-Regular.woff') format('woff'),
        url('../fonts/FjallaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UTM Flamenco';
    src: url('../fonts/UTM Flamenco.eot');
    src: url('../fonts/UTM Flamenco.woff2') format('woff2'), url('../fonts/UTM Flamenco.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UTMFlamenco';
    src: url('../fonts/UTMFlamenco.woff') format('woff'), url('../fonts/UTMFlamenco.ttf') format('truetype'), url('../fonts/UTMFlamenco.svg#UTMFlamenco') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UTMAvo';
    src: url("../fonts/UTMAvo.woff") format("woff"), url("../fonts/UTMAvo.ttf") format("truetype"), url("../fonts/UTMAvo.svg#UTMAvo") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UTMAvobold';
    src: url("../fonts/UTM Avo.eot");
    src: url("../fonts/UTM Avo.woff2") format("woff2"), url("../fonts/UTM Avo.eot?#iefix") format("embedded-opentype");
    font-weight: bold;
    font-style: bold;
}
@font-face {
    font-family: 'UTM Alter Gothic';
    src: url("../fonts/UTMAlterGothic.eot");
    src: url("../fonts/UTMAlterGothic.eot?#iefix") format("embedded-opentype"), url("../fonts/UTMAlterGothic.woff") format("woff"), url("../fonts/UTMAlterGothic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-CondBold';
    src: url('../fonts/OpenSans-CondBold.eot');
    src: url('../fonts/OpenSans-CondBold.woff2') format('woff2'), url('../fonts/OpenSans-CondBold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-CondensedBold';
    src: url('../fonts/OpenSans-CondensedBold.woff') format('woff'), url('../fonts/OpenSans-CondensedBold.ttf') format('truetype'), url('../fonts/OpenSans-CondensedBold.svg#OpenSans-CondensedBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-CondLight';
    src: url('../fonts/OpenSans-CondLight.eot');
    src: url('../fonts/OpenSans-CondLight.woff2') format('woff2'), url('../fonts/OpenSans-CondLight.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-CondensedLight';
    src: url('../fonts/OpenSans-CondensedLight.woff') format('woff'), url('../fonts/OpenSans-CondensedLight.ttf') format('truetype'), url('../fonts/OpenSans-CondensedLight.svg#OpenSans-CondensedLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*@font-face {
font-family: 'UTM Aurora';
src: url('../fonts/UTM Aurora.eot');
src: url('../fonts/UTM Aurora.woff2') format('woff2'), url('../fonts/UTM Aurora.eot?#iefix') format('embedded-opentype');
font-weight: normal;
font-style: normal;}
@font-face {
font-family: 'UTMAurora';
src: url('../fonts/UTMAurora.woff') format('woff'), url('../fonts/UTMAurora.ttf') format('truetype'), url('../fonts/UTMAurora.svg#UTMAurora') format('svg');
font-weight: normal;
font-style: normal;}
@font-face {
font-family: 'UTM Swiss CondensedBold';
src: url("../fonts/UTM Swiss CondensedBold.eot");
src: url("../fonts/UTM Swiss CondensedBold.woff2") format("woff2"), url("../fonts/UTM Swiss CondensedBold.eot?#iefix") format("embedded-opentype");
font-weight: normal;
font-style: normal;}
 */
@font-face {
    font-family: 'UTMAvoBold';
    src: url("../fonts/UTMAvoBold.woff") format("woff"), url("../fonts/UTMAvoBold.ttf") format("truetype"), url("../fonts/UTMAvoBold.svg#UTMAvoBold") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UTMCafeta';
    src: url('../fonts/UTMCafeta.woff2') format('woff2'),
        url('../fonts/UTMCafeta.woff') format('woff'),
        url('../fonts/UTMCafeta.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'), url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans.woff') format('woff'), url('../fonts/OpenSans.ttf') format('truetype'), url('../fonts/OpenSans.svg#OpenSans') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.eot');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('../fonts/OpenSans-Semibold.woff2') format('woff2'),
        url('../fonts/OpenSans-Semibold.woff') format('woff'),
        url('../fonts/OpenSans-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
.ws-container {
    display: block;
    width: 100%;
    position: relative;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.clickToCall {
    display: none;
}
.nothome #wapper_slide:after {
    display: none;
}
span.menu-lbl,
.phone-mobile {
    display: none;
}
.nothome .content_content {
    padding-top: 30px;
}
.nothome .picture .content_content {
    margin-right: -2%;
}
/* START CSS BACKTOTOP */
.go-top {
    position: fixed;
    bottom: 30px;
    right: 5px;
    text-decoration: none;
    color: #000;
    font-size: 12px;
    opacity: 0.5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.3s;
    z-index: 9999;
}
.go-top .tool-tip {
    display: none;
    background-color: #0075ff;
    color: #FFF;
    border: 1px solid #607D8B;
    position: absolute;
    right: 42px;
    top: 20px;
    opacity: 1;
    min-width: 80px;
    padding: 3px 5px;
    border-radius: 6px;
}
.go-top .tool-tip:after {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 17.3px 10px;
    border-color: transparent transparent #007bff transparent;
}
.go-top:hover .tool-tip {
    display: block;
    -webkit-animation: ani-totop 1s linear infinite;
    animation: ani-totop 1s linear infinite;
}
.go-top>span {
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 30px;
    height: 30px;
    background-color: #FFF;
    border-radius: 50%;
    -webkit-transition: all ease 400ms;
    transition: all ease 400ms;
}
.go-top>span .fa {
    font-size: 25px;
    font-weight: bold;
    color: #494d4e;
}
.go-top:hover {
    background-color: #494d4e;
    opacity: 1;
}
.jratingcategories {
    margin: auto;
}
@-webkit-keyframes ani-totop {
    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    25%,
    75% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
    50% {
        -webkit-transform: translateY(-25px);
        transform: translateY(-25px);
    }
}
@keyframes ani-totop {
    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    25%,
    75% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
    50% {
        -webkit-transform: translateY(-25px);
        transform: translateY(-25px);
    }
}
/* END CSS BACKTOTOP */
/* CSS LOADING */
.ws-wating {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 999999;
}
.ws-wating-content {
    position: absolute;
    top: calc(50% - 30px);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    height: 80px;
    background-color: #0075ff;
    border: 3px solid #FFF;
    border-radius: 50%;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-align-items: center;
    align-items: center;
}
.ws-wating-load {
    position: absolute;
    top: 25px;
    width: 100%;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: aniWaiting 1.2s linear infinite;
    animation: aniWaiting 1.2s linear infinite;
}
.ws-wating-load:before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: yellow;
    border-radius: 50%;
}
.ws-wating-text {
    position: absolute;
    top: 12px;
    width: 100%;
    font-size: 14px;
    color: #FFF;
    text-align: center;
}
.ws-wating-text p {
    margin: 0;
    line-height: 50px;
}
@-webkit-keyframes aniWaiting {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes aniWaiting {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes rotate360 {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes rotate360 {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-ms-keyframes rotate360 {
    100% {
        -ms-transform: rotate(360deg);
    }
}
@-o-keyframes rotate360 {
    100% {
        -o-transform: rotate(360deg);
    }
}
@keyframes rotate360 {
    100% {
        transform: rotate(360deg);
    }
}
.rotate360:hover {
    -webkit-animation: rotate360 2s;
    -moz-animation: rotate360 2s;
    -ms-animation: rotate360 2s;
    -o-animation: rotate360 2s;
    animation: rotate360 2s;
}
h1.title {
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
}
.user h1.title {
    margin-bottom: 20px;
}
h1.title a {
    color: #000;
}
h1.title a:hover {
    color: #F00;
}
.type-view {
    visibility: hidden;
    position: relative;
    margin-left: auto;
}
.type-view ul {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
}
.type-view ul li:first-child {
    margin-left: auto;
}
.type-view ul li {
    padding: 0 3px;
}
.row_content:not(:last-of-type) {
    margin-bottom: 35px;
}
.wrapper-map {
    display: block;
    width: 100%;
    margin: 20px 0 0 0;
}
.ngaycapnhat {
    display: block;
    font-size: 11px;
    color: #000;
}
.clear {
    clear: both;
}
.titlebase {
    width: 100%;
    text-align: left;
    position: relative;
    margin-bottom: 20px;
}
.titlebase .img {
    display: inline-block;
    height: 38px;
    width: auto;
    padding: 0 10px;
    padding-top: 5px;
    margin: auto;
    text-align: center;
    float: left;
    background-color: [ws_colorTitle];
}
.titlebase .img .fa {
    text-align: center;
    font-size: 20px;
    padding: 5px 1px;
    color: #FFF;
}
.titlebase h2 {
    display: block;
    position: relative;
    margin: 0;
    width: auto;
    float: left;
}
.titlebase a {
    display: block;
    width: auto;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    text-align: center;
    color: #000000;
    font-size: 30px;
    font-family: 'UTM Alter Gothic';
    text-transform: uppercase;
}
/*.titlebase a:after{
content: "";
width: 0;
height: 0;
border-style: solid;
border-width: 38px 0 0 39px;
border-color: transparent transparent transparent [ws_colorMain];
position: absolute;
right: -39px;
top: 0;}
*/
.titlebase a .img img {
    height: 22px;
    width: 24px;
}
.titlebase .tentieude {
    display: inline-block;
    float: left;
    padding: 10px 0;
    padding-left: 10px;
    width: auto;
    background-color: [ws_colorMain];
    font-family: "RobotoCondensedBold";
    color: #FFF;
    font-size: 17px;
    text-transform: uppercase;
}
.titlebase a>span.bo {
    border-bottom: 4px solid [ws_colorMain];
    ;
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
}
.titlebase.main a>span.bo {
    border-bottom-color: [ws_colorMain];
}
.titlebase a>span.icon {
    background: transparent url("../images/thuoc.png") no-repeat top left;
    background-size: 100% 100%;
    display: inline-block;
    width: 17px;
    height: 14px;
    margin-right: 10px;
}
.titlebase.center a {
    padding: 10px 15px;
}
.titlebase .xemtatca {
    position: absolute;
    right: 0;
    bottom: 0;
}
.titlebase .xemtatca>a {
    font-size: 12px;
    color: #828282;
    text-transform: uppercase;
    font-family: 'OpenSans', arial;
}
.titlebase a:hover {
    cursor: pointer;
}
.titlebase-home {
    text-align: left;
    position: relative;
    margin-bottom: 5px;
}
.titlebase-home h2 {
    display: block;
    position: relative;
    margin: 0;
    width: auto;
    text-align: center;
}
.titlebase-home a {
    display: flex;
    width: auto;
}
/*.titlebase-home a:after{
content: "";
width: 0;
height: 0;
background-image:url({$root_path}
uploads/images/bgtieude.png);
background-repeat: no-repeat;
background-position: center center;
left: 0;
right: 0;
bottom:-25px;
margin: auto;
position: absolute;
height: 20px;
width: 100%;}
*/
/*.titlebase-home a:hover {
color: [ws_colorHover];}
*/
.titlebase-home a .img {
    display: inline-block;
    height: 38px;
    width: auto;
    padding: 2px 10px;
    margin: auto;
    text-align: center;
    float: left;
    background-color: [ws_colorTitle];
}
.titlebase-home a .img img {
    height: 24px;
    width: 24px;
}
.titlebase-home a .img .fa {
    color: #FFF;
    font-size: 27px;
}
.titlebase-home a .tentieude {
    display: inline-block;
    float: left;
    width: auto;
    padding: 8px 16px;
    font-family: 'Tahoma Bold';
    color: #fff;
    background: [ws_colorTitle];
    font-size: 15px;
    text-transform: uppercase;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
}
.titlebase-home a .tentieude:hover {
    color: [ws_colorHover];
}
.titlebase-home .title-mota {
    font-family: 'RobotoCondensedRegular';
    font-size: 19px;
    color: [ws_colorTitle];
    display: table;
    margin: auto;
}
/*.titlebase-home .tria {
position: absolute;
left: 50%;
transform: translateX(-50%);
top: 100%;
height: 28px;
width: 241px;
background: url({$root_path}
templates/images/tittle-tria.png) no-repeat 100%;
background-position: center;
margin-bottom: 15px;}
*/
.thongkecontent {
    background-color: #FFF;
    border-radius: 3px;
    max-width: 200px;
}
.title-base,
.title-basses a,
.attachment-head a,
.highlight-title>li>strong {
    font: bold 16px/1.65rem Arial, sans-serif;
    color: #333;
}
span.sao {
    color: red;
    font-size: 10px;
    vertical-align: middle;
}
#breadcrumbs {
    /*border-radius: 3px;*/
    padding: 5px 0px;
    /*-webkit-box-shadow: 0px 1px 1px #CCC;
box-shadow: 0px 1px 1px #CCC;*/
    background: #edecec;
    color: #000000;
    font-family: 'tahoma';
    font-size: 14px;
}
.product-title-big {
    font-size: 18px;
    font-family: "RobotoCondensedRegular";
    color: [ws_colorMain];
    text-transform: uppercase;
}
.content-info-file,
.content-info-txt {
    position: relative;
    border-bottom: 1px solid #ddd;
    padding: 10px 5px;
    font-size: 13px;
    overflow: hidden;
}
.content-info-file>strong,
.content-info-txt>div>strong {
    font-weight: bold;
    color: #043d86;
}
.content-info-txt .writer {
    float: left;
}
.content-info-txt .dater,
.content-info-txt .viewer {
    float: right;
}
.content-info-txt .viewer {
    padding-left: 30px;
}
.noidung.service {
    border-bottom: 1px solid #DDD;
    padding-bottom: 50px;
}
.content-title-head .product-title-big {
    background: #fbfbfb;
    margin: 0;
    padding: 18px 20px;
    line-height: 140%;
    border-bottom: 1px solid #bac2ca;
    color: #043d86;
    font-size: 15px;
}
.bottomfix {
    background-position: top center;
    background-repeat: no-repeat;
}
.doitacRun {
    position: relative;
}
.doitacRun.owl-carousel .owl-nav [class^="owl-"] {
    position: absolute;
    top: 45%;
    text-align: center;
}
.doitacRun.owl-carousel .owl-nav [class^="owl-"] .fa {
    font-size: 20px;
}
.doitacRun.owl-carousel .owl-nav .owl-prev {
    right: 100%;
}
.doitacRun.owl-carousel .owl-nav .owl-next {
    left: 100%;
}
/*.owl-carousel .owl-nav{
position: absolute;
top: 35%;
right: 25px;
margin-top: 0;}
*/
.owl-carousel .owl-nav [class^="owl-"] {
    top: 45%;
    text-align: center;
    /*background-color: rgba(204, 204, 204, 0.28);*/
    display: inline-block;
    border-radius: 0;
    margin: 0;
    padding: 0;
}
.owl-theme .owl-nav [class*=owl-] {
    /*padding:2px 5px;*/
}
.owl-carousel .owl-nav [class^="owl-"] i.fa {
    font-size: 21px;
    color: #adadad;
    width: 30px;
    height: auto;
}
.nothome .owl-carousel .owl-nav [class^="owl-"] i.fa {
    font-size: 17px;
    line-height: 28px;
    width: 30px;
    height: 30px;
}
.no-focus:focus,
.no-focus:hover,
.no-focus:active,
.no-focus:visited {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}
#fullpopup {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    z-index: 9;
    padding: 0;
    margin: 0;
}
#contentpopup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9;
    background: transparent;
    width: 100%;
    height: 100%;
}
.closepopup {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 15px;
    color: red;
    font-weight: bold;
    background-color: white;
    font-size: 20px;
    z-index: 99;
    cursor: pointer;
}
.contentpopup {
    max-width: 650px;
    height: auto;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.pb-0 {
    padding-bottom: 0 !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.mb-5 {
    margin-bottom: 5px !important;
}
.ws-shadow {
    -webkit-box-shadow: -4px 0 15px -5px rgba(0, 0, 0, .5), 4px 0 15px -5px rgba(0, 0, 0, .5);
    box-shadow: -4px 0 15px -5px rgba(0, 0, 0, .5), 4px 0 15px -5px rgba(0, 0, 0, .5);
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.menu-bottom,
#btn-right {
    display: none;
}
/* select2 custom */
.form-control-select2:focus {
    outline: none;
}
.select2-container--default .form-control-select2 .select2-selection__arrow {
    height: 32px;
}
.select2-container--default .form-control-select2 .select2-selection__arrow b {
    border-top-color: #555;
}
.select2-container--default .form-control-select2 {
    padding-top: 0;
    padding-bottom: 0;
    height: 34px;
    border-color: #ccc;
}
.select2-container--default .form-control-select2 .select2-selection__rendered {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
/* select2 custom */
.chatfanpage {
    position: fixed;
    right: 5px;
    bottom: 20%;
    background: transparent url("../images/icon_chat.png") no-repeat top left;
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
    z-index: 9;
    text-indent: -9999px;
}
.chatfanpage a {
    cursor: pointer;
    display: block;
}
.modal-chat {
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    background: rgba(0, 0, 0, .7);
    z-index: 999;
    overflow: auto;
}
.modal-chat .inner {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 440px;
    margin-top: -250px;
    margin-left: -220px;
    background: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    z-index: 999;
}
.modal-chat .body-chat {
    padding: 20px 15px;
}
.modal-chat .close {
    margin-top: -20px;
    font-size: 40px;
}
.title-chat {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    color: [ws_colorMain];
}
.title-category {
    margin-bottom: 50px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 44px;
    display: block;
    font-size: 30px;
    line-height: 100%;
    color: #222;
    font-weight: bold;
}
.content-title-head {
    position: relative;
    width: 100%;
    border-top: 2px solid #043d86;
}
.khuyenmai-title,
.title-base,
.banchay-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
.banchay-title {
    position: relative;
    text-align: center;
    font-size: 24px;
    height: 45px;
    margin-top: 30px;
}
.banchay-title:after {
    content: "";
    display: table;
    height: 3px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #dd8023;
    margin-top: 10px;
}
.khuyenmai-title {
    position: relative;
    font-size: 22px;
    height: 36px;
    margin-bottom: 15px;
    padding-top: 10px;
    border-bottom: 2px solid #CCC;
    padding-bottom: 35px;
}
.khuyenmai-title:after {
    content: "";
    display: table;
    height: 4px;
    width: 100px;
    background-color: [ws_colorMain];
    position: absolute;
    bottom: -3px;
    left: 0;
}
.khuyenmai-title span {
    color: [ws_colorMain];
}
.noidungchitiet {
    font-size: 15px;
}
.noidungchitiet img {
    max-width: 100%;
}
.noidungchitiet p {
    padding-bottom: 10px;
    line-height: 22px;
}
.noidungchitiet h1.title {
    margin-bottom: 15px;
}
.xemtatca {
    display: inline-block;
    position: relative;
    float: right;
}
.xemtatca a {
    padding: 14px 11px;
    background-color: transparent;
    font-family: "RobotoCondensedRegular";
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
}
.xemtatca a .fa {
    vertical-align: middle;
    padding-right: 5px;
    padding-top: 3px;
    color: [ws_colorTitle];
}
.xemtatca a:hover {
    color: [ws_colorHover];
}
.group_bottom_fix {
    margin-top: 30px;
}
.nothome .noidung_thongbao {
    display: none;
}
.noidung_thongbao .bentrong {
    background-color: #FFF;
    margin-bottom: 30px;
}
.noidung_thongbao .bentrong .noidung {
    display: inline-block;
    margin-bottom: 30px;
}
.noidung_thongbao .bentrong .noidung p {
    font-family: "UTMHelve";
    font-size: 18px;
    color: #3c3c3c;
    margin-bottom: 20px;
    line-height: 1.5;
}
.noidung_thongbao .noidung li {
    width: 32%;
    margin-right: 2%;
    float: left;
    vertical-align: middle;
    font-family: "OpenSans-Semibold";
}
.noidung_thongbao .noidung li:last-child {
    margin-right: 0;
    border: none;
}
.noidung_thongbao .noidung li img {
    display: block;
    margin: auto;
}
.noidung_thongbao .noidung li p {
    width: auto;
    float: left;
    padding-left: 10px;
}
.noidung_thongbao .bentrong .haihinhqc {
    display: inline-block;
    width: 100%
}
.noidung_thongbao .bentrong .haihinhqc ul li {
    width: 48%;
    margin-right: 2%;
    float: left;
}
.noidung_thongbao .bentrong .haihinhqc ul li img {
    width: 100% !important;
    /*height:auto !important;*/
}
.noidung_menu {
    font-size: 15px;
    padding: 10px 5px;
    line-height: 25px;
    margin-bottom: 10px;
}
.noidung_menu img,
.noidung_menu table,
.noidung_menu div {
    max-width: 100%;
}
.ul_quangcao li {
    float: left;
}
.ul_quangcao li img {
    max-width: 100%;
}
.noidungchitiet h2,
.noidungchitiet h3,
.noidungchitiet h4 {
    font-size: 16px;
    line-height: 25px;
}
/*intro*/
.modulesIntro {
    padding: 40px 0;
}
.introDes {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'UTMHelve';
}
.introDes .xemchitiet {
    padding: 10px 15px;
    background: #fff;
    border: 1px solid #019fe9;
    display: table;
    margin-top: 20px;
}
.introDes .xemchitiet a {
    color: #019fe9;
    margin-right: 10px;
}
.introDes .xemchitiet a:hover {
    color: #ff0000;
}
.introDes .xemchitiet:hover i {
    color: #ff0000;
}
.introDes .xemchitiet i {
    color: #019fe9;
}
.introImg img {
    max-width: 100%;
    height: auto;
    width: 100%;
}
/*--*/
/**/
.ngayandxem {
    display: none;
}
.ngayandxem {
    display: table;
    /*width: 100%;*/
    color: #000000;
    font-family: 'OpenSans';
    font-size: 13px;
    padding: 2.5px 5px;
}
.ngayandxem i {
    color: #6e6e6e;
}
.ngayandxem .datef {
    margin-right: 30px;
    float: left;
    display: table;
}
.ngayandxem .yeyf {
    display: table;
}
/**/
.addIntro {
    display: table;
    width: 100%;
    background: #f1f1f1;
    padding: 40px 0;
}
.addIntro img {
    border: 1px solid #ddd;
    max-width: 100%;
    display: table;
    margin: auto;
}
.cu-pointer {
    cursor: pointer;
}
@media(min-width: 768px) {
    .bg-df {
        background-color: #FFF;
    }
}
@media(max-width: 1024px) {
    .noidung_thongbao .noidung li {
        padding: 0;
    }
}
@media (max-width: 768px) {
    .modal-dialog {
        max-width: 100% !important;
        margin: 0;
    }
    .ws-container .ws-container {
        padding: 0;
    }
    .thitruong,
    .khtieubieu {
        margin-bottom: 20px;
    }
    .noidung_menu img {
        max-width: 100%;
        height: auto !important;
    }
    .noidung_thongbao .noidung li {
        width: 32%;
        margin-bottom: 5px;
        border: none;
        text-align: center;
    }
    .sanphamlienquan .owl-carousel .owl-nav {
        right: 0;
    }
    .noidung_thongbao .noidung li img {
        float: none;
        width: 100% !important;
        height: auto !important;
        display: block;
        text-align: center;
        margin: auto;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .noidung_thongbao .noidung li:last-child {
        width: 32%;
    }
    .khuyenmai-title {
        font-size: 18px;
        line-height: 1.5;
        height: auto;
        padding-bottom: 15px;
    }
    .searchitem {
        float: right;
        padding: 10px 15px;
    }
    .searchitem .fa {
        font-size: 16px;
        color: white;
        cursor: pointer;
    }
    .chatfanpage {
        display: none;
    }
    .menu-bottom {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 9;
    }
    .menu-bottom li {
        float: left;
        width: 33.333%;
        text-align: center;
    }
    .menu-bottom li a {
        padding: 10px 5px;
        cursor: pointer;
        display: block;
        background: [ws_colorTitle];
        color: #FFF;
        font: normal 14px arial, helvetica;
    }
    .menu-bottom li:not(:last-child) a {
        border-right: 1px solid #FFF;
    }
    .noidungchitiet img {
        height: auto !important;
    }
    .info-container .info-left {
        width: 100%;
    }
    .info-container .info-right {
        width: 100%;
    }
    .info-container .chinhsach {
        width: 49%;
        float: left;
    }
    .info-container .chinhsach:first-child {
        margin-right: 2%;
    }
}
@media(max-width: 640px) {
    .titlebase a {
        font-size: 18px;
    }
    .list-subcat {
        display: none;
    }
    .titlebase a .img {
        padding-top: 9px;
    }
}
@media(max-width: 480px) {
    .nothome{
        background-color: #FFF;
    }
    .danhmucSp {
        margin-top: 5px;
        margin-bottom: 0;
    }
    .categories {
        border: none;
        padding:0px 3px;
    }
    .xemtatca {
        position: absolute;
        right: 0;
    }
    .noidung_thongbao .bentrong .haihinhqc ul li {
        width: 100%;
        margin-bottom: 10px;
    }
    .modulesIntro {
        padding: 20px 0;
    }
    .titlebase-home a .tentieude {
        font: 24px;
        width:100%;
    }
    .info-container .chinhsach {
        width: 100%;
    }
    .categories .tentieude{
        font-size: 12px;
    }
}
@media(max-width: 375px) {
    .noidung_thongbao .noidung li {
        width: 100%;
        margin-bottom: 10px;
    }
    .noidung_thongbao .noidung li:last-child {
        width: 100%;
    }
}
@media(max-width: 360px) {
    .banchay-title {
        font-size: 18px;
        height: auto;
        line-height: 1.5;
    }
}
@media(max-width: 320px) {}