.design-wrap {
    position: relative;
}

#wapper_design {
    text-align: center;
    background-color: [ws_colorDesign];
    color: #fff;
}

#wapper_design p {
    margin: 0;
    text-align: center;
}

.design_content {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px 0;
}

.designby_info {
    text-align: left;
    width:100%;
    font-size:14px;
    padding:5px 0;
}

.designby_info p strong{
    font-weight: normal;
}

.designby {
    margin-left: auto;
    width:20%;
    display:flex;
}

.designby a,
.designby,
.designby_info {
    color: #FFF;
}

.designby .group_thongke{
    display:inline-block;
    color:#FFF;
    padding:0;
}

.designby .group_thongke .row_thongke{
    float:left;
    clear:none;
    box-shadow: none;
    margin-bottom:0;
    margin-right:10px;
}

.designby .row_thongke .row_data_online{
    display:inline-block;
}

.designby .row_thongke .label{
    color:#FFF;
}
@media (max-width: 1024px) {
    .design-wrap:before,
    .design-wrap:after {
        display: none;
    }

    .designby{
        width:45%;
    }
}

@media(max-width: 768px){
    .design-wrap {
        margin-bottom: 35px;
    }

    .design_content{
        display:block;
    }

    .designby_info{
        display: inline-block;
        float: left;
        width: auto;
        text-align: left;
        padding: 0;
    }

    .designby .group_thongke{
        margin:auto;
    }

    .designby{
        width: auto;
        float:right;
    }
}