#wapper_doitac {
	width: 100%;
	padding-bottom: 20px;
	margin-top: 35px;
}

.doitac_content {
	width: 100%;
	max-width: 1200px;
	margin: auto;
}

.item-doitac {
	height: 80px;
	border-right: 2px solid #d7d7d7;
	border-top: 2px solid #d7d7d7;
}

.item-doitac a{
	display: flex;
	padding: 9px 0;
	overflow: hidden;
}

.doitacRun.owl-carousel .owl-item img {
	display: inline-block;
    height: 60px;
    width: auto;
    max-width: 98%;
    margin-top: 50px;
    margin: auto;
    transition:all ease .3s;
    -webkit-transition:all ease .3s;
}

.doitacRun.owl-carousel .owl-item img:hover{
	transform:scale(1.1);
	-webkit-transform:scale(1.1);
}
.doitacRun {
	border-left: 2px solid #d7d7d7;
	border-bottom: 2px solid #d7d7d7;
}
.titledoitac {
	border-top: 3px solid #e5e5e5;
	height: 20px;
	width: 100%;
}

.titledoitac div {
	display: table;
	margin: auto;
	background-color: #FFF;
	padding: 0px 10px;
	font-size: 20px;
	color: [ws_color];
	font-family: "UTMAvobold";
	text-transform: uppercase;
	z-index: 99;
	margin-top: -12px;
}

@media(max-width: 1024px){
	#wapper_doitac .ws-container{
		padding:0;
	}
}