.effect2 {
    position: relative;
}

.effect2:before,
.effect2:after {
    display: inline-block;
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    box-shadow: 0 15px 10px #777;

}

.effect2:before {
    left: 10px;
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
}

.effect2:after {
    right: 10px;
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
}