.title_hotrotructuyen {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    background-color: #CCC;
    padding: 5px;
}

.hotrotructuyen_content {
    position: relative;
    overflow: hidden;
}

.row_hotrotructuyen {
    width: 100%;
    clear: both;
}

.row_hotrotructuyen .itemgroup {
    border: 1px solid #F2F2F2;
    border-radius: 5px;
}

.row_hotrotructuyen .itemname {
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

.row_hotrotructuyen .itemskype {
    float: left;
    width: 100%;
}

.row_hotrotructuyen .itemskype a span{
    font-size: 14px;
    font-family: "UTMHelve";
    color: #3c3c3c;
    display: inline-block;
    padding: 12px 0px;
    padding-left:6px;
    line-height: 20px;
}

.row_hotrotructuyen .itemskype i {
    color: #1b8fe5;
    float: left;
    padding: 17px 14px;
    border-right: 1px solid #e2e2e2;
    font-size: 29px;
}

.row_hotrotructuyen .itemyahoo {
    float: left;
    font-weight: bold;
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

.row_hotrotructuyen .itemyahoo img {
    width: 20px;
    margin-top: 2px;
}

.row_hotrotructuyen .itemphone {
    float: left;
    font-weight: bold;
    width:100%;
}

.row_hotrotructuyen .itemphone i {
    color: red;
    float: left;
    padding: 6px 15px;
    border-right:1px solid #e2e2e2;
    font-size:52px;
}

.row_hotrotructuyen .itemphone a {
    line-height: 26px;
    display:flex;
}

.row_hotrotructuyen .itemskype a{
    display:flex;
}

.row_hotrotructuyen .itemphone a span{
    display: inline-block;
    padding: 12px 15px;
    padding-left:6px;
    font-family: "OpenSans-Bold";
    font-size: 16px;
    color: red;
    line-height: 20px;
}

.row_hotrotructuyen .itememail {
    float:left;
    background-color:#f0f0f0;
    width: 100%;
}

.row_hotrotructuyen .itememail i {
    color: #7a7a7a;
    float: left;
    padding: 21px 11px;
    border-right: 1px solid #e2e2e2;
    font-size: 30px;
}

.row_hotrotructuyen .itememail a {
    line-height: 25px;
    display:flex;
}

.row_hotrotructuyen .itememail a span{
    font-size: 14px;
    font-family: "OpenSans";
    color: #3c3c3c;
    display: inline-block;
    padding: 12px 0px;
    padding-left: 6px;
    line-height: 20px;
}

.content_cotmobile .row_hotrotructuyen .itememail a span,
.content_cotmobile .row_hotrotructuyen .itemskype a span,
.content_cotmobile .row_hotrotructuyen .itemfacebook a span{
    font-size:15px;
    padding-left:10px;
}

.row_hotrotructuyen .itememail a .infohotro{
    color:[ws_colorMain];
}

.row_hotrotructuyen .itemfacebook {
    float:left;
    background-color:#f0f0f0;
    width: 100%;
}

.row_hotrotructuyen .itemfacebook a{
    display:flex;
}

.row_hotrotructuyen .itemfacebook i{
    color: #3b579d;
    float: left;
    padding: 17px 18px;
    border-right: 1px solid #e2e2e2;
    font-size: 29px;
}

.row_hotrotructuyen .itemfacebook a span{
    font-size: 13px;
    font-family: "UTMHelve";
    color: #3c3c3c;
    display: inline-block;
    padding: 12px 0px;
    padding-left: 7px;
    line-height: 20px;
}

.group_thongke {
    padding: 10px;
    color: #000;
}

.group_thongke .row_thongke {
    clear: both;
    box-shadow: 0px 0.5px 0.5px #CCC;
    margin-bottom: 3px;
}

.row_thongke .label {
    float: left;
    color: #000;
    font-size: 12px;
    line-height: 25px;
    clear: both;
}

.row_thongke .row_data_online {
    line-height: 29px;
}

.row_thongke .row_data_online {
    font-weight: bold;
}

.group_thongke li.li1 i {
    color: #57a2fe;
}

.group_thongke li.li2 i {
    color: #86bd5f;
}

.group_thongke li.li3 i {
    color: #fca41c;
}

.group_thongke li.li4 i {
    color: #ffab29;
}

.group_thongke li.li5 i {
    color: #ff938a;
}

.group_thongke li.li6 i {
    color: #83a2de;
}

.support-fix {
    position: fixed;
    top: 45%;
    right: -227px;
    z-index: 999;
    width: 228px;
    cursor: pointer;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}

.support-fix.opened {
    right: 0;
}

.suportfix-btn {
    background-color: #eee;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 30px;
    left: -60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.opened .suportfix-btn {
    -webkit-border-radius: 50% 0 0 50%;
    -moz-border-radius: 50% 0 0 50%;
    -ms-border-radius: 50% 0 0 50%;
    -o-border-radius: 50% 0 0 50%;
    border-radius: 50% 0 0 50%;
}

.suportfix-btn > span {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 50px;
    height: 50px;
    background-color: #E91E63;
    text-align: center;
    color: yellow;
    font-size: 13px;
    font-weight: bold;
    line-height: 50px;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.price-request-content .icon,
.suportfix-btn .icon {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: transparent;
    width: 50px;
    height: 50px;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.price-request-content .icon {
    top: 0;
    left: 0;
}

.price-request-content .icon:before,
.price-request-content .icon:after,
.suportfix-btn .icon:before,
.suportfix-btn .icon:after {
    content: "";
    background-color: #FFF;
    width: 3px;
    height: 3px;
    display: block;
    margin: 22px 0 0 0;
}

.price-request-content .icon:before,
.suportfix-btn .icon:before {
    float: left;
}

.price-request-content .icon:after,
.suportfix-btn .icon:after {
    float: right;
}

.price-request-content .rotate360,
.suportfix-btn .rotate360 {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.price-request-content:hover .rotate360,
.suportfix-btn:hover .rotate360 {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

.supportfix-content {
    background-color: #eee;
    position: absolute;
    right: -2px;
    top: 0;
    padding: 10px 0 10px 10px;
    width: 100%;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -ms-border-radius: 10px 0 0 10px;
    -o-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
}

.opened .supportfix-content {
    right: 0;
}

.supportfix-content div.rowspo {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    color: #FFF;
    background-color: #E91E63;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.rowspo {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-content: center;
}

.itemsp {
    display: inline-block;
    padding: 0 5px;
}

.itemsp.ten {
    width: 55%;
    margin-top: auto;
}

.itemsp i {
    color: #000;
    padding: 3px;
}

.itemsp i,
.itemsp img {
    max-width: 50px;
    background-color: #FFF;
    border: 2px solid #FFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.hotline-bottom.fixed {
    position: fixed;
}

.hotline-bottom {
    bottom: 0;
    right: 0;
    z-index: 999;
}

@media(max-width: 1024px){
    .row_hotrotructuyen .itemphone i{
        padding:6px 14px;
    }

    .row_hotrotructuyen .itememail i{
        padding:21px 10px;
    }

    .row_hotrotructuyen .itemskype i{
        padding:17px 13px;
    }

    .row_hotrotructuyen .itemfacebook i{
        padding:17px 16px;
        font-size:30px;
    }
}