
#wapper_menu {
    width: auto;
    display:block;
    /*margin-bottom: 10px;*/
    position: relative;
    z-index: 999;
    background-color:[ws_colorMenu];
}
#wapper_menu.fixed{
    background-color:[ws_colorMenu];
    /*border-bottom: 4px solid [ws_colorTitle];*/
}
#wapper_menu.fixed .menu_content{
    border:none;
    transform: translateY(0);
}
.menu_content {
    float:none;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    background-color:[ws_colorMenu];
}
.cssmenu {
    float: right;
    display: block;
    margin:auto;
}
.cssmenu ul {
    float: left;
}
.cssmenu #menu-button {
    display: none;
}
.cssmenu>ul>.has-sub {
    position: relative;
}
.cssmenu .todown {
    position: absolute;
    right: 0;
    top: 36%;
    cursor: pointer;
}
.cssmenu .todown .fa {
    vertical-align: bottom;
}
.cssmenu>ul>li {
    float: left;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.cssmenu>ul>li:first-child {
    border-left: 0px;
}
.cssmenu>ul>li:last-child{
    border-bottom:none;
}
.cssmenu>ul>li.active a,
.cssmenu>ul>li:hover a{
    color: [ws_colorMain];
}
.cssmenu>ul>li>a:active,
.cssmenu>ul>li>a:hover{
    color: [ws_colorMain];
}
.cssmenu>ul>li>a {
    display:inline-block;
    font-family: 'UTM Alter Gothic';
    font-size: 18px;
    padding: 28px 17px;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    transition:all ease 0.3s;
    -webkit-transition:all ease 0.3s;
}
.cssmenu>ul>li>a .ws-icon{
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: block;
    margin-top: 3px;
    margin-right: 3px;
    vertical-align: middle;
    height: 13px;
    width: 14px;
    float: left;
}
.cssmenu>ul>li>a .fa{
    display:flex;
}
.cssmenu>ul>li:last-child>a{
    border-right:none;
}
.cssmenu ul ul {
    position: absolute;
    left: auto;
    top: 100%;
    transform: scaleY(0);
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transform-origin: 0 0 0;
    opacity: 0;
    background-color: [ws_colorMenu];
    /*border: 1px dashed #F00;*/
    border-top: 0;
}
.cssmenu>ul>li:hover>ul {
    transform: scaleY(1);
    opacity: 1;
}
.cssmenu>ul>li>ul li:hover>ul {
    left: auto;
    visibility: visible;
    top: 0%;
    opacity: 1;
    transform:scaleX(1);
}
.fixed .cssmenu ul ul {
    box-shadow: 0px 2px 2px #CCC;
}
.cssmenu ul ul li {
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    position: relative;
}
/*.cssmenu ul ul li:hover {
    background: yellow;
    cursor: pointer;
}*/
.cssmenu.align-right li:hover>ul {
    left: auto;
    right: 0;
}
.cssmenu ul ul {
    border: 1px solid #cfcfcf;
    border-top: unset;
    min-width: 100%;
}
.cssmenu ul ul ul {
    margin-left: 100%;
    top: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #ffffff;
    transform:scaleX(0);
}
.cssmenu ul ul li a {
    font-family: 'UTM Alter Gothic';
    font-size: 18px;
    display: block;
    padding: 8px 14px;
    white-space: nowrap;
    text-decoration: none;
    color: #000;
    /*background-color: [ws_colorMain];*/
    transition:all ease 0.3s;
    -webkit-transition:all ease 0.3s;
    border-bottom: 1px solid #cfcfcf;
}
.cssmenu ul ul li:last-child a{
    border-bottom:1px solid #FFF;
}
.cssmenu ul ul li a:hover {
    background-color: #80ba2b;
    color:yellow;
}
.cssmenu ul ul li.has-sub>a:after {
    position: absolute;
    top: 20px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: [ws_colorTitle];
    content: '';
}
.cssmenu ul ul li.has-sub>a:before {
    position: absolute;
    top: 17px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: [ws_colorTitle];
    content: '';
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}
.cssmenu ul ul>li.has-sub:hover>a:before {
    top: 17px;
    height: 0;
}
.wapper-menu-mobile {
    display: none;
    background-color: [ws_colorMain];
    width: 100%;
}
.fixed {
    position: fixed !important;
    top: 0;
    left: 0;
    right:0;
    z-index: 9998;
}
.searchBtnRepon {
    display: none;
    float: right;
    cursor: pointer;
    background: yellow;
}
.searchBtnRepon .fa {
    color: #FFF;
    padding: 10px;
    font-size: 20px;
}
.menu-doc{
    width: 21%;
    margin-right:2%;
    float: left;
}
.menu-doc #menu2{
    background-color:#FFF;
}
/*.menu-doc #menu2 > ul > li:before{
    content: "\f10c";
    font-family: FontAwesome;
    padding-left: 15px;
    font-size: 9px;
    color:#FFF;
}*/
.menu-doc #menu2 ul li a{
    color: #000;
    display: inline-block;
    font-family: "OpenSans";
    font-size: 15px;
    padding: 10px 15px;
    transition:all ease .3s;
    -webkit-transition:all ease .3s;
}
.menu-doc #menu2 ul li a:hover{
    color:yellow;
}
.menu-doc #menu2 ul li{
    border-bottom: 1px solid #f4f4f4;
}
.menu-doc #menu2 ul li:last-child{
    border-bottom:none;
}
.menu-doc .danhmucmenusp{
    background-color: [ws_colorMain];
    color: #FFF;
    padding: 10px 15px;
    font-family: "RobotoCondensedBold";
    font-size: 18px;
    text-transform: uppercase;
}
.menu-doc .danhmucmenusp .fa{
    padding-right:13px;
    font-size:24px;
    vertical-align: middle;
}
.menu_content .hotline{
    display: flex;
    float: right;
    padding: 12px 10px;
    font-size: 20px;
    font-family: "Arial";
    font-weight: bold;
    color: #fef500;
}
.menu_content .hotline span{
    font-size: 14px;
    font-family: "Arial";
    color: #FFF;
    padding-right: 5px;
}
.menu-doc > #menu2 > ul > li > a .ws-icon{
    margin-top: -1px;
    margin-right: 10px;
    height: 21px;
    width: 18px;
    float: left;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:100% 100%;
}
.menu_content .menu-ngonngu{
    display:inline-block;
    margin:13px 0;
    margin-left:1%;
}
@media(max-width: 1024px){
    .menu_content{
        margin-top:0;
        margin-left:0;
    }
    .menu_content.ws-container{
        padding:0;
    }
    .menu-doc .danhmucmenusp{
        font-size:16px;
    }
    .cssmenu>ul>li>a{
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    #wapper_menu,
    #btn-right {
        display: block;
    }
    .menu_content {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .banner_content .menu_content{
        display:none;
    }
    .menu-doc{
        width: 100%;
    }
    #wapper_menu{
        width: 100%;
        margin:0;
        position:relative;
        bottom:auto;
    }
    .searchitem{
        display:none;
    }
    .wapper-menu-mobile .searchitem{
        display:block;
        padding:1px 5px;
        margin-right:0;
        float:right;
        border: unset;
        margin-left: 0;
    }
    .searchitem .fa{
        font-size:20px;
    }
    .wapper-menu-mobile {
        display: block;
        position: relative;
    }
    #wapper_menu.ws-container {
        padding-left: 0;
        padding-right: 0;
    }
    .menu_content .hotline{
        display:none;
    }
    #wapper_menu .cart{
        display:none;
    }
    .menu_content .menu-ngonngu{
        display: inline-block;
        position: absolute;
        top: -35px;
        right: 15px;
        z-index: 9999;
        margin:0;
    }
}
@media (max-width: 640px) {
    .banner-info {
        margin-left: 0;
    }
}
@media (max-width: 480px) {
    .banner-info {
        display: none;
    }
    .menu_content .menu-ngonngu{
        top:-48px;
    }
    #btn-right i.fa{
        font-size: 25px !important;
    }
}
@media (max-width: 360px) {
    .searchBtnRepon {
        display: table;
    }
}