.fb_wrap.hotline {
    /*top: 285px;*/
    top:180px;
}
.fb_wrap {
    right: -95px;
    position: fixed;
    top: 150px;
    z-index: 100;
    border-radius: 0px 0px 0px 10px;
    border-width: 1px 0px 1px 1px;
    border-right: 0px none;
    padding-right: 40px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    background-color: rgba(59, 89, 152, 0.5);
    padding: 10px;
    border: 0px solid #133783;
}
.fb_wrap .fb_header.hotline {
    background: #a82086 none no-repeat scroll center center;
    background-image: url({$root_path}templates/images/h-white-right.png);
}
.closebox {
    position: absolute;
    bottom: -105px;
    right: -5px;
    color: #FFF;
    font-size: 25px;
    text-align: center;
    background-color: #9daccc;
    padding: 3px;
    border-radius: 6px 0 0 6px;
    cursor: pointer;
    display: none;
}
.fb_wrap .fb_header {
    position: absolute;
    width: 40px;
    height: 120px;
    background: #133783 none no-repeat scroll center center;
    cursor: pointer;
    box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px 0px 0px 10px;
    left: -40px;
    top: -25px;
}
.fb_wrap .hotline_content {
    overflow: hidden;
    min-height: 62px;
    background-color: #FFF;
    display: inline-block;
    position: relative;
    text-align: justify;
    vertical-align: bottom;
    width: 292px !important;
    height: 214px;
    display: none;
    padding: 10px;
}
@media (max-width: 375px) {
    #togglehl{
        display: none;
    }
}
