/*ngonngu*/
.flag-lang{
    display: table;
    margin-top: 13px;
    float: left;
    margin-left: 10px;
}
.flag-lang li{
    float: left;
}
.flag-lang li:first-child{
    margin-right: 10px;
}
.flag-lang li img{
    height: 20px;
    width: 30px;
    border:1px solid #fff;
}
/*===*/