.cat-timeline {
    position: relative;
    background-position: left top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    color: #FFF;
    margin-bottom: 20px;
}

.cat-timeline2 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 109, 0, 0.34);
    padding: 65px 0 10px 0;
}

.cat-timeline-content {
    display: block;
}

.cat-timeline-content a {
    cursor: pointer;
    color: #FFF;
}

.cat-timeline-content #breadcrumbs>ul>li:first-child:before {
    padding-right: 0;
}

.cat-timeline-content #breadcrumbs li:first-child {
    padding-left: 0;
}

.cat-timeline-content .product-title-big {
    color: #FFF;
}

@media (max-width: 768px) {
    .cat-timeline2 {
        padding-top: 35px;
    }
    .cat-timeline {
        background-size: cover;
    }
}