#fullpopup {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.61);
    display: none;
    top: 0;
}

#contentpopup {
    display: table;
    margin: auto;
    margin-top: 50px;
    max-width: 100%;
    position: relative;
}

.contentpopup {
    display: none;
}

.contentpopup a {
    padding: 0px;
    margin: 0px;
}

.closepopup {
    cursor: pointer;
    background-color: #F00;
    color: #FFF;
    font-size: 18px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    z-index: 9999;
    position: absolute;
    text-align: center;
    right: 0;
    top: 0;
}