@media (max-width: 1190px) {
    .titlebase>a::before,
    .titlebase>a::after {
        display: none;
    }
    .ws-container,
    .ws-paddingmobile {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (max-width: 1024px) {
    .price-request .tool-tip,
    .price-request:hover .tool-tip {
        display: none;
    }
    .top-info li {
        padding-left: 0;
        padding-right: 0;
    }
    .bottom-full,
    .top_content {
        padding-left: 15px;
        padding-right: 15px;
    }
    .catpItem .ws-container {
        width: 100%;
    }
    .ws-container{
        padding-left:5px;
        padding-right:5px;
    }
}
@media (max-width: 768px) {
    body{
        background-color:#FFF !important;
    }
    .categories img{
        margin:10px;
    }
    .clickToCall i {
        display: block;
        font-size: 25px;
        line-height: 1.8;
        color: #FFF;
    }
    .clickToCall {
        cursor: pointer;
        position: fixed;
        top: 50%;
        right: 10px;
        background-color: red;
        width: 50px;
        height: 50px;
        border: .3em solid yellow;
        border-radius: 50%;
        text-align: center;
        z-index: 99;
        -webkit-animation: buglua 2200ms forwards infinite cubic-bezier(0.165, 0.84, 0.44, 1);
        -moz-animation: buglua 2200ms forwards infinite cubic-bezier(0.165, 0.84, 0.44, 1);
        -ms-animation: buglua 2200ms forwards infinite cubic-bezier(0.165, 0.84, 0.44, 1);
        -o-animation: buglua 2200ms forwards infinite cubic-bezier(0.165, 0.84, 0.44, 1);
        animation: buglua 2200ms forwards infinite cubic-bezier(0.165, 0.84, 0.44, 1);
        -webkit-transition: background-color 0.3s ease;
        -moz-transition: background-color 0.3s ease;
        -ms-transition: background-color 0.3s ease;
        -o-transition: background-color 0.3s ease;
        transition: background-color 0.3s ease;
    }
    .clickToCall::after {
        background-color: yellow;
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        -webkit-animation: bugluas 2200ms forwards infinite cubic-bezier(0.215, 0.61, 0.355, 1);
        -moz-animation: bugluas 2200ms forwards infinite cubic-bezier(0.215, 0.61, 0.355, 1);
        -ms-animation: bugluas 2200ms forwards infinite cubic-bezier(0.215, 0.61, 0.355, 1);
        -o-animation: bugluas 2200ms forwards infinite cubic-bezier(0.215, 0.61, 0.355, 1);
        animation: bugluas 2200ms forwards infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    @-webkit-keyframes buglua {
        0% {
            transform: scale(1);
        }
        10% {
            transform: scale(0.96);
        }
        20% {
            transform: scale(1.04);
        }
        52%,
        100% {
            transform: scale(1);
        }
    }
    @-o-keyframes buglua {
        0% {
            transform: scale(1);
        }
        10% {
            transform: scale(0.96);
        }
        20% {
            transform: scale(1.04);
        }
        52%,
        100% {
            transform: scale(1);
        }
    }
    @-moz-keyframes buglua {
        0% {
            transform: scale(1);
        }
        10% {
            transform: scale(0.96);
        }
        20% {
            transform: scale(1.04);
        }
        52%,
        100% {
            transform: scale(1);
        }
    }
    @keyframes buglua {
        0% {
            transform: scale(1);
        }
        10% {
            transform: scale(0.96);
        }
        20% {
            transform: scale(1.04);
        }
        52%,
        100% {
            transform: scale(1);
        }
    }
    @-webkit-keyframes bugluas {
        0% {
            transform: scaleX(1) scaleY(1);
            opacity: 0;
        }
        10% {
            transform: scaleX(1) scaleY(1);
            opacity: .7;
        }
        30%,
        99% {
            transform: scaleX(1.5) scaleY(1.5);
            opacity: 0;
        }
        100% {
            transform: scaleX(1) scaleY(1);
            opacity: 0;
        }
    }
    @-o-keyframes bugluas {
        0% {
            transform: scaleX(1) scaleY(1);
            opacity: 0;
        }
        10% {
            transform: scaleX(1) scaleY(1);
            opacity: .7;
        }
        30%,
        99% {
            transform: scaleX(1.5) scaleY(1.5);
            opacity: 0;
        }
        100% {
            transform: scaleX(1) scaleY(1);
            opacity: 0;
        }
    }
    @-moz-keyframes bugluas {
        0% {
            transform: scaleX(1) scaleY(1);
            opacity: 0;
        }
        10% {
            transform: scaleX(1) scaleY(1);
            opacity: .7;
        }
        30%,
        99% {
            transform: scaleX(1.5) scaleY(1.5);
            opacity: 0;
        }
        100% {
            transform: scaleX(1) scaleY(1);
            opacity: 0;
        }
    }
    @keyframes bugluas {
        0% {
            transform: scaleX(1) scaleY(1);
            opacity: 0;
        }
        10% {
            transform: scaleX(1) scaleY(1);
            opacity: .7;
        }
        30%,
        99% {
            transform: scaleX(1.5) scaleY(1.5);
            opacity: 0;
        }
        100% {
            transform: scaleX(1) scaleY(1);
            opacity: 0;
        }
    }
    #cs-slider img {
        max-width: 100%;
        display: block;
        height: auto;
    }
    .sanphamRun .owl-nav .owl-prev {
        left: 0;
    }
    .sanphamRun .owl-nav .owl-next {
        right: 0;
    }
    .searchCart {
        max-width: 50%;
    }
    .home .banner-wrap {
        position: relative;
        height: auto;
    }
    .itemsp {
        display: inline-block;
        padding: 0 5px;
    }
    .itemsp.ten {
        width: 55%;
        margin-top: auto;
    }
    .itemsp i {
        color: #000;
        padding: 3px;
    }
    .itemsp i,
    .itemsp img {
        max-width: 50px;
        background-color: #FFF;
        border: 2px solid #FFF;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
    }
    .cat1Btn,
    .catChild {
        visibility: visible;
        opacity: 1;
    }
    .catTitle a {
        font-size: 20px;
    }
    p {
        margin: 0;
    }
    .support-fix {
        z-index: 9999;
    }
    .banner-address.banner-item {
        display: none;
    }
    .catnew-content>ul {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    .slide-item.dm,
    .danhmucsanpham {
        display: none;
    }
    .prod-hinh {
        max-width: 270px;
        margin-left: auto;
        margin-right: auto;
    }
    .btn- i {
        display: none;
    }
    .logo-mobi {
        float: left;
        padding: 5px 15px;
    }
    #top-wrapper,
    .top-item,
    .top-item {
        display: none;
    }
    .top-info {
        display: block;
    }
    .lienhe-top {
        margin-top: 8px;
    }
    .phone-mobile a {
        color: #FFF;
    }
    .phone-mobile {
        float: left;
        color: #FFF;
        font-size: 14px;
        font-family:"UTMHelve_Bold";
        display: block;
        text-align: center;
        padding: 10px;
    }
    .menu_content {
        width: 100%;
        position: relative;
        background-color: #FFF;
        f min-height: 40px;
    }
    #wapper_wapper {
        overflow: hidden;
    }
    #col1,
    .cssmenu {
        display: none;
    }
    #colcontent {
        float: none;
        width: 100%;
    }
    .danhmucmobile.danhmuccol>ul>li ul {
        max-height: 0;
        overflow: hidden;
        -webkit-transition: all 400ms;
        -moz-transition: all 400ms;
        -ms-transition: all 400ms;
        -o-transition: all 400ms;
        transition: all 400ms;
    }
    .danhmucmobile.danhmuccol>ul>li ul.opened {
        max-height: 600px;
        -webkit-transition: all 400ms;
        -moz-transition: all 400ms;
        -ms-transition: all 400ms;
        -o-transition: all 400ms;
        transition: all 400ms;
    }
    .danhmucmobile.danhmuccol .has-child a {
        display: inline-block;
    }
    .danhmucmobile.danhmuccol .has-child>i.fa {
        cursor: pointer;
        padding: 3.5px 8px;
        float: right;
        background-color: rgba(0, 0, 0, .04);
        z-index: 999999;
        margin-right: 10px;
    }
    .danhmucmobile ul.opened {
        background-color: #f3f3f3;
    }
    .danhmucmobile .opened .opened>li>a {
        padding-left: 30px;
    }
    .danhmucmobile .opened .opened .opened>li>a:before {
        content: "";
    }
    .danhmucmobile>ul>li {
        background-color: #FBFBFB;
    }
    .danhmuccol.danhmucmobile li:not(:last-child) {
        border-bottom: none;
    }
    .danhmucmobile li>a:before {
        content: "\f105";
        font-family: FontAwesome;
        padding-right: 8px;
    }
    .danhmucmobile li>a {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #wrap_noidung {
        -webkit-transition: transform 200ms linear;
        -moz-transition: transform 200ms linear;
        -ms-transition: transform 200ms linear;
        -o-transition: transform 200ms linear;
        transition: transform 200ms linear;
    }
    #wrap_noidung.pullRight {
        -webkit-transform: translateX(270px);
        -moz-transform: translateX(270px);
        -ms-transform: translateX(270px);
        -o-transform: translateX(270px);
        transform: translateX(270px);
    }
    #cssmenu {
        z-index: 888;
    }
    #cssmenu.fixed {
        top: 0;
        z-index: 888;
    }
    #cssmenu>ul.open+#btn-right {
        display: none;
    }
    #cssmenu #menu-button.menu-opened,
    #cssmenu #menu-button {
        display: none;
    }
    #cssmenu #menu-button.menu-opened::before,
    #cssmenu #menu-button.menu-opened::after,
    #cssmenu #menu-button::before,
    #cssmenu #menu-button::after {
        content: "";
        color: transparent;
        background-color: transparent;
        background: transparent;
        height: 0;
        width: 0;
    }
    #btn-right {
        cursor: pointer;
        z-index: 999;
        color: #FFF;
        text-transform: uppercase;
        display: table;
        float: right;
        margin-left: auto;
    }
    .banner-row2 #btn-right {
        padding: 3px 10px;
    }
    #btn-right i.fa {
        font-size: 42px;
        color: #FFF;
        cursor: pointer;
    }
    #load-colleft {
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        left: 0;
        top: 0;
        z-index: 99996;
        cursor: pointer;
        display: none;
    }
    #content-colleft {
        position: fixed;
        top: 0;
        left: 0;
        overflow-y: auto;
        overflow-x: hidden;
        height: 100%;
        width: 270px;
        background-color: #FFF;
        z-index: 99999;
        -webkit-transition: transform 200ms linear;
        -moz-transition: transform 200ms linear;
        -ms-transition: transform 200ms linear;
        -o-transition: transform 200ms linear;
        transition: transform 200ms linear;
        -webkit-transform: translateX(-280px);
        -moz-transform: translateX(-280px);
        -ms-transform: translateX(-280px);
        -o-transform: translateX(-280px);
        transform: translateX(-280px);
    }
    #content-colleft._maximize {
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
    .content_cotmobile {
        background-color: #FFF;
    }
    .content_cotmobile:before,
    .content_cotmobile:after {
        content: " ";
        display: table;
    }
    .content_cotmobile:after {
        clear: both;
    }
    .content_cotmobile .group_tin {
        width: 100%;
    }
    .content_cotmobile .danhmuccol>li>a {
        text-transform: uppercase;
    }
    .content_cotmobile .danhmuccol li ul {
        display: block;
        margin-left: 0;
        position: static;
    }
}
@media (max-width: 640px) {
    .owl-new .owl-nav,
    .owl-cathome .owl-nav {
        top: 50%;
        background-color: transparent;
        width: 100%;
    }
    .owl-new .owl-nav [class^="owl-"],
    .owl-cathome .owl-nav [class^="owl-"] {
        background-color: [ws_colorMain]
    }
    .owl-new .owl-nav [class^="owl-"] i.fa,
    .owl-cathome .owl-nav [class^="owl-"] i.fa {
        color: #FFF;
    }
    .owl-cathome .owl-prev,
    .owl-new .owl-prev {
        float: left;
    }
    .owl-cathome .owl-next,
    .owl-new .owl-next {
        float: right;
    }
    .bannerBox,
    .prodBox,
    .boxProdItem {
        float: none;
        width: 100%;
    }
    .bannerBox img {
        display: table;
        margin-left: auto;
        margin-right: auto;
    }
    .intronew-item.intro,
    .intronew-item.new,
    .intronew-item {
        width: 100%;
        float: none;
        padding-left: 0;
        padding-right: 0;
    }
    .intronew-item.intro {
        margin-bottom: 20px;
    }
    .pagination>li>a,
    .pagination>li>span {
        min-height: 7mm;
        font-size: 14px;
        line-height: 21px;
        display: block;
    }
    .title_row_label {
        display: block;
    }
    .owl_home .owl-nav {
        top: -20px;
    }
    .row_content .title_row a {
        min-height: 7mm;
        font-size: 20px;
        line-height: 30.0px;
        padding: 15px 0 8px 0;
    }
    .owl_home .owl-nav .owl-prev {
        margin-right: 15px;
    }
    .owl_home .owl-nav .owl-next {
        margin-left: 15px;
    }
    .groupgia:before,
    .groupgia:after {
        content: "";
        display: table;
    }
    .groupgia:after {
        clear: both;
    }
    .pagination>li {
        display: inline-block;
    }
    .cp-content {
        display: block;
        width: 100%;
    }
    .cp-item.cat,
    .cp-item.prod,
    .cp-item {
        width: 100%;
        float: none;
    }
    .bnqc-item {
        display: none;
    }
    .cot_form,
    .cot_dssp {
        width: 100%;
    }
}
@media (max-width: 480px) {
	#btn-right i.fa,
	#btn-right{
		color: #000;
	}
    .searchCart {
        display: none;
    }
    .cat-timeline-content .product-title-big {
        font-size: 18px;
        line-height: 1.5;
    }
    .slogan-content,
    .slogan-content p {
        line-height: 1.5;
        font-size: 16px;
    }
    .phone-mobile {
        left: 40%;
    }
    .catItem {
        width: 100%;
        float: none;
        height: auto;
    }
    .boxA .line3,
    .boxA .line4,
    .boxA .line5 {
        display: none;
    }
    .cat-timeline {
        -webkit-background-size: cover;
        background-size: cover;
    }
    .bottom-content {
        text-align: center;
    }
    .bottom-item:not(:last-child) {
        margin-bottom: 20px;
    }
    .bottom-content,
    .catnew-content>ul {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        -o-column-count: 1;
        column-count: 1;
    }
    .cat1-img a,
    .cat1-img {
        height: auto;
    }
    .videowhy-item.video {
        margin-right: 0;
    }
    .videowhy-item.why {
        margin-left: 0;
    }
    .videowhy-item {
        float: none;
        width: 100%;
        display: block;
        margin: 0 0 20px 0;
    }
    .prod-item {
        margin-bottom: 55px;
    }
    .form-price {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    .prod-btn .btn- {
        margin-left: 15px;
        margin-right: 15px;
    }
    .prod-btn .btn- i {
        display: inline-block;
    }
    .giohangbtn {
        display: none;
    }
    .icon_view,
    .icon_cart {
        display: none;
    }
    .design_content,
    .top_content {
        display: block;
    }
    .design_content>div {
        width: 100%;
        text-align: center;
        display:block;
    }
}
@media (max-width: 375px) {
    .prod-item:not(: last-of-type) {
        margin-bottom: 65px;
    }
    .prod-btn .btn- i.fa,
    .prod-btn .btn- a {
        display: inline-block;
        text-align: left;
    }
    .new-content li .img {
        float: none;
        max-width: 100%;
        margin: 0 auto 15px auto;
        display: table;
    }
    .new-content li .name {
        text-align: center;
    }
    .titlebase .xemtatca {
        display: none;
    }
}
@media (max-width: 360px) {
    .titlebase {
        text-align: center;
    }
    .newItem a,
    .lienhe-top {
        display: none;
    }
    .search .btn {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
    }
    .owlshownav .owl-nav {
        display: none;
    }
    .bottom-full {
        margin: 0;
        padding: 0;
    }
    .bottom-content {
        padding: 20px 0;
    }
}
@media (max-width: 320px) {
    .titlebase>a {
        padding: 10px 3px;
    }
    .prod-btn .btn- i.fa {
        display: none;
    }
    .prod-btn .btn- a {
        font-size: 12px;
    }
    .cat1-des ul {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        -o-column-count: 1;
        column-count: 1;
    }
    .prod-item {
        float: none;
        width: 100%;
    }
}