.search-box {
    width: 530px;
    float: left;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 15px;
    margin-left:140px;
    border-radius: 0;
}
.search-box .cover-search {
    background: #fff;
    padding: 2px;
}
.search-box .underSearch{
    color: #fff;
    margin: 10px 0;
}
.search-box .underSearch .fa{
    color: #fff !important;
}
.search-box2{
    display: none;
}
.search-box button,
.search-box input {
    border: none
}
.btn-searchsubmit{
    float: right;
}
.search-box .input-group-btn button{
    width: 100%;
}
.search-box input {
    width: 85%;
    max-width: 85%;
    margin: 2px 0;
    padding: 0px 15px;
    background-color:transparent;
    color:#acacac;
    float:left;
    box-shadow: unset;
}
.search-box input:hover{
    box-shadow: none;
}
.search-box input ::-webkit-input-placeholder {
   color: #acacac;
}
.search-box input::-webkit-input-placeholder {
   color: #acacac;
}
.search-box input:-moz-placeholder {
   color: #acacac;
}
.search-box input::-moz-placeholder {
   color: #acacac;
}
.search-box input:-ms-input-placeholder {
   color: #acacac;
}
.search-box input:hover,
.search-box input:focus {
    outline: none;
    box-shadow: none;
}
.search-box button {
    background-color: [ws_colorMenu];
    display: inline-block;
    float: right;
    width: 15%;
    line-height:1;
    padding: 10px 0;
    color: #fff;
    font-size: 12px;
    font-family: "RobotoBold";
    border-radius: 0;
    transition:all ease .3s;
    -webkit-transition:all ease .3s;
}
.search-box button .fa{
    font-size:18px;
}
.search-box button:hover{
    /*color:[ws_colorHover];*/
}
.search-button button .fa {
    font-size: 18px;
}
.searchitem {
    float:right;
    background-color:transparent;
    cursor: pointer;
    top: 0;
    right: 0;
    padding: 20px 0;
    z-index: 9999;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 4px 8px;
}
.cartitem {
    float:right;
    background-color:transparent;
    cursor: pointer;
    top: 0;
    right: 0;
    padding: 20px 0;
    z-index: 9999;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 4px 8px;
}
.searchitem .fa{
    font-size: 15px;
    /*border: 1px solid [ws_colorMain];*/
    color: #707070;
    padding: 5px;
}
.cartitem .fa{
    font-size: 15px;
    /*border: 1px solid [ws_colorMain];*/
    color: #707070;
    padding: 5px;
}
.wapper-menu-mobile .searchitem .fa{
    border: 1px solid #FFF;
    color:#FFF;
}
.wapper-menu-mobile .cartitem .fa{
    border: 1px solid #FFF;
    color:#FFF;
}
.search-box2{
    float: right;
    right: 0;
    background-color: #FFF;
    box-shadow: 0px 0px 2px #CCC;
    border-radius: 5px;
    max-width: 90%;
    width: 250px;
    position: relative;
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    z-index: 9;
}
.search-box2 .txt{
    width: 85%;
    height: 26px;
    padding: 2px 5px;
    border: 0px !important;
    border: 0px solid #FFF;
    margin: 2px;
    line-height: 25px;
    height: 28px;
}
.search-box2 .btnsearch{
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 5px;
    margin: 1px;
    background-color: [ws_colorTitle];
    color:#FFF;
    border-collapse: collapse;
    border: none;
    padding: 4.5px 15px;
}
#resSearch {
    position: absolute;
    z-index: 99999999;
    width: 100%;
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
#resSearch > ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}
#resSearch > ul::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}
#resSearch > ul::-webkit-scrollbar-thumb {
    background-color: #000000;
}
#resSearch > ul {
    border: thin solid #eeeded;
    padding: 10px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    max-height: 440px;
    overflow-y: auto;
    background-color: white;
    z-index: 99999999;
}
.item-ls {
    padding: 2.5px 0;
    border-bottom: 1px dashed #CCC;
    padding-top: 8px;
    cursor: pointer;
}
.item-ls:hover {
    background-color: #ECECEC;
}
.item-ls .image {
    float: left;
}
.item-ls .name {
    display: table;
    padding-left: 10px;
}
.item-ls .gia {
    color: red;
}
.banner-item .input-group-btn .btn{
    background-color: #505050;
    border: 1px solid #505050;
    color: #FFF;
    transition:all ease .3s;
    -webkit-transition:all ease .3s;
}
.banner-item .input-group-btn .btn:hover{
    background-color:[ws_colorHover];
}
.loc_thanhphan{
    margin: 20px 0;
    display: table;
    width: 100%;
}
.loc_thanhphan form{
    float: right;
}
.loc_thanhphan form input{
    border : 1px solid #ddd;
    margin-left: 10px;
}
.loc_thanhphan form input:hover,
.loc_thanhphan form input:focus{
    border : 1px solid #ddd;
}
.loc_thanhphan form button{
    border: 1px solid #ddd;
    margin-left: 10px;
}
.loc_thanhphan form button:hover,
.loc_thanhphan form button:focus{
    border : 1px solid #ddd;
}
@media(max-width: 1024px){
    .search-box{
        width: 470px;
        margin-left: 40px;
    }
}
@media(max-width: 768px){
    .wapper-menu-mobile .searchitem .fa{
        border:none;
    }
    .search-box {
        margin: auto;
        display: table;
        float: unset;
    }
    .search-box .cover-search {
        background: #d5e6d6;
        padding: 2px;
        margin-top: 5px;
    }
    .search-box button{
        background-color: transparent;
    }
    .search-box button .fa {
        font-size: 14px;
    }
    .search-box input{
        height: 90%;
        line-height: 30px;
    }
}
@media(max-width: 480px){
	.search-box .cover-search {
		margin-top: 3px;
	}
    .search-box button {
        padding: 5px 0;
    }
    .search-box .underSearch {
        display: none;
    }
    .search-box{
        width: 88%;
        margin: inherit;
    }
}
@media(max-width: 360px){
    .search-box{
        width: 85%;
    }
}