/*--- Mang xa hoi --*/

.mangxahoi {
    float: left;
    display: table;
    padding-top: 0px;
}

.textshare {
    float: right;
    line-height: 40px;
    font-weight: bold;
    color: #FFF;
}

.mangxahoi a {
    display: block;
    height: 30px;
    line-height: 30px;
}

.mangxahoi div {
    float: left;
    margin: 0px 3px;
}

.mangxahoi div:hover {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.mangxahoi .zalo{
    float:left;
}

.mangxahoi .sharefacebook {
    margin-top: 3px;
}

.mangxahoi .facebook {
    width: 30px;
    height: 30px;
    border: 1px solid #1f69b2;
    text-align: center;
    line-height: 30px;
    background-color: #1f69b2;
}

.mangxahoi .facebook a {
    color: #FFF;
}

.mangxahoi .facebook:hover {
    background-color: #1077dc;
}

.mangxahoi .google {
    width: 30px;
    height: 30px;
    border: 1px solid #db4a39;
    text-align: center;
    line-height: 30px;
    background-color: #db4a39;
}

.mangxahoi .google a {
    color: #FFF;
}

.mangxahoi .google:hover {
    background-color: #f5523e;
}

.mangxahoi .tweet {
    width: 30px;
    height: 30px;
    border: 1px solid #41b4e3;
    text-align: center;
    line-height: 30px;
    background-color: #41b4e3;
}

.mangxahoi .tweet a {
    color: #FFF;
}

.mangxahoi .tweet:hover {
    background-color: #30baf2;
}

.mangxahoi .digg {
    width: 30px;
    height: 30px;
    border: 1px solid #0196be;
    text-align: center;
    line-height: 30px;
    background-color: #0196be;
}

.mangxahoi .digg a {
    color: #FFF;
}

.mangxahoi .digg:hover {
    background-color: #03b6e6;
}