#wapper_slide {

    max-height: 0;

    transition: max-height 2s ease-in;

    overflow: hidden;

    width: 100%;

    /*max-width: 1200px;*/

    margin: auto;


}

#wapper_slide.opened {

    transition: max-height 2s ease-out;

    max-height: unset;

}

.slide_content {

	display: block;

	margin-left: auto;

	margin-right: auto;

	background: #FFF;

	overflow: hidden;

	/*max-width: 1200px;*/

	width: 62%;

	float: left;

	margin-right: 2%;

}

.qc_content {

    display: table;

    width: 36%;

    height: 266px;

}

.qc_content .first-qc {

	height: 123px;

	margin-bottom: 20px;

	background: #edecec;

}

.qc_content .second-qc {

	height: 123px;

	background: #edecec;

}

.thongtinslide {

	display: block;

	text-align: center;

	margin-left: auto;

	margin-right: auto;

	margin-top: 35px;

	font-family: 'UTM Flamenco';

	color: #ee1466;

	font-size: 37px;

	line-height: 1;

}

.slide-item {

	position: relative;

	display: block;

}

.slide-item .cart,

.hotline-slide {

	position: absolute;

	bottom: 20px;

	z-index: 9;

	color: #FFF;

	font-family: "bebas", arial;

	padding: 8px 10px;

	z-index: 90;

	background: [ws_colorMain];

}

.hotline-slide,

.hotline-slide a {

	color: #FFF;

	font-size: 22px;

}

.slide-item .cart,

.slide-item .cart a {

	font-size: 18px;

	color: #FFF;

}

.hotline-slide {

	left: 0;

	border-radius: 0 30px 30px 0;

	padding-right: 15px;

	text-transform: uppercase;

}

.hotline-slide img {

	max-width: 60px;

	height: auto;

	vertical-align: middle;

}

.slide-item .cart {

	right: 0;

	font-family: "UTMAvoBold", arial, helvetica;

	border-radius: 30px 0 0 30px;

	padding-left: 20px;

}

.slide-item .cart .content .fa {

	font-size: 30px;

	vertical-align: middle;

}

.repon {

	display: none;

}

.repon .fa {

	font-size: 33px;

}

.banner-b {

	float: right;

}

@media (max-width: 1024px) {

	#wapper_slide .ws-container {

		padding-left: 0;

		padding-right: 0;

	}

}

@media (max-width: 768px) {

	#wapper_slide{

		display:block;

	}

	.slide_content {

		width: 100%;

	}

	.thongtinslide {

		font-size: 25px;

	}

	.cart .content,

	.hotline-slide .content {

		display: none;

	}

	.cart .repon,

	.hotline-slide .repon {

		display: block;

	}

	.qc_content {

        display: none;

    }

}

@media (max-width: 480px) {

	.hotline-slide, .hotline-slide a,

	.slide-item .cart a,

	.thongtinslide {

		font-size: 16px;

	}

    #wapper_slide {

        margin-top: 0;

    }

}