
ul.tags {
    margin-top: 20px;
}

ul.tags li {
    float: left;
    margin-top: 10px;
}

ul.tags li a {
    padding: 3px 3px;
    color: #434343;
    text-transform: none;
    transition: all 0.7s ease;
    display: inline-block;
    font-family: 'OpenSans-SemiBold';
    font-size: 13px;
    border-radius: 5px;
    background-color: #dcdcdc;
    margin-right: 10px;
    transition:all ease 0.7s;
    -webkit-transition: all 0.7s ease;
}

ul.tags li a:hover {
    background-color: [ws_colorMain];
    color:#FFF;
}

ul.tags li.tags_label {
    font-weight: bold;
    padding:3px 0;
    padding-right:5px;
    margin-top: 10px;
}

ul.tags li.tags_label i {
    margin-right: 5px;
}
