span.sodiem {
    color: #FFF;
    padding-right: 20px;
}
span.sodiem b {
    color: #FF0;
    font-weight: bold;
}
#wapper_top {
    position: relative;
    display: block;
    width: 100%;
    background-color: [ws_colorTop];
    border-bottom: 1px solid [ws_colorMain];
}
.top_content > .menu-top {
    float: left;
}
.top_content > .hotline-top {
    float: right;
    margin: 5px 0;
    padding-left: 25px;
}
.hotline-top > li,
.menu-top > li {
    float: left;
}
.hotline-top li,
.menu-top li a {
    /*margin-top: 5px;*/
    display: block;
}
.login-choose li{
    margin-top: 10px;
}
.menu-top > li:first-child a {
    padding-right: 10px;
}
.menu-top li:not(:first-child) a {
    border-left: 2px solid #CCC;
    padding-left: 10px;
    padding-right: 10px;
}
/*.hotline-top > li:first-child {
    padding-right: 15px;
    border-right: 1px solid #636363;
    display: flex;
}*/
.gioithieucongty{
    font-family: 'Tahoma Bold';
    display:inline-block;
    padding: 12px 0;
    color:#fefefe;
}
.gioithieucongty ul li{
    float:left;
    border-right:1px solid #636363;
    border-left:1px solid #1c1c1c;
}
.gioithieucongty ul li:first-child{
    border-left:none;
    padding-right:15px;
}
.gioithieucongty ul li:last-child{
    border-right:none;
    padding-left:15px;
}
.top_content .cart{
    display:inline-block;
    float:right;
    padding-left: 25px;
    text-align: center;
}
.top_content .cart p i{
    font-size: 22px;
}
.top_content .cart a{
    color:#FFF;
}
.top_content .cart a #countCart{
    color:#f00;
}
.hotrokhachhangtop{
    display:inline-block;
    float:right;
    padding: 15px 0;
}
.hotrokhachhangtop li{
    background-color: #fff;
    color: [ws_colorMenu];
    float:left;
    padding: 2px 4px;
    margin-right: 5px;
    font-family: 'Tahoma Bold';
    text-transform: capitalize;
    font-size: 12px;
    cursor: pointer;
}
/*.hotrokhachhangtop li:first-child{
    padding-right:10px;
    padding-left:0;
    border-right:1px solid #000;
}*/
@media(max-width: 680px){
    .gioithieucongty{
        display:none;
    }
}
@media(max-width: 480px) {
    #wapper_top {
        display: none;
    }
}
@media(max-width: 425px){
    .hotrokhachhangtop{
        display:none;
    }
}
@media(max-width: 375px){
    /*.top_content .cart{
        float:none;
        display:block;
        text-align:center;
        border:none;
    }
    .top_content > .hotline-top{
        float: none;
        display: inline-block;
        width: 100%;
        text-align: center;
        margin: auto;
    }*/
}
@media(max-width: 360px){
    /*.top_content > .hotline-top{
        float:left;
    }*/
}