.ul_ykienkhachhang {
    position: relative;
}
.ul_ykienkhachhang .owl-nav {
    display: none;
}
.ul_ykienkhachhang:hover .owl-nav {
    display: block;
}
.ul_ykienkhachhang .owl-nav [class^="owl-"] {
    position: absolute;
    bottom: 90px;
}
.ul_ykienkhachhang .owl-nav [class^="owl-"] i.fa {
    color: #777;
}
.ul_ykienkhachhang .owl-nav .owl-next {
    right: 0;
}
.ul_ykienkhachhang .owl-nav .owl-prev {
    left: 0;
}
.customer-idea {
    padding: 20px 15px;
    background-size: 100% 100%;
}
.wrapper-menu-bott+.customer-idea {
    margin-top: 20px;
}
.customer-idea-content>ul,
.customer-idea-content {
    position: relative;
    display: block;
}
.customer-idea-content{
    width:100%;
    max-width: 1200px;
    margin:auto;
}
.customer-idea-content li {
    display: block;
    text-align: left;
}
.cus-img {
    display: block;
    width: 150px;
    position: absolute;
    bottom: -175px;
    left: 20px;
    left: -218px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    z-index: 999;
}
.cus-img img {
    height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    padding: 5px;
}
.cus-idea {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
.cus-idea .profile p {
    font-size: 15px;
    color:#FFF;
    font-family:"OpenSans-SemiBold";
}
.profile p.cus-name {
    color: #348dff;
    font-weight: bold;
    font-size: 15px;
    font-family: utmavo;
    display: block;
    line-height: 20px;
}
.profile p.cus-ser {
    color: #8C8C8C;
}
.cus-idea .idea {
    display: flex;
    margin: auto;
    text-align:center;
    padding: 5px 0;
    width: 50%;
}
.ul_ykienkhachhang li {
    position: relative;
}
.ul_ykienkhachhang li .profile{
}
.title_dangky{
    text-align: center;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    display:inline-block;
    width:100%;
    line-height:1;
}
.noidung_dangky .dkmail-intro{
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height:24px;
}
.customer-idea-content .owl-carousel .owl-item .img{
    border-radius: 50%;
    display: block;
    overflow: hidden;
    height: 120px;
    width: 120px;
    position:relative;
    margin:auto;
    border:4px double #dfdfdf;
    -webkit-transition: all .75s;
    transition: all .75s;
    margin-top:5px;
}
.ykienkhachhangRun .profile:hover .img{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.customer-idea-content .owl-carousel .owl-item img{
    height: 100%;
    display: inline-block;
    margin:0;
    padding:0;
}
.ykienkhachhangRun{
    padding-top:40px;
    padding-bottom:30px;
}
.ykienkhachhangRun .cus-ser{
    display:block;
    width:100%;
    text-align:center;
    font-family:"OpenSans-SemiBold";
    font-size:15px;
    color:#FFF;
    text-transform:uppercase;
    padding:5px 0;
}
.ykienkhachhangRun .cus-ser p{
    font-size:15px;
    color:#FFF;
    font-family:"OpenSans-SemiBold";
    text-transform: uppercase;
    display:inline-block;
}
.group_bottom_fix .dangkyngay{
    width: 100%;
    max-width: 1200px;
    margin:auto;
    text-align: center;
}
.group_bottom_fix .dangkyngay .dangkyhoc{
    background-color: #ff5114;
    display: inline-block;
    padding: 13px 30px;
    margin-top: 30px;
    border-radius: 10px;
    color: #FFF;
    font-family:"RobotoCondensedBold";
    font-size:30px;
    text-transform: uppercase;
    line-height: 1;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.group_bottom_fix .dangkyngay .dangkyhoc:hover{
    background-color:#00a651;
}
.group_bottom_fix .dangkyngay .dangkyhoc p{
    font-size:20px;
    font-family:"RobotoCondensed";
}

.cus-idea .profile{
    text-align:center;
}

.ykienkhachhangRun.owl-carousel .owl-nav{
    top:45%;
    right:0;
    width: 100%;
}

.ykienkhachhangRun.owl-carousel .owl-nav .owl-prev{
    position:absolute;
}

.ykienkhachhangRun.owl-carousel .owl-nav .owl-next{
    position:absolute;
}

.ykienkhachhangRun.owl-carousel .owl-nav [class^="owl-"] i.fa{
    font-size:30px;
    color:#FFF;
    border: 1px solid #FFF;
    border-radius: 5px;
}
@media(max-width: 1024px){
    .contentfix{
        padding:0 15px;
    }
}

@media(max-width: 768px){
    .cus-idea .idea{
        width: 60%;
    }
}

@media(max-width: 640px){
    .cus-idea .idea{
        width: 100%;
    }
}

@media(max-width: 320px){
    .ykienkhachhangRun .cus-ser{
        padding:0 5px;
    }
}
