.vshidden {
    visibility: hidden;
}
.config-padding strong,
.config-padding label,
.config-padding .input-groupp-addon {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.config-padding label {
    cursor: pointer;
}
.row_content_content {
    position: relative;
    width: 100%;
}
.config-L .row-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: solid thin #CCC;
}
.config-padding {
    padding: 10px 15px;
}
.config-row.collapse {
    display: block;
}
.row-menu .extract {
    margin-left: auto;
    font-size: 18px;
    cursor: pointer;
}
.config-item {
    position: relative;
    z-index: 9;
    background-color: #333;
    display: block;
    height: 100%;
    color: #FFF;
}
.config-L {
    border-right: thin solid #FAFAFA;
    float: left;
    min-height: 850px;
}
.expand .config-L {
    width: 250px;
}
.collapse .config-L {
    width: 50px;
}
.collapse .config-L .h3.menu {
    display: none;
}
h3.menu {
    margin: 0;
    padding: 0;
}
.collapse .config-L .row-title span {
    display: none;
}
.collapse .config-R {
    width: calc(100% - 50px);
}
.config-R {
    background-color: #FFF;
    float: right;
    color: #000;
}
.config-R p {
    color: #000;
}
.expand .config-R {
    width: calc(100% - 251px);
}
.config-item {
    -webkit-transition: all 600ms;
    -moz-transition: all 600ms;
    -ms-transition: all 600ms;
    -o-transition: all 600ms;
    transition: all 600ms;
}
.left-item:nth-of-type(odd) {
    background-color: #3c3c3c;
}
.left-item {
    padding: 0 15px;
    cursor: pointer;
    line-height: 1.5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.left-item.active,
.left-item:hover {
    background-color: #31708f;
    cursor: pointer;
}
.left-item h4 {
    display: block;
    font-size: 16px;
}
.right-title {
    text-align: center;
    border-bottom: thin solid #DDD;
    color: #333;
    background-color: #f5f5f5;
}
.config-click,
.config-click:visited,
.config-click:focus,
.config-click:hover {
    cursor: pointer;
    text-decoration: none;
    color: #FFF;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.right-item {
    display: none;
}
.right-item.active {
    display: block;
}
.right-box {
    position: static;
    background-color: #FFF;
    width: 100%;
}
.right-box .input-group-addon {
    min-width: 180px;
}
.lab,
.right-box label {
    color: #000;
}
.color-item {
    width: 50%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
}
.img-faicon {
    display: inline-block;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 5px;
    left: 30px;
}
.title-faicon {
    padding-left: 40px;
}