/* CSS Document */
@charset "utf-8";
/*--------------------RESET CSS------------------*/
html,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
blockquote,
q {
    quotes: none;
}
/* remember to define focus styles! */
:focus {
    outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
h1 {
    margin: 0px;
}
h3 {
    margin: 0px;
    padding: 0px;
}
/* main */
body {
    background-color: #FFF;
}
#wapper_main {
    width: 100%;
}
#row_top {
    padding: 10px;
    background-color: #333;
}
#row_menu {
    background-color: #f8f8f8;
    min-height: 30px;
    box-shadow: 0px 0.5px 2px #CCC;
}
.usergroup {
    float: right;
    position: relative;
}
.usergroup ul.dropdown-menu {
    right: 0px;
    left: auto;
    position: absolute;
    display: none;
    top: 95%;
    min-width: 100%;
}
.usergroup:hover ul.dropdown-menu {
    display: block;
}
.clear {
    clear: both;
}
.margin0 {
    margin: 0px;
}
.marginleft0 {
    margin-left: 0px;
}
.marginright0 {
    margin-right: 0px;
}
.margintop0 {
    margin-top: 0px;
}
.marginbottom0 {
    margin-bottom: 0px;
}
.padding0 {
    padding: 0px;
}
.paddingleft0 {
    padding-left: 0px;
}
.paddingright0 {
    padding-right: 0px;
}
.paddingtop0 {
    padding-top: 0px;
}
.paddingbottom0 {
    padding-bottom: 0px;
}
#row_bottom {
    text-align: center;
    font-size: 12px;
    color: #CCC;
    padding: 10px 0px;
    clear: both;
    background-color: #404040;
    display: none;
}
#row_content {
    font-size: 12px;
}
.logo {
    float: left;
}
.row_content_top {
    width: 100%;
    box-shadow: 0px 1px 1px #CCC;
    z-index: 999;
}
.row_content_content {
    width: 99%;
    margin: auto;
    padding-top: 10px;
}
.searchpanel {
    padding: 10px;
    float: left;
}
.row_content_top_title {
    float: left;
    font-size: 20px;
    text-align: left;
    padding: 10px;
}
.row_content_top_action {
    float: right;
    padding: 10px;
}
.align-center {
    text-align: center;
}
.align-left {
    text-align: left;
}
.font-bold {
    font-weight: bold;
}
.color-white {
    color: white;
}
.color-black {
    color: black;
}
.color-red {
    color: red;
}
.color-gray {
    color: gray;
}
.line-height30 {
    line-height: 30px;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.fixed {
    position: fixed;
    top: 0;
    background-color: #f8f8f8;
}
.adminlist {
    background-color: #E7E7E7;
    border-spacing: 1px;
    color: #666666;
    width: 100%;
    border-collapse: collapse;
    top: 55px !important;
    font-size: 12px;
}
.adminlist .btn {
    padding: 2px 3px;
}
.adminlist .btn i {
    padding: 5px;
}
table.adminlist tbody tr {
    background-color: #FFFFFF;
    text-align: left;
    box-sizing: border-box;
}
table.adminlist tbody tr.row1 {
    background: none repeat scroll 0 0 #F9F9F9;
    border-top: 1px solid #FFFFFF;
}
table.adminlist tbody tr.row1 td {
    background: #f9f9f9;
    border: 1px solid #EBEBEB;
    border-top: 1px solid #FFF;
    vertical-align: middle;
}
table.adminlist tbody tr.row0 td {
    border: 1px solid #EBEBEB;
    vertical-align: middle;
}
table.adminlist tr td {
    padding: 1px;
}
table.adminlist th {
    text-align: center;
    background: #f0f0f0;
    color: #666;
    border-bottom: 1px solid #999;
    border-left: 1px solid #fff;
    padding: 4px;
}
table.adminlist tbody tr.row0:hover td,
table.adminlist tbody tr.row1:hover td {
    background-color: #FFFFDD;
}
input.text_area {
    border: 1px solid #C0C0C0;
    font-size: 12px;
    padding-left: 5px;
    width: 50px;
    text-align: center;
}
.cap1,
.cap2,
.cap3,
.cap4,
.cap4,
.cap5,
.cap6,
.cap7,
.cap8,
.cap9,
.cap10 {
    border-radius: 20px;
    margin-right: 3px;
    line-height: 20px !important;
    padding: 0px 7px;
}
.cap1 {
    background-color: #337ab7;
}
.textcap1 {
    text-transform: uppercase;
    font-size: 13px;
    color: #337ab7;
    font-weight: bold;
}
.textcap2 {
    text-transform: uppercase;
    font-size: 12px;
    color: #5cb85c;
    font-weight: bold;
}
.textcap3 {
    font-size: 12px;
    color: #5bc0de;
    font-weight: bold;
}
.textcap4 {
    font-size: 12px;
    color: #c9302c;
}
.cap2 {
    background-color: #5cb85c;
}
.cap3 {
    background-color: #5bc0de;
}
.cap4 {
    background-color: #c9302c;
}
.cap5 {
    margin-left: 80px;
}
.cap6 {
    background-color: #5cb85c;
}
.controlother {
    margin: 5px 5px 0px 0px;
    border-radius: 4px !important;
}
.pagination {
    float: right;
}
.pagination li {
    font-weight: bold;
}
.col_info {
    width: 29%;
    float: left;
    position: relative;
}
.col_data {
    width: 70%;
    float: right;
    position: relative;
}
.adminform {
    font-size: 12px;
}
tab -->#tabs {
    margin: auto;
}
div#tabs ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-top: -50px;
}
div#tabs ul li {
    float: left;
    color: #000000;
    padding: 8px 20px;
    cursor: pointer;
    font-size: 13px;
    border-bottom: none;
    position: relative;
    z-index: 99;
    background: url(../images/bg_li.png) no-repeat;
    border: 1px solid #E9E9E9;
    border-radius: 4px 4px 0px 0px;
    font-weight: normal;
    background: #FFF;
    margin-bottom: -2px;
    margin-right: 5px;
}
div#tabs ul li:first-child {
    background: #FFF;
}
div#tabs ul li img {
    margin-right: 10px;
    margin-top: 3px;
}
div#tabs ul li.id_danhmuc a {
    color: #000;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
}
div#tabs ul li.active {
    color: #0033CC;
    border-bottom: none;
}
.tab-text {
    padding: 10px 0px 0px 0px;
    margin-bottom: 20px;
    margin-top: -2px;
    position: relative;
    z-index: 99;
    text-align: justify;
}
.clear {
    clear: both;
}
.row_countkitu {
    float: right;
    position: absolute;
    right: 0px;
    margin-top: -23px;
    papdding-right: 10px;
    margin-right: 10px;
}
.sokitutoida {
    float: right;
}
.kitudadung {
    float: right;
}
.pagechoice {
    padding: 10px;
}
.pagechoice .selectpage {
    width: auto;
    display: inline;
}
.pagechoice .pagination {
    margin: 0px;
}
.formsearchlist {
    float: left;
    display: table;
    padding-top: 15px;
}
.formsearchlist .danhmuc {
    width: 200px;
    display: inline-block;
    float: left;
}
.formsearchlist .trangthai {
    width: 100px;
    display: inline-block;
    float: left;
}
.formsearchlist .form-control {
    margin-right: 10px;
}
.pagination {
    margin: 16px 0px;
}
#cssmenu ul {
    z-index: 999;
}
.btn2 {
    float: left;
    width: auto;
    display: inline-block;
}
.cursor-pointer {
    cursor: pointer;
    display: block;
}
a.cursor-pointer:hover {
    text-decoration: none;
}
.pagination_action {
    margin: 2px;
    float: left;
}
ul.pagination_action li:last-child a {
    width: 110px !important;
    text-align: right;
}
.cssnoidung ul.pagination_action li:last-child a {
    width: 120px;
    text-align: right;
}
.csssanpham ul.pagination_action li:last-child a {
    width: 120px;
    text-align: right;
}
.pagination_actionnowidth {
    margin: 2px;
    float: left;
}
ul.pagination_actionnowidth li:last-child a {
    text-align: right;
}
.panel-heading {
    z-index: 9999999;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: auto;
}
.contentlang {
    width: 100%;
    height: 450px;
    overflow: auto;
}
.contentlang .le {
    background-color: #E3F0EE;
}
.contentlang .chan {
    background-color: #E4DAD1;
}
.contentlang td {
    padding: 4px;
}
.thuoctinhtitle {
    font-weight: bold;
    text-transform: uppercase;
}
table.adminlist tbody tr td {
    font-weight: bold;
}
upload -->#swfupload-control p {
    margin: 10px 5px;
    font-size: 0.9em;
}
#log {
    margin: 0;
    padding: 0;
    width: 500px;
}
#log li {
    list-style-position: inside;
    margin: 2px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background: #fff;
    position: relative;
}
#log li .progressbar {
    border: 1px solid #333;
    height: 5px;
    background: #fff;
}
#log li .progress {
    background: #999;
    width: 0%;
    height: 5px;
}
#log li p {
    margin: 0;
    line-height: 18px;
}
#log li.success {
    border: 1px solid #339933;
    background: #ccf9b9;
}
#log li span.cancel {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    background: url(../images/cancel.png) no-repeat;
    cursor: pointer;
}
.img_thumb_item {
    float: left;
    width: 30%;
    float: left;
    margin-left: 1%;
    box-shadow: 0px 0px 2px #CCC;
    background-color: #FFF;
    height: 150px;
    /* overflow:hidden; */
    position: relative;
    margin-bottom: 5px;
}
.img_thumb_itemajax {
    width: 130px;
    height: 120px;
}
.img_thumb_item img {
    max-width: 100%;
    max-height: 80%;
    margin: auto;
    display: table;
}
.img_thumb_item .deleteimg {
    position: absolute;
    right: 0px;
    cursor: pointer;
}
.img_thumb_item .deleteimg i {
    color: #000;
    background-color: #Fff;
    border-radius: 20px;
}
.img_thumb_item .deleteimg i:hover {
    color: red;
}
.hinhdaidien {
    position: absolute;
    bottom: 0px;
    background-color: #FFF;
    width: 100%;
    text-align: center;
}
.ul_danhmuccheck {
    max-height: 300px;
    overflow: auto;
}
.ul_danhmuccheck li {
    background-color: #F7F7F7;
    margin-bottom: 1px;
    padding: 2px 0px;
}
.ul_danhmuccheck li label {
    clear: both;
    width: 100%;
}
.ul_danhmuccheck li.check1 {
    text-transform: uppercase;
    padding: 4px 0px;
}
.ul_danhmuccheck li.check2 {
    background-color: #FCFCFC;
}
.ul_danhmuccheck li.check3 {
    background-color: #FFF;
    text-transform: none;
}
.ul_danhmuccheck li:hover {
    background-color: #CCC;
}
.ul_danhmucdachon li {
    text-align: left;
    border-bottom: 1px solid #F8F8F8;
    padding: 2px;
}
.ul_danhmucdachon li:hover i {
    color: #F00;
}
.form-control2 {
    padding: 3px;
    height: auto;
}
.divnhomspvalue {
    float: left;
    display: table;
    padding: 2px 3px;
    margin: 2px;
}
.divnhomspvalue input {
    margin-right: 5px;
}
.hr {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #CCC;
    margin: 20px 0px;
}
#loadnoidungpreview {
    min-height: 180px;
}
.ul_preview {
    height: 150px;
    overflow: auto;
    box-shadow: 0px 0px 2px #CCC;
}
.ul_preview li {
    border-bottom: 1px dotted #CCC;
    padding: 5px 10px;
}
.locngay {
    margin: 8px;
}
.locngay a {
    margin: 5px 3px;
    padding: 3px 5px;
    border: 1px solid #CCC;
    border-radius: 3px;
}
.frm-info-bg .input-group {
    width: 100%;
}
.frm-info-bg .input-group-addon {
    width: 133px;
}
.table-responsive {
    clear: both;
}
.inlogolenhinh {
    border-radius: 5px;
    border: 3px dashed #CCC;
    padding: 10px;
}
/** START CSS QUICK SEARCH */
.search-everything {
    float: left;
    position: relative;
}
.search-everything select.btn {
    height: 34px;
}
.suggest {
    position: absolute;
    left: 15px;
    z-index: 1100;
    width: calc(100% - 30px);
    max-height: 500px;
    height: auto;
    overflow: auto;
    background-color: #F8F8F8;
    border-left: 1px solid #A0A0A0;
    border-right: 1px solid #A0A0A0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}
.suggest ul {
    padding: 0 5px;
}
.suggest ul li {
    background: #fff;
    margin: 8px 0;
    padding: 8px 5px;
    border: 1px solid #ededed;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    display: block;
    width: 100%;
    cursor: pointer;
}
.suggest ul li:hover {
    background-color: #E8E8E8;
}
.suggest ul a {
    font-size: 12px;
}
.suggest ul a:hover {
    text-decoration: none;
}
.form-control {
    height: auto;
}
/** END CSS QUICK SEARCH */
.btn_vitri {
    margin: 3px;
    font-size: 12px;
    text-align: left;
    float: left;
    background-color: #5cb85c;
    color: #FFF;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    padding-left: 5px;
    line-height: 26px;
    font-weight: normal;
}
.chonvitri {
    font-weight: 300;
    padding: 3px;
    color: #333;
}
.chuyen-modules {
    color: #b1b1b1;
    text-align: left;
    line-height: 1.5;
    font-weight: 300;
}
.chuyen-modules select:focus,
.chuyen-modules select:visited,
.chuyen-modules select:hover {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.chuyen-modules select {
    cursor: pointer;
    font-weight: 300;
    opacity: .6;
}
.btn_vitri a {
    float: right;
    background-color: #dfdfdf;
    margin-left: 5px;
}
.btn_vitri a i {
    font-size: 16px;
    padding: 5px;
}
.btn_vitri a:hover i {
    color: red;
}
.btn_colvalue {
    margin: 3px;
    font-size: 12px;
    text-align: left;
    float: left;
    background-color: #FFF;
    padding: 3px 8px 3px 3px;
}
.btn_colvalue a {
    float: right;
}
.btn_althinh,
.hinhdaidien label {
    cursor: pointer;
    float: left;
    border: 1px solid #CCC;
    border-radius: 2px;
    margin: 2px;
    padding: 2px 4px;
    background-color: #f5f5f5;
    line-height: 24px;
    font-size: 8px;
}
.hinhdaidien label {
    float: right;
}
.inputalt {
    position: absolute;
    width: 300%;
    bottom: 15px;
    display: none;
    z-index: 999;
}
.inputalt input {
    z-index: 9999;
}
.modal-dialog {
    max-width: 800px;
    width: 100%;
}
.sm.form-control {
    padding: 4px 10px;
    font-size: 12px;
}
.sm.input-group-addon {
    padding: 4px 10px;
}
.ui-sortable tr td {
    cursor: move;
}
.sm.btn {
    padding: 4px 10px;
}
.tichdiem {
    min-height: 75vh;
}
.tichdiem a:hover {
    text-decoration: none;
}
#menuCol .list-group-item a {
    font-size: 14px;
    color: #333;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
#menuCol .list-group-item:hover,
#menuCol .list-group-item.active {
    background-color: #c4d2e7;
}
#menuCol .list-group-item {
    padding: 0;
    border-radius: 0;
}
#menuCol .list-group-item:not(.active) {
    border-right: 0;
}
#menuCol .list-group-item a {
    display: block;
    width: 100%;
    padding: 10px 15px;
}
#contentCol {
    border-left: thin solid #DDD;
    height: 100%;
}
#contentCol .content-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: -15px;
}
.tichdiem [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
}
.edit-text {
    cursor: pointer;
    color: #01397a;
}
#contentCol .edit {
    float: right;
}
#contentCol .item-label {
    color: #333;
    float: left;
    font-size: 13px;
    font-weight: bold;
    width: 220px;
}
#contentCol .item-view {
    display: block;
    background: transparent;
    text-decoration: none;
    padding: 10px;
}
#contentCol .list-item li {
    border-bottom: thin solid #e9ebee;
}
#contentCol .item-content {
    color: #90949c;
    font-size: 13px;
}
#contentCol hr {
    margin-top: 5px;
}
#contentCol .content {
    background-color: #f2f2f2;
    padding: 15px 15px 15px 20px;
    display: none;
}
#contentCol .group-btn {
    margin-top: 50px;
}
.content .input {
    padding: 5px;
    border-radius: 4px;
    border: thin solid #ddd;
    width: 100px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.head-check {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 20px;
}
.head-check label {
    padding: 5px 15px;
    cursor: pointer;
}
.head-check input[type="radio"] {
    margin-top: 0;
    vertical-align: middle;
}
.btn-group.row_content_top_action a:last-of-type {
    display: none;
}