@import url("config.css");
.duan-box {
	border: 2px solid green;
	padding: 10px;
	border-radius: 6px;
}
.ui-datepicker{z-index: 99 !important};
.remove-duan {
	color: #F00;
	cursor: pointer;
	display: none;
}
.remove-duan>span {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.edit .remove-duan {
	display: block;
}
.btnAdd {
	display: table;
	margin-left: auto;
	margin-right: auto;
}
.oneLine {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.iconchonsanGroup li {
	float: left;
	width: 25%;
}
.ui-sortable-handle {
	cursor: pointer;
	border-style: dashed;
	border-width: 1px;
}
.ui-sortable-handle:hover {
	background-color: #337ab7;
}
.tr-sortable-highlight {
	background-color: #D9534F !important;
	height: 100px !important;
}
.input-group-addon {
	text-align: left;
}
body.stop-scrolling {
	height: 100%;
	overflow: hidden;
}
.sweet-overlay {
	background-color: black;
	/* IE8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	/* IE8 */
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: none;
	z-index: 10000;
}
.sweet-alert {
	background-color: white;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	width: 478px;
	padding: 17px;
	border-radius: 5px;
	text-align: center;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -256px;
	margin-top: -200px;
	overflow: hidden;
	display: none;
	z-index: 99999;
}
@media all and (max-width: 540px) {
	.sweet-alert {
		width: auto;
		margin-left: 0;
		margin-right: 0;
		left: 15px;
		right: 15px;
	}
}
.sweet-alert h2 {
	color: #575757;
	font-size: 30px;
	text-align: center;
	font-weight: 600;
	text-transform: none;
	position: relative;
	margin: 25px 0;
	padding: 0;
	line-height: 40px;
	display: block;
}
.sweet-alert p {
	color: #000000;
	font-size: 18px;
	text-align: center;
	font-weight: 600px;
	position: relative;
	text-align: inherit;
	float: none;
	margin: 0;
	padding: 0;
	line-height: normal;
}
.sweet-alert fieldset {
	border: none;
	position: relative;
}
.sweet-alert .sa-error-container {
	background-color: #f1f1f1;
	margin-left: -17px;
	margin-right: -17px;
	overflow: hidden;
	padding: 0 10px;
	max-height: 0;
	webkit-transition: padding 0.15s, max-height 0.15s;
	-webkit-transition: padding 0.15s, max-height 0.15s;
	transition: padding 0.15s, max-height 0.15s;
}
.sweet-alert .sa-error-container.show {
	padding: 10px 0;
	max-height: 100px;
	webkit-transition: padding 0.2s, max-height 0.2s;
	-webkit-transition: padding 0.25s, max-height 0.25s;
	transition: padding 0.25s, max-height 0.25s;
}
.sweet-alert .sa-error-container .icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #ea7d7d;
	color: white;
	line-height: 24px;
	text-align: center;
	margin-right: 3px;
}
.sweet-alert .sa-error-container p {
	display: inline-block;
}
.sweet-alert .sa-input-error {
	position: absolute;
	top: 29px;
	right: 26px;
	width: 20px;
	height: 20px;
	opacity: 0;
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transition: all 0.1s;
	transition: all 0.1s;
}
.sweet-alert .sa-input-error::before,
.sweet-alert .sa-input-error::after {
	content: "";
	width: 20px;
	height: 6px;
	background-color: #f06e57;
	border-radius: 3px;
	position: absolute;
	top: 50%;
	margin-top: -4px;
	left: 50%;
	margin-left: -9px;
}
.sweet-alert .sa-input-error::before {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.sweet-alert .sa-input-error::after {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.sweet-alert .sa-input-error.show {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.sweet-alert input {
	width: 100%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border-radius: 3px;
	border: 1px solid #d7d7d7;
	height: 43px;
	margin-top: 10px;
	margin-bottom: 17px;
	font-size: 18px;
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.06);
	        box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.06);
	padding: 0 12px;
	display: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.sweet-alert input:focus {
	outline: none;
	-webkit-box-shadow: 0px 0px 3px #c4e6f5;
	        box-shadow: 0px 0px 3px #c4e6f5;
	border: 1px solid #b4dbed;
}
.sweet-alert input:focus::-moz-placeholder {
	-webkit-transition: opacity 0.3s 0.03s ease;
	transition: opacity 0.3s 0.03s ease;
	opacity: 0.5;
}
.sweet-alert input:focus:-ms-input-placeholder {
	-webkit-transition: opacity 0.3s 0.03s ease;
	transition: opacity 0.3s 0.03s ease;
	opacity: 0.5;
}
.sweet-alert input:focus::-webkit-input-placeholder {
	-webkit-transition: opacity 0.3s 0.03s ease;
	transition: opacity 0.3s 0.03s ease;
	opacity: 0.5;
}
.sweet-alert input::-moz-placeholder {
	color: #bdbdbd;
}
.sweet-alert input:-ms-input-placeholder {
	color: #bdbdbd;
}
.sweet-alert input::-webkit-input-placeholder {
	color: #bdbdbd;
}
.sweet-alert.show-input input {
	display: block;
}
.sweet-alert .sa-confirm-button-container {
	display: inline-block;
	position: relative;
}
.sweet-alert .la-ball-fall {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -27px;
	margin-top: 4px;
	opacity: 0;
	visibility: hidden;
}
.sweet-alert button {
	background-color: #8CD4F5;
	color: white;
	border: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
	font-size: 17px;
	font-weight: 500;
	border-radius: 5px;
	padding: 10px 32px;
	margin: 26px 5px 0 5px;
	cursor: pointer;
}
.sweet-alert button:focus {
	outline: none;
	-webkit-box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
	        box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
}
.sweet-alert button:hover {
	background-color: #7ecff4;
}
.sweet-alert button:active {
	background-color: #5dc2f1;
}
.sweet-alert button.cancel {
	background-color: #C1C1C1;
}
.sweet-alert button.cancel:hover {
	background-color: #b9b9b9;
}
.sweet-alert button.cancel:active {
	background-color: #a8a8a8;
}
.sweet-alert button.cancel:focus {
	-webkit-box-shadow: rgba(197, 205, 211, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.04706) 0px 0px 0px 1px inset !important;
	        box-shadow: rgba(197, 205, 211, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.04706) 0px 0px 0px 1px inset !important;
}
.sweet-alert button[disabled] {
	opacity: .6;
	cursor: default;
}
.sweet-alert button.confirm[disabled] {
	color: transparent;
}
.sweet-alert button.confirm[disabled]~.la-ball-fall {
	opacity: 1;
	visibility: visible;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
.sweet-alert button::-moz-focus-inner {
	border: 0;
}
.sweet-alert[data-has-cancel-button=false] button {
	-webkit-box-shadow: none !important;
	        box-shadow: none !important;
}
.sweet-alert[data-has-confirm-button=false][data-has-cancel-button=false] {
	padding-bottom: 40px;
}
.sweet-alert .sa-icon {
	width: 80px;
	height: 80px;
	border: 4px solid gray;
	border-radius: 40px;
	border-radius: 50%;
	margin: 20px auto;
	padding: 0;
	position: relative;
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;
}
.sweet-alert .sa-icon.sa-error {
	border-color: #F27474;
}
.sweet-alert .sa-icon.sa-error .sa-x-mark {
	position: relative;
	display: block;
}
.sweet-alert .sa-icon.sa-error .sa-line {
	position: absolute;
	height: 5px;
	width: 47px;
	background-color: #F27474;
	display: block;
	top: 37px;
	border-radius: 2px;
}
.sweet-alert .sa-icon.sa-error .sa-line.sa-left {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	left: 17px;
}
.sweet-alert .sa-icon.sa-error .sa-line.sa-right {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	right: 16px;
}
.sweet-alert .sa-icon.sa-warning {
	border-color: #F8BB86;
}
.sweet-alert .sa-icon.sa-warning .sa-body {
	position: absolute;
	width: 5px;
	height: 47px;
	left: 50%;
	top: 10px;
	border-radius: 2px;
	margin-left: -2px;
	background-color: #F8BB86;
}
.sweet-alert .sa-icon.sa-warning .sa-dot {
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	margin-left: -3px;
	left: 50%;
	bottom: 10px;
	background-color: #F8BB86;
}
.sweet-alert .sa-icon.sa-info {
	border-color: #C9DAE1;
}
.sweet-alert .sa-icon.sa-info::before {
	content: "";
	position: absolute;
	width: 5px;
	height: 29px;
	left: 50%;
	bottom: 17px;
	border-radius: 2px;
	margin-left: -2px;
	background-color: #C9DAE1;
}
.sweet-alert .sa-icon.sa-info::after {
	content: "";
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	margin-left: -3px;
	top: 19px;
	background-color: #C9DAE1;
}
.sweet-alert .sa-icon.sa-success {
	border-color: #A5DC86;
}
.sweet-alert .sa-icon.sa-success::before,
.sweet-alert .sa-icon.sa-success::after {
	content: '';
	border-radius: 40px;
	border-radius: 50%;
	position: absolute;
	width: 60px;
	height: 120px;
	background: white;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.sweet-alert .sa-icon.sa-success::before {
	border-radius: 120px 0 0 120px;
	top: -7px;
	left: -33px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 60px 60px;
	transform-origin: 60px 60px;
}
.sweet-alert .sa-icon.sa-success::after {
	border-radius: 0 120px 120px 0;
	top: -11px;
	left: 30px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 0px 60px;
	transform-origin: 0px 60px;
}
.sweet-alert .sa-icon.sa-success .sa-placeholder {
	width: 80px;
	height: 80px;
	border: 4px solid rgba(165, 220, 134, 0.2);
	border-radius: 40px;
	border-radius: 50%;
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;
	position: absolute;
	left: -4px;
	top: -4px;
	z-index: 2;
}
.sweet-alert .sa-icon.sa-success .sa-fix {
	width: 5px;
	height: 90px;
	background-color: white;
	position: absolute;
	left: 28px;
	top: 8px;
	z-index: 1;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.sweet-alert .sa-icon.sa-success .sa-line {
	height: 5px;
	background-color: #A5DC86;
	display: block;
	border-radius: 2px;
	position: absolute;
	z-index: 2;
}
.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
	width: 25px;
	left: 14px;
	top: 46px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
	width: 47px;
	right: 8px;
	top: 38px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.sweet-alert .sa-icon.sa-custom {
	background-size: contain;
	border-radius: 0;
	border: none;
	background-position: center center;
	background-repeat: no-repeat;
}
/*
 * Animations
 */
@-webkit-keyframes showSweetAlert {
	0% {
		transform: scale(0.7);
		-webkit-transform: scale(0.7);
	}
	45% {
		transform: scale(1.05);
		-webkit-transform: scale(1.05);
	}
	80% {
		transform: scale(0.95);
		-webkit-transform: scale(0.95);
	}
	100% {
		transform: scale(1);
		-webkit-transform: scale(1);
	}
}
@keyframes showSweetAlert {
	0% {
		transform: scale(0.7);
		-webkit-transform: scale(0.7);
	}
	45% {
		transform: scale(1.05);
		-webkit-transform: scale(1.05);
	}
	80% {
		transform: scale(0.95);
		-webkit-transform: scale(0.95);
	}
	100% {
		transform: scale(1);
		-webkit-transform: scale(1);
	}
}
@-webkit-keyframes hideSweetAlert {
	0% {
		transform: scale(1);
		-webkit-transform: scale(1);
	}
	100% {
		transform: scale(0.5);
		-webkit-transform: scale(0.5);
	}
}
@keyframes hideSweetAlert {
	0% {
		transform: scale(1);
		-webkit-transform: scale(1);
	}
	100% {
		transform: scale(0.5);
		-webkit-transform: scale(0.5);
	}
}
@-webkit-keyframes slideFromTop {
	0% {
		top: 0%;
	}
	100% {
		top: 50%;
	}
}
@keyframes slideFromTop {
	0% {
		top: 0%;
	}
	100% {
		top: 50%;
	}
}
@-webkit-keyframes slideToTop {
	0% {
		top: 50%;
	}
	100% {
		top: 0%;
	}
}
@keyframes slideToTop {
	0% {
		top: 50%;
	}
	100% {
		top: 0%;
	}
}
@-webkit-keyframes slideFromBottom {
	0% {
		top: 70%;
	}
	100% {
		top: 50%;
	}
}
@keyframes slideFromBottom {
	0% {
		top: 70%;
	}
	100% {
		top: 50%;
	}
}
@-webkit-keyframes slideToBottom {
	0% {
		top: 50%;
	}
	100% {
		top: 70%;
	}
}
@keyframes slideToBottom {
	0% {
		top: 50%;
	}
	100% {
		top: 70%;
	}
}
.showSweetAlert[data-animation=pop] {
	-webkit-animation: showSweetAlert 0.3s;
	animation: showSweetAlert 0.3s;
}
.showSweetAlert[data-animation=none] {
	-webkit-animation: none;
	animation: none;
}
.showSweetAlert[data-animation=slide-from-top] {
	-webkit-animation: slideFromTop 0.3s;
	animation: slideFromTop 0.3s;
}
.showSweetAlert[data-animation=slide-from-bottom] {
	-webkit-animation: slideFromBottom 0.3s;
	animation: slideFromBottom 0.3s;
}
.hideSweetAlert[data-animation=pop] {
	-webkit-animation: hideSweetAlert 0.2s;
	animation: hideSweetAlert 0.2s;
}
.hideSweetAlert[data-animation=none] {
	-webkit-animation: none;
	animation: none;
}
.hideSweetAlert[data-animation=slide-from-top] {
	-webkit-animation: slideToTop 0.4s;
	animation: slideToTop 0.4s;
}
.hideSweetAlert[data-animation=slide-from-bottom] {
	-webkit-animation: slideToBottom 0.3s;
	animation: slideToBottom 0.3s;
}
@-webkit-keyframes animateSuccessTip {
	0% {
		width: 0;
		left: 1px;
		top: 19px;
	}
	54% {
		width: 0;
		left: 1px;
		top: 19px;
	}
	70% {
		width: 50px;
		left: -8px;
		top: 37px;
	}
	84% {
		width: 17px;
		left: 21px;
		top: 48px;
	}
	100% {
		width: 25px;
		left: 14px;
		top: 45px;
	}
}
@keyframes animateSuccessTip {
	0% {
		width: 0;
		left: 1px;
		top: 19px;
	}
	54% {
		width: 0;
		left: 1px;
		top: 19px;
	}
	70% {
		width: 50px;
		left: -8px;
		top: 37px;
	}
	84% {
		width: 17px;
		left: 21px;
		top: 48px;
	}
	100% {
		width: 25px;
		left: 14px;
		top: 45px;
	}
}
@-webkit-keyframes animateSuccessLong {
	0% {
		width: 0;
		right: 46px;
		top: 54px;
	}
	65% {
		width: 0;
		right: 46px;
		top: 54px;
	}
	84% {
		width: 55px;
		right: 0px;
		top: 35px;
	}
	100% {
		width: 47px;
		right: 8px;
		top: 38px;
	}
}
@keyframes animateSuccessLong {
	0% {
		width: 0;
		right: 46px;
		top: 54px;
	}
	65% {
		width: 0;
		right: 46px;
		top: 54px;
	}
	84% {
		width: 55px;
		right: 0px;
		top: 35px;
	}
	100% {
		width: 47px;
		right: 8px;
		top: 38px;
	}
}
@-webkit-keyframes rotatePlaceholder {
	0% {
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
	}
	5% {
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
	}
	12% {
		transform: rotate(-405deg);
		-webkit-transform: rotate(-405deg);
	}
	100% {
		transform: rotate(-405deg);
		-webkit-transform: rotate(-405deg);
	}
}
@keyframes rotatePlaceholder {
	0% {
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
	}
	5% {
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
	}
	12% {
		transform: rotate(-405deg);
		-webkit-transform: rotate(-405deg);
	}
	100% {
		transform: rotate(-405deg);
		-webkit-transform: rotate(-405deg);
	}
}
.animateSuccessTip {
	-webkit-animation: animateSuccessTip 0.75s;
	animation: animateSuccessTip 0.75s;
}
.animateSuccessLong {
	-webkit-animation: animateSuccessLong 0.75s;
	animation: animateSuccessLong 0.75s;
}
.sa-icon.sa-success.animate::after {
	-webkit-animation: rotatePlaceholder 4.25s ease-in;
	animation: rotatePlaceholder 4.25s ease-in;
}
@-webkit-keyframes animateErrorIcon {
	0% {
		transform: rotateX(100deg);
		-webkit-transform: rotateX(100deg);
		opacity: 0;
	}
	100% {
		transform: rotateX(0deg);
		-webkit-transform: rotateX(0deg);
		opacity: 1;
	}
}
@keyframes animateErrorIcon {
	0% {
		transform: rotateX(100deg);
		-webkit-transform: rotateX(100deg);
		opacity: 0;
	}
	100% {
		transform: rotateX(0deg);
		-webkit-transform: rotateX(0deg);
		opacity: 1;
	}
}
.animateErrorIcon {
	-webkit-animation: animateErrorIcon 0.5s;
	animation: animateErrorIcon 0.5s;
}
@-webkit-keyframes animateXMark {
	0% {
		transform: scale(0.4);
		-webkit-transform: scale(0.4);
		margin-top: 26px;
		opacity: 0;
	}
	50% {
		transform: scale(0.4);
		-webkit-transform: scale(0.4);
		margin-top: 26px;
		opacity: 0;
	}
	80% {
		transform: scale(1.15);
		-webkit-transform: scale(1.15);
		margin-top: -6px;
	}
	100% {
		transform: scale(1);
		-webkit-transform: scale(1);
		margin-top: 0;
		opacity: 1;
	}
}
@keyframes animateXMark {
	0% {
		transform: scale(0.4);
		-webkit-transform: scale(0.4);
		margin-top: 26px;
		opacity: 0;
	}
	50% {
		transform: scale(0.4);
		-webkit-transform: scale(0.4);
		margin-top: 26px;
		opacity: 0;
	}
	80% {
		transform: scale(1.15);
		-webkit-transform: scale(1.15);
		margin-top: -6px;
	}
	100% {
		transform: scale(1);
		-webkit-transform: scale(1);
		margin-top: 0;
		opacity: 1;
	}
}
.animateXMark {
	-webkit-animation: animateXMark 0.5s;
	animation: animateXMark 0.5s;
}
@-webkit-keyframes pulseWarning {
	0% {
		border-color: #F8D486;
	}
	100% {
		border-color: #F8BB86;
	}
}
@keyframes pulseWarning {
	0% {
		border-color: #F8D486;
	}
	100% {
		border-color: #F8BB86;
	}
}
.pulseWarning {
	-webkit-animation: pulseWarning 0.75s infinite alternate;
	animation: pulseWarning 0.75s infinite alternate;
}
@-webkit-keyframes pulseWarningIns {
	0% {
		background-color: #F8D486;
	}
	100% {
		background-color: #F8BB86;
	}
}
@keyframes pulseWarningIns {
	0% {
		background-color: #F8D486;
	}
	100% {
		background-color: #F8BB86;
	}
}
.pulseWarningIns {
	-webkit-animation: pulseWarningIns 0.75s infinite alternate;
	animation: pulseWarningIns 0.75s infinite alternate;
}
@-webkit-keyframes rotate-loading {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes rotate-loading {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
.modal-backdrop {
	-webkit-backface-visibility: hidden;
}
.modal-backdrop.zoom,
.modal-backdrop.newspaper,
.modal-backdrop.move-horizontal,
.modal-backdrop.move-from-top,
.modal-backdrop.unfold-3d,
.modal-backdrop.zoom-out {
	opacity: 0;
	-webkit-transition: opacity 0.4s ease;
	transition: opacity 0.4s ease;
}
.modal-backdrop.in {
	opacity: 0.5;
}
.modal-backdrop.unfold-3d {
	-webkit-perspective: 500;
	perspective: 500;
}
.modal.zoom .modal-dialog {
	opacity: 0;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-transform: scale(0.6);
	transform: scale(0.6);
}
.modal.in .modal-dialog {
	opacity: 1;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.modal.fade.newspaper .modal-dialog,
.modal.newspaper .modal-dialog {
	opacity: 0;
	-webkit-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transform: scale(0) rotate(500deg);
	transform: scale(0) rotate(500deg);
}
.modal.fade.newspaper.in .modal-dialog,
.modal.in .modal-dialog {
	opacity: 1;
	-webkit-transform: scale(1) rotate(0deg);
	transform: scale(1) rotate(0deg);
}
.modal.move-horizontal .modal-dialog {
	opacity: 0;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transform: translateX(-50px);
	transform: translateX(-50px);
}
.modal.in .modal-dialog {
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
.modal.move-from-top .modal-dialog {
	opacity: 0;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transform: translateY(-100px);
	transform: translateY(-100px);
}
.modal.in .modal-dialog {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.modal.unfold-3d .modal-dialog {
	opacity: 0;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: rotateY(-60deg);
	transform: rotateY(-60deg);
}
.modal.in .modal-dialog {
	opacity: 1;
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
}
.modal.fade.zoom-out .modal-dialog,
.modal.zoom-out .modal-dialog {
	opacity: 0;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.modal.fade.zoom-out.in .modal-dialog,
.modal.in .modal-dialog {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.csstransforms3d .modal.unfold-3d .modal-dialog {
	-webkit-transform: none;
	transform: none;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transform: scale(0.7) rotate3d(-1, 1, 0, -60deg);
	transform: scale(0.7) rotate3d(-1, 1, 0, -60deg);
}
.csstransforms3d .modal.in .modal-dialog {
	-webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
	transform: scale(1) rotate3d(-1, 1, 0, 0deg);
}
.modal.fade .modal-dialog {
	-webkit-transform: scale(0.1);
	transform: scale(0.1);
	top: 300px;
	opacity: 0;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.modal.fade.in .modal-dialog {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transform: translate3d(0, -300px, 0);
	transform: translate3d(0, -300px, 0);
	opacity: 1;
}
input[type="radio"].zoom {
	width: 40px;
	height: 20px;
}
input[type="checkbox"].zoom {
	width: 16px;
	height: 16px;
}
#alert_placeholder {
	position: fixed;
	right: 10px;
	z-index: 9999999;
	bottom: 5px;
}
#alert_placeholder #alertdiv span {
	margin-right: 10px;
}
.can-inputaddon .input-group-addon {
	min-width: 130px;
}
.tab-text.frm-user .input-group {
	width: 100%;
}
.input-group .group-active {
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #555;
	text-align: center;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 0 4px 4px 0;
}
.input-group .group-active::after {
	content: "";
	clear: both;
	display: table;
	/* style */
}
.radios label,
.input-group .group-active label {
	float: left;
	line-height: 25px;
}
.radios label:not(:last-child),
.input-group .group-active label:not(:last-child) {
	margin-right: 10px;
}
.radios label input[type="radio"],
.input-group .group-active label input[type="radio"] {
	width: 22px;
	height: 20px;
	float: left;
}
.radios label input[type="radio"]:hover,
.input-group .group-active label input[type="radio"]:hover {
	cursor: pointer;
}
.input-group .group-active label:hover {
	cursor: pointer;
}
#alert_error {
	position: fixed;
	background: rgba(0, 0, 0, 0.64);
	z-index: 999999;
	width: 300px;
	margin-left: -150px;
	height: auto;
	top: 10px;
	left: 50%;
	text-align: center;
	font-size: 28px;
	color: #FFF;
	border-bottom: 2px solid red;
	padding: 10px 0;
	display: none;
}
#loading {
	position: fixed;
	width: 100%;
	top: 0;
	height: 100%;
	left: 0;
	display: none;
	background-color: transparent;
}
#loading img {
	left: 50%;
	top: 50%;
	position: fixed;
	width: 100px;
	height: 100px;
	background-color: black;
	border-radius: 10px 10px 10px 10px;
}
.checkbox.large {
	line-height: 22px;
}
.checkbox.large input {
	width: 15px;
	height: 15px;
}
.checkbox.large label {
	font-weight: bold;
	font-size: 14px;
}
.tendangnhap-view {
	margin-top: 10px;
}
.tendangnhap-view label {
	font-size: 14px;
	font-weight: normal;
}
#box_doimatkhau {
	background-color: #EFEFEF;
	padding: 15px 10px 1px 10px;
	border-radius: 6px;
	margin-bottom: 10px;
}
.box-permission input[type="checkbox"] {
	margin-top: 1px;
	width: 16px;
	height: 16px;
}
.box-permission label {
	margin-right: 3px;
}
.box-permission td.name {
	text-transform: uppercase;
	font-size: 13px;
	color: #337ab7;
	font-weight: bold;
}
.box-permission .panel-body {
	padding: 0;
}
.box-permission .table-bordered {
	border: 0;
}
.box-permission .table-bordered>tbody>tr>td,
.box-permission .table-bordered>tbody>tr>th,
.box-permission .table-bordered>tfoot>tr>td,
.box-permission .table-bordered>tfoot>tr>th,
.box-permission .table-bordered>thead>tr>td,
.box-permission .table-bordered>thead>tr>th {
	border-left-width: 0;
}
.box-permission .table-bordered>tbody>tr>td:last-child,
.box-permission .table-bordered>tbody>tr>th:last-child,
.box-permission .table-bordered>tfoot>tr>td:last-child,
.box-permission .table-bordered>tfoot>tr>th:last-child,
.box-permission .table-bordered>thead>tr>td:last-child,
.box-permission .table-bordered>thead>tr>th:last-child {
	border-right-width: 0;
}
.doithongtinuser {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	float: none;
}
.col_data.full {
	width: 100%;
}
.col_data.setwidth {
	width: 900px;
	margin: 0 auto;
	float: none;
}
.thuoctinhtitle .checkall-per {
	float: right;
	display: inline;
}
.thuoctinhtitle label {
	text-transform: none;
}
.row-no-padding {
	margin-left: 0;
	margin-right: 0;
}
.row-no-padding [class*="col-"] {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.box-lienhe .input-group-addon {
	min-width: 100px;
}
.box-cauhinhsite .input-group-addon {
	min-width: 185px;
}
.box-thietlapmail .input-group-addon {
	min-width: 120px;
}
.box-thietlapseo .input-group-addon {
	min-width: 150px;
}
.box-adminloai .input-group-addon {
	min-width: 80px;
}
.filter-date {
	width: auto !important;
	float: left;
	margin-right: 15px;
}
.group-active>textarea {
	border: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
	margin: -6px -12px;
}
table.table-donhang th {
	font-size: 14px;
	text-transform: uppercase;
	background: #F2F2F2;
}
table.table-donhang tr:nth-child(even) {
	background-color: #f5f5f5;
}
td.chuaxem,
td.hoanthanh,
td.dangxuly,
td.daxem,
td.dahuy {
	text-align: center;
	background: red !important;
	color: #FFF;
	font-size: 15px;
}
td.hoanthanh {
	background: #009688 !important;
}
td.dangxuly {
	background: orange !important;
}
td.daxem {
	background: rgba(156, 39, 176, 0.66) !important;
}
td.dahuy {
	background: rgba(0, 0, 0, 0.49) !important;
}
.notification-ads {
	background: #32B2DF;
	min-height: 90px;
	padding: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-bottom: 15px;
	text-align: center;
	display: table;
	width: 100%;
}
.notification-ads a {
	display: table-cell;
	color: #fff;
	font-size: 24px;
	vertical-align: middle;
}
.box-itemHome {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.box-itemHome .panel-body {
	padding: 0;
}
.box-itemHome .panel-body a {
	position: relative;
	min-height: 118px;
	display: block;
}
.box-itemHome .panel-body a .icon,
.box-itemHome .panel-body a .value,
.box-itemHome .panel-body a header {
	position: absolute;
	z-index: 1;
}
.box-itemHome .panel-body a .value {
	top: 0;
	left: 0;
	margin: 25px 0 0 20px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1em;
}
.box-itemHome .panel-body a .icon {
	top: 0;
	right: 0;
	margin: 25px 15px 0 0;
}
.box-itemHome .panel-body a .icon i {
	font-size: 48px;
	line-height: 36px;
}
.box-itemHome .panel-body a header {
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
}
.box-itemHome .panel-body a header h3 {
	margin: 0;
	padding: 2px 0 12px;
}
.thin {
	font-weight: 300;
}
.semi-bold {
	color: #1e9765;
	font-weight: 600;
}
table.thongkedonhang tr td {
	font-size: 14px;
}
.container-home-admin {
	background-color: #e6e8ea;
	border-top: solid 1px #ddd;
	border-left: solid 1px #ddd;
}
span.star {
	font-weight: 800;
	color: #f00;
}
#feedback-box {
	position: fixed;
	display: block;
	z-index: 9999;
	right: 20px;
	bottom: 10px;
}
#feedback-box .report-icon {
	overflow: hidden;
}
#feedback-box .report-icon:hover {
	width: 90px;
	text-indent: inherit;
	border-radius: 20px;
}
#feedback-box a {
	width: 34px;
	height: 34px;
	display: block;
	background: #009cd7;
	color: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 34px;
	border-radius: 50%;
	-webkit-transition: all .2s ease-out;
	transition: all .2s ease-out;
}
#feedback-box a:hover {
	background: #0e688a;
}
#feedback-box a span {
	text-indent: -999em;
}
#feedback-box .fa-flag {
	font-size: 15px;
	line-height: 34px;
}
#alert_box .for-user {
	z-index: 999;
	position: fixed;
	top: 15px;
	right: 15px;
	margin-left: -300px;
	width: 600px;
	text-align: center;
	font-size: 16px;
}
#alert_box .for-user span.close {
	position: fixed;
	top: 20px;
	right: 20px;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	opacity: 1;
}
#alert_box .for-user .content {
	text-align: left;
}
.maunenxanh {
	background: #009cd7;
	text-align: center;
	text-transform: uppercase;
	font-family: Roboto-Bold, Arial, Helvetica, sans-serif;
	border-radius: 5px 5px 0 0;
}
.maunenxanh h4 {
	font-weight: 400;
	font-size: 18px;
	color: #fff;
}
@media screen and (max-width: 1115px) {
	#feedback-box {
		display: none;
	}
}
.list-icon {
	width: 100%;
	top: 33px;
	max-height: 380px;
	overflow-y: auto;
}
.list-icon li {
	padding: 8px 10px;
	cursor: pointer;
	border-bottom: 1px solid #ccc;
	float: left;
	width: 20%;
}
.list-icon li:hover {
	background-color: #eee;
}
.faviconli:before,
.faviconli:after {
	content: " ";
	display: table;
}
.faviconli:after {
	clear: both;
}
.faviconli {
	float: left;
	width: calc(10% - 15px);
	margin-right: 15px;
	cursor: pointer;
}
.faviconli label,
.faviconli input,
.faviconli img {
	cursor: pointer;
}
.faviconli input[type="radio"] {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.chonvitri {
	font-weight: 300;
	padding: 3px;
	color: #333;
}
.chuyen-modules {
	color: #b1b1b1;
	text-align: left;
	line-height: 1.5;
	font-weight: 300;
}
.adminlist tr:hover .quick-share {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
}
.quick-share {
    padding-top: 5px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
}
.quick-share > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.quick-share > ul li {
    /* padding: 5px 5px; */
    border: thin solid #CCC;
    border-radius: 50%;
    margin: 0 5px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
}
.quick-share > ul li:hover {
    background-color: #DFDFDF;
    cursor: pointer;
}
#panelLogo {
    display: none;
}
#panelLogo .panel-heading {
    background-color: white;
}
#panelLogo .panel-body {
    display: flex;
}
#panelLogo .panel-body > div {
    padding: 0 15px;
    cursor: pointer;
}
.option-txt {
    float: right;
    font-size: 10px;
    font-weight: normal;
    font-family: arial;
}
.option-txt label {
    padding: 0 4px;
    cursor: pointer;
    user-select: none;
}
.option-txt label input {
    vertical-align: sub;
}