@media screen and (max-width: 1099px) {

}
@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 640px) {
  .col_info{
    width: 100%;
  }
  .col_data{
    width: 100%;
  }
  .btn{
    padding:6px;
  }

}
@media screen and (max-width: 480px) {
  .row_content_top_action i{
    display: none;
  }
}
@media screen and (max-width: 360px) {

}
@media screen and (max-width: 320px) {

}
