{strip}
{if $arrThanhvien.error == '404'}
    <div class="ws-container clearfix">
        <div class="alert alert-danger">
            <strong class="h3 text-center">TRANG NÀY KHÔNG TỒN TẠI</strong>
        </div>
    </div>
{else}


    {$actGet = './thanhvien_'|cat:$smarty.get.act|cat:'.tpl'}
    {include file=$actGet}

{/if}
{/strip}