.itemvideo {
    float: left;
    width: 100%;
    margin-bottom: 50px;
    background-color: #FFF;
    padding: 10px;
}
#framevideo{
    height: 250px;
}

.bottomfix .itemvideo {
    width: 100%;
    margin: 0;
    border: 1px solid #ddd;
    border-top: 0;
}

.itemvideo .image {
    display: block;
    overflow: hidden;
}

.itemvideo .name {
    font-family: 'UTMHelve';
    display: block;
    overflow: hidden;
    margin: 10px 0 10px 0px;
    height: 44px;
}

.itemvideo .description {
    font-family: 'UTMHelve';
    font-size: 15px;
    color: #333333;
    margin-bottom: 10px;
    height: 80px;
    overflow: hidden;
    display: block;
}

.itemvideo .name a{
    color: [ws_colorMain];
    font-size: 16px;
}

.itemvideo .name a:hover{
    color: [ws_colorHover];
}

.bottomfix #framevideo {
    height: 209px;
}

@media(max-width: 360px){
    #framevideo {
        height: auto;
    }
    .itemvideo{
        width: 50%;
    }
}