.btn-login {
    position: relative;
    cursor: pointer;
    color:#FFF;
    text-align: center;
}
.btn-login p i{
    font-size: 22px;
}
.login-choose {
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 240px;
    z-index: 9999;
    padding: 10px 20px;
    background-color: #FFF;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .6);
    display: none;
}
.btn-login:hover .login-choose {
    display: block;
}
.login-choose a {
    width: 100%;
}
.login-choose a.btn-primary {
    color: white;
}
.login-choose a.btn-default {
    color: #000;
}
#loaddatacart .modal-content {
    border-radius: 10px;
}
#loaddatacart .closepopup {
    background-image: url(../images/close.png);
    background-repeat: no-repeat;
    background-color: transparent;
    width: 35px;
    height: 35px;
    position: absolute;
    right: -40px;
    top: -20px;
    cursor: pointer;
}
.loginmangxahoi {
    display: table;
    margin: auto;
    padding: 20px 0px;
}
.modal-dialog{
    width: 800px;
}
.modal-body{
    padding:0;
}
.contentlogin {
    display: block;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
}
.contentlogin h2 {
    text-align: center;
    background-color:#d9edf7;
    border-bottom:1px solid #e5e5e5;
    padding:15px;
    margin:0;
    text-transform: uppercase;
    font-size:21px;
    font-family:"UTMHelve_Bold";
    white-space: normal;
}
.loginwidth{
    z-index: 9;
    margin: 20px auto;
    width: 100%;
    text-align: center;
    padding: 0 15px;
}
.loginwidth .emailtuvan{
    width: 100%;
    float: left;
    border: none;
    border-bottom: 2px solid [ws_colorTitle];
    padding: 10px 0;
    font-size: 25px;
}
.loginwidth .hoten{
    width: 48%;
    margin-right:2%;
    float: left;
    border: none;
    border-bottom: 2px solid [ws_colorTitle];
    padding: 10px 0;
    font-size: 25px;
    margin-top:5px;
}
.loginwidth .sdttuvan{
    width: 50%;
    float: left;
    border: none;
    border-bottom: 2px solid [ws_colorTitle];
    padding: 10px 0;
    font-size: 25px;
    margin-top:5px;
}
.loginwidth .nhanthongtin{
    display: inline-block;
    font-size: 25px;
    font-family: "UTMHelve_Bold";
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    margin: auto;
    color: #fff;
    background-color: [ws_colorMain];
    border-color: [ws_colorMain];
    padding: 10px 15px;
    margin-top: 20px;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
}
.loginwidth .nhanthongtin:hover{
    background-color:[ws_colorHover];
    border-color:[ws_colorHover];
}
.fblogin {
    background-color: #4662a3;
    padding: 10px 25px 10px 15px;
    border-radius: 30px;
    color: #FFF;
    display: table;
    float: left;
    margin-right: 10px;
}
.gpluslogin > a,
.fblogin > a {
    color: #FFF;
    font-size: 14px;
}
.fblogin i {
    margin-right: 15px;
    border-right: 1px solid #949494;
    padding-right: 10px;
}
.gpluslogin {
    background-color: #d44837;
    padding: 10px 25px 10px 15px;
    border-radius: 30px;
    color: #FFF;
    display: table;
    float: left;
}
.gpluslogin i {
    margin-right: 15px;
    border-right: 1px solid #949494;
    padding-right: 10px;
}
.btnlogin {
    background-color: #ff2863;
    padding: 10px 25px 10px 15px;
    border-radius: 30px;
    color: #FFF;
    display: table;
    margin: auto;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}
.btnlogin:focus,
.btnlogin:hover,
.btnlogin:visited {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}
.btnlogin i {
    padding-right: 10px;
}
.forgotpassword {
    float: right;
    color: #0055f6;
}
.forgotpassword:hover {
    text-decoration: underline;
}
.labeldangky {
    text-align: center;
    font-size: 13px;
}
#frmChangePass .control-label,
#frmUEdit .control-label {
    font-size: 13px;
}
.labeldangky a:hover {
    text-decoration: underline;
}
.gioitinh {
    font-size: 15px;
}
.dropdownuser .btn-default {
    border: none;
}
.dangkyvoi > strong {
    background-color: #FFF;
    padding: 0px 10px;
    margin-top: 15px;
    display: block;
    display: table;
    margin: -12px auto 0px auto;
}
.dangkyvoi {
    z-index: 9;
    border-top: 1px solid #CCC;
    margin: 20px auto;
    width: 100%;
}
.labeldangky > a {
    color: #0055f6;
    font-weight: bold;
}
.frmInfoUser {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    left: calc(50% - 90px);
    background-color: white;
    z-index: 999;
    padding: 15px 0;
    min-width: 200px;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.78);
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.78);
}
.login-box {
    position: relative;
}
.login-box a{
    color:#FFF;
}
.frmInfoUser li {
    display: block;
    padding: 2.5px 0;
}
.frmInfoUser li a {
    color: #333;
    font-size: 14px;
    padding: 5px 10px;
}
.frmInfoUser li a:before {
    content: "\f0da";
    font-family: FontAwesome;
    display: inline-block;
    padding-right: 10px;
}
.frmInfoUser li:first-child {
    margin-top: -10px;
}
.frmInfoUser li:hover {
    background-color: #4267b2;
}
.frmInfoUser li:hover a {
    color: white;
}
.hinhdaidien-preview {
    width: 100%;
    height: 150px;
    background: #F2F2F2;
    text-align: center;
    overflow: hidden;
}
.loading, .message {
    display: none;
}
.success {
    color: #090;
}
@media(max-width: 768px){
    #loaddatacart .closepopup {
        right: 30px;
        top: 27px;
        z-index: 9;
    }
    .login-box {
        margin: 10px 0;
    }
    .login-box .fa {
        font-size: 22px;
    }
    .user2 .hidden-sm,
    .user2 .btn-login .fa-caret-down {
        display: none;
    }
}
@media(max-width: 375px){
    .login-box{
        border-right:none;
    }
}