.noidungchitiet {
    position: relative;
    display: block;
}

.content-duan {
    display: inline-block;
    padding: 0 0 0 15px;
}

.duan-box {
    display: block;
    font-family: "UTMAvo";
    font-size: 14px;
    color: #1c1c1c;
    line-height: 1.5;
}

.duan-item:first-of-type .duan-title {
    margin-top: 0;
}

.duan-title {
    display: block;
    width: 100%;
    font-family: "UTMAvoBold";
    font-size: 18px;
    text-transform: uppercase;
    color: [ws_colorMain];
}

.tab-duan {
    max-width: 15%;
    display: block;
    position: absolute;
}

.fix .list-duan {
    position: fixed;
    top: 0;
    z-index: 9;
}

.list-duan li {
    background-color: #ededed;
    text-transform: uppercase;
    font-family: "UTMAvo";
    cursor: pointer;
    border-radius: 3px;
}

.list-duan li:not(:first-child) {
    margin-top: 3px;
}

.list-duan li a {
    color: #1c1c1c;
    display: block;
    padding: 8px 10px;
    font-size: 14px;
}

.list-duan li:hover,
.list-duan li.active {
    background-color: [ws_colorMain];
}

.list-duan li:hover a,
.list-duan li.active a {
    color: #FFF;
}

.home .itemduan {
    margin-top: 0;
    border-bottom: none;
}

.itemduan h3[itemprop="author"] {
    margin: 0;
}

.home .itemduan .name a {
    color: #000;
    display: block;
    font-weight: bold;
    font-size: 14px;
    text-transform: capitalize;
    line-height: 22px;
}

.home .itemduan .chitiet {
    display: none;
}

.itemduan {
    border-bottom: 1px dotted #CCC;
    margin-top: 10px;
    padding-bottom: 10px;
}

.itemduan .name {
    text-transform: uppercase;
    margin-top: 0px;
}

.itemduan .name a:hover {
    color: red;
}

.itemduan .name a {
    font-weight: bold;
    display: block;
    line-height: 1.3;
    color: #000;
    font-size: 14px;
    padding-bottom: 8px;
}

.itemduan .image {
    float: left;
}

.itemduan .image {
    margin-right: 10px;
    overflow: hidden;
}

.itemduan .image img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    height: auto;
    width: 100%;
}

.noidungchitiet+.titlebase, .noidungchitiet .titlebase {
    width: 100%;
}

.noidungchitiet+.titlebase>a:before, .noidungchitiet+.titlebase>a:after, .noidungchitiet .titlebase>a:before, .noidungchitiet .titlebase>a:after {
    display: none;
}

.chitiet {
    float: right;
    margin-right: 5px;
    background-color: [ws_colorMain];
    font-weight: bold;
    padding: 4px 3px 3px 3px;
    position: relative;
    border-radius: 2px;
}

.chitiet:hover {
    background-color: #F00;
}

.chitiet a {
    color: #FFF;
    padding: 5px 10px;
    line-height: 25px;
    text-transform: uppercase;
}

.chitiet a:hover {
    color: #FF0;
}

@media (max-width: 480px) {
    .itemduan .description {
        float: none;
        width: 100%;
    }
    .itemduan .image img {
        width: auto;
        height: auto;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }
    .itemduan .name {
        text-align: center;
    }
}

@media (max-width: 360px) {
    .itemduan .image {
        width: 100%;
    }
    .itemduan .image img {
        width: 100%;
    }
}