
.itemduan .img a {
    display: block;
}

.itemduan .img {
    margin-right: 10px;
    overflow: hidden;
}

.itemduan p.tieude {
    font-weight: bold;
    text-align: left;
    padding-bottom: 10px;
    font-size: 14px;
}

.itemduan .mota {
    font-size: 14px;
}

.itemduan p.tieude a:hover {
    color: #F00;
}

.itemduan .xemchitiet {
    float: right;
    margin-top: 10px;
}

.itemduan .xemchitiet a {
    background-color: #5B9E00;
    padding: 5px 10px;
    font-weight: bold;
    color: #FFF;
}

.itemduan .xemchitiet a:hover {
    background-color: #F00;
    color: #FFF;
}

.ws-grid .itemduan:nth-child(4n+4) {
    margin-right: 0;
}

.owl_lienquan .itemduan,
.ws-grid .itemduan {
    width: calc(25% - 7.5px);
    border: 1px solid #EFEFEF;
    padding: 5px 5px 0px 5px;
    margin-right: 10px;
}

.owl_lienquan .itemduan {
    width: auto;
}

.ws-list .itemduan .img {
    width: 23%;
    float: left;
}

.ws-list .itemduan .img img {
    width: 100%;
}

.ws-list .itemduan .ten,
.owl_lienquan .itemduan .img,
.ws-grid .itemduan .img {
    margin-bottom: 8px;
}

.duan-box img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 640px) {
    /*3 item*/
    .ws-grid .itemduan {
        width: calc(33.3% - 5px);
        margin: 0;
        margin-bottom: 15px;
        margin-right: 7.5px;
    }
    .ws-grid .itemduan:nth-child(3n+3) {
        margin-right: 0%;
    }
}

@media (max-width: 480px) {
    .ws-grid .itemduan {
        width: calc(50% - 7.5px);
        margin-right: 15px;
    }
    .ws-grid .itemduan:nth-child(3n+3) {
        margin-right: 15px;
    }
    .ws-grid .itemduan:nth-child(even) {
        margin-right: 0%;
    }
}

@media (max-width: 360px) {
    .ws-list .itemduan {
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
    }
    .ws-list .itemduan .img {
        width: 100%;
        margin-bottom: 10px;
    }
    .ws-list .itemduan .img img {
        width: 100%;
    }
    .tab-duan {
        max-width: 100%;
    }
}

@media (max-width: 320px) {
    .type-view {
        display: none;
    }
    .ws-grid .itemduan {
        width: 100%;
        float: none;
        margin: 0;
        margin-bottom: 15px;
    }
}
