.dangkylamdoitac .product-title-big{
	text-transform: uppercase;
	font-weight: 300;
	font-size:27px;
	color:#2e353e;
	line-height:42px;
}

.dangkydoitacform .gioithieu p{
	font-size:14px;
	text-align: center;
	font-weight: normal;
}

.dangkydoitacform .tieude{
	font-size: 16px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    text-transform: uppercase;
    display: block;
}

.dangkydoitacform .nhanmanh{
	color: #555555;
    font-size: 15px;
    font-style: italic;
    line-height: 1.5em;
    margin-bottom: 20px;
    display:block;
}

.box-dangky .form-group .noidungtext{
	width:32%;
}

.box-dangky .input-group .tenmuc{
	width: 100%;
    font-weight: bold;
    font-size: 14px;
    color: #161616;
    display:inline-block;
}

.box-dangky .group_option{
	width:50%;
	float:left;
}

.box-dangky .group_option .input-group{
	width:100%;
}

.box-dangky .group_option .nut_option{
	color: #3A3A3A;
    font-size: 13px;
    height: initial;
    padding: 9px 10px 9px 20px;
    width: 90%;
}

.box-dangky .nhomcheckbox{
	width:31%;
	margin-right:2%;
	display:inline-block;
}

.box-dangky .lienhe .input-group{
	width:40%;
}

.noidungnhangui p{
	font-size: 14px;
    font-style: italic;
    padding: 5px;
    margin: 0;
}

.box-dangky .dkmail-frm .dkmaillienhe {
	padding:10px 75px;
}

.noidungnhangui ul li{
	background-size: 16px 16px!important;
    padding-left: 22px;
    background: url("{$root_path}uploads/images/accepicon.png") no-repeat 0 4px;
    margin-left: 5px;
    font-size: 13px;
    font-style: italic;
    font-weight: 700;
    color: #0060af;
}

@media(max-width: 640px){
	.box-dangky .group_option{
		width:100%;
	}

	.box-dangky .lienhe .input-group{
		width:100%;
	}
}

@media(max-width: 480px){
	.box-dangky .form-group .noidungtext{
		width:100%;
	}

	.box-dangky .group_option .nut_option{
		width:100%;
	}

	.box-dangky .nhomcheckbox{
		width:100%;
	}
}
