{strip}
{$braucube}
<h1 class="product-title-big">{$ten}</h1>
	<div class="datcauhoi"><a href="javascript:" title="{$smarty.session.arraybien.datcauhoi}"><i class="fa fa-question"></i>  {$smarty.session.arraybien.datcauhoi}</a></div>
{if $smarty.session.flowND == 2}
    {$classView = 'ws-list'}
{else}
    {$classView = 'ws-grid'}
{/if}
{if !empty($noidung_menu)}
<div class="noidung_menu">{$noidung_menu}</div>
{/if}
<div class="clearfix news-container ws-list">
<div class="formHoidap">{$formhoidap}</div>
{include file="../../{$op}/tpl/item.tpl" arrnoidung=$arrdata.noidung class='' owl=''}
</div>
<div class="clear"></div>
<h2 class="hide">{$ten}</h2>
{$phantrang}
{/strip}