{$braucube}
{if $smarty.session.flowND == 2}
    {$classView = 'ws-list'}
{else}
    {$classView = 'ws-grid'}
{/if}
{if !empty($noidung_menu)}
<div class="noidung_menu">{$noidung_menu}</div>
{/if}
<div class="clearfix news-container {$classView}">
{if count($arrdata.gioithieu) ==1}
{$link_first = $arrdata.gioithieu[0]['url']}
{$urFirst = $root_path|cat:$link_first}
<script>
    window.location.href =' {$urFirst} '
</script>
{else}
{include file="../../{$op}/tpl/item.tpl" arrgioithieu=$arrdata.gioithieu class='' owl=''}
{/if}
</div>
<div class="clear"></div>
<h2 class="hide">{$ten}</h2>
{$phantrang}