.table-donhang,
.tblDonhangCT {
    border-collapse: collapse;
    margin-bottom: 0;
}
.table-donhang th,
.tblDonhangCT th {
    background: #eee;
    color: #D55650;
    padding: 10px;
}
.table-donhang .ngaydat,
.tblDonhangCT .ngaydat {
    color: #E32561;
    font-weight: bold;
}
.table-donhang .ngaydat span,
.tblDonhangCT .ngaydat span {
    color: #999;
    font-style: italic;
    font-weight: normal;
}
.table-donhang .soluong,
.tblDonhangCT .soluong {
    color: #E32561;
}
.table-donhang .trangthai span.dahoantat,
.tblDonhangCT .trangthai span.dahoantat {
    font-weight: bold;
    color: #0CAC17;
}
.table-donhang .trangthai span.dagui,
.tblDonhangCT .trangthai span.dagui {
    color: green;
}
.table-donhang .trangthai span.choxuly,
.tblDonhangCT .trangthai span.choxuly {
    color: brown;
}
#return_donhang .khachhang {
    width: 100%;
    padding: 5px;
    background-color: #FFF;
    color: #D55650;
    font-weight: bold;
    border: 1px solid #eee;
    margin-bottom: 10px;
}
#return_donhang .chitiet-tinhtrang,
#return_donhang .ghichu {
    border-bottom: 1px solid #ddd;
    display: block;
    padding: 5px;
    margin: 5px 0;
}
#return_donhang .chitiet-tinhtrang>div {
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}
#return_donhang .chitiet-tinhtrang>div+div {
    text-align: right;
}
#return_donhang .ghichu {
    font-weight: bold;
}
#return_donhang .ghichu span {
    font-weight: normal;
    padding-left: 50px;
}