.home .owl-carousel .owl-nav {
    text-align: center;
}
#wapper_main{
    background: #f7f7f7;
    /*padding: 30px 0;*/
}
.videoBox {
    width: 100%;
}
.thongtintrangchu {
    border-bottom: 2px solid #ecebeb;
    padding-bottom: 25px;
}
.thongtintrangchu ul {
    display: flex;
    margin-top: 25px;
}
.thongtintrangchu li {
    width: 25%;
    font-size: 15px;
    padding-left: 20px;
}
.thongtintrangchu li:not(:last-child) {
    border-right: thin solid #f4f3f3;
}
.thongtintrangchu li img {
    float: left;
    display: table;
    margin-right: 20px;
    margin-top: 8px;
}
.khuyenmai-run .owl-nav [class^="owl-"],
.banchay-run .owl-nav [class^="owl-"] {
    position: absolute;
    top: 35%;
}
.khuyenmai-run .owl-nav [class^="owl-"] .fa,
.banchay-run .owl-nav [class^="owl-"] .fa {
    font-size: 25px;
}
.khuyenmai-run .owl-nav .owl-prev,
.banchay-run .owl-nav .owl-prev {
    margin-left: -20px;
}
.khuyenmai-run .owl-nav .owl-next,
.banchay-run .owl-nav .owl-next {
    right: 0;
    margin-right: -20px;
}
.tinmoi-container,
.prodhome-container,
.banchay-container {
    margin-bottom: 20px;
}
.khuyenmai-inner {
    display: block;
}
.ykienkhachhang-inner {
    float: left;
    width: 30%;
    padding-left: 20px;
}
.list-subcat {
    float: right;
    margin-top: 10px;
}
.list-subcat li {
    float: left;
}
.list-subcat li a {
    border-left: 2px solid #eee;
    font-size: 13px;
    color: #555;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: initial;
    display: block;
}
.list-subcat li a:hover {
    cursor: pointer;
    color: [ws_colorHover];
}
.tinmoi-inner {
    margin-left: -20px;
    margin-right: -20px;
}
.tinmoi-inner .first-box,
.tinmoi-inner .second-box {
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
}
.tinmoi-inner .first-box {
    float: left;
}
.tinmoi-inner .second-box {
    float: right;
}
.second-box .tinmoi-item:not(:last-of-type) {
    padding-bottom: 40px;
}
.second-box .tinmoi-item .image {
    width: 200px;
    float: left;
    display: table;
    padding-right: 10px;
}
.second-box .tinmoi-item .tilte {
    height: 40px;
    overflow: hidden;
    display: block;
}
.second-box .tinmoi-item .title a {
    display: block;
    cursor: pointer;
    color: #555;
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 5px;
    font-weight: bold;
}
.second-box .tinmoi-item .title a:hover {
    color: [ws_colorHover];
}
.second-box .tinmoi-item .description {
    font: normal 14px/1.5 arial, sans-serif;
}
.first-box.tinmoi-item .image {
    width: 100%;
    display: block;
}
.first-box.tinmoi-item .title {
    height: 40px;
    display: block;
    margin-bottom: 5px;
    overflow: hidden;
}
.first-box.tinmoi-item .title a {
    font: normal 22px/1.5 Arial, Sans-serif;
    color: [ws_colorMain];
    display: block;
}
.first-box.tinmoi-item .title a:hover {
    cursor: pointer;
    color: [ws_colorHover];
}
.first-box.tinmoi-item .description {
    color: #666;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    height: 40px;
    overflow: hidden;
    display: block;
}
.tinmoi-title {
    height: 15px;
    border-bottom: solid 1px #e1e1e1;
    margin-bottom: 50px;
    text-align: center;
    margin-top: 30px;
}
.tinmoi-title strong {
    font-family: 'Open Sans',sans-serif;
    line-height: 30px;
    margin-top: -20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    font-size: 24px;
    font-weight: 450;
    padding: 0 15px;
    text-transform: uppercase;
}
.tinmoi-item .title {
    height: 48px;
    overflow: hidden;
}
.tinmoi-item .description {
    height: 90px;
    overflow: hidden;
    margin-top: 8px;
}
.danhmuccon{
    display:table;
    margin: auto;
    position: relative;
    width: auto;
}
.danhmuccon a{
    background-image:none;
    padding:0;
    width: auto;
    background-color:transparent;
    border:none;
    transition:all ease 0.3s;
    -webkit-transition:all ease 0.3s;
}
.danhmuccon a .tencon:hover{
    color: #fff;
    background: [ws_colorMain];
}
.danhmuccon a .img{
    padding:0;
}
.danhmuccon a .img .fa{
    display: inline-block;
    padding-top: 16px;
    padding-left: 13px;
    padding-right: 3px;
    float: left;
    color:#EB4182;
    font-size: 19px;
}
.danhmuccon .tencon{
    display: inline-block;
    float: left;
    padding: 10px 20px;
    border: 1px solid #000000;
    width: auto;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'UTM Alter Gothic';
    color: #666666;
    transition: 0.3s;
}
.danhmuccon li{
    display:inline-block;
    float:left;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #fff;
}
.danhmuccon li a{
    position: relative;
}
/*.danhmuccon li a:after{
    content: "";
    position: absolute;
    width: 15px;
    height: 14px;
    background: url({$root_path}templates/images/noi.png) no-repeat 100% 100%;
    top: 50%;
    left: 100%;
    transform: translate(-50%,-50%);
    z-index: 99;
}*/
.danhmuccon li:last-child a:after{
    display: none;
}
.danhmuccon li:last-child{
    border-right:none;
}
@media(max-width: 768px) {
    .thongtintrangchu li {
        text-align: center;
    }
    .second-box .tinmoi-item .image {
        float: none;
        display: block;
        width: 100%;
    }
    .tinmoi-inner .first-box, .tinmoi-inner .second-box {
        float: none;
        width: 100%;
    }
    .thongtintrangchu li img {
        float: none;
        margin-right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .first-box.tinmoi-item {
        margin-bottom: 20px;
    }
    .first-box.tinmoi-item .image {
        display: table;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        padding-bottom: 10px;
    }
    .first-box.tinmoi-item .title,
    .first-box.tinmoi-item .description {
        text-align: center;
    }
    .second-box .tinmoi-item {
        float: left;
        width: 50%;
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media(max-width: 640px){
    .ykienkhachhang-inner,
    .khuyenmai-inner {
        width: 100%;
        float: none;
    }
}
@media(max-width: 480px) {
	.dmRun.owl-carousel .owl-nav [class^="owl-"] {
		background: rgba(0, 0, 0, 0.22);
	}
	.dmRun.owl-carousel .owl-nav [class^="owl-"] i.fa {
		font-size: 12px;
	}
    .info-container {
        background-color: #fff;
    }
    #wapper_main{
        padding: 5px 0;
        background-color: transparent;
    }
    .thongtintrangchu {
        display: none;
    }
    .second-box .tinmoi-item {
        float: none;
        width: 100%;
    }
    .second-box .tinmoi-item .image {
        display: table;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        margin-bottom: 7px;
    }
    .thongtintrangchu li {
        width: 50%;
        float: left;
        padding-bottom: 10px;
        height: 170px;
        overflow: hidden;
    }
    .thongtintrangchu ul {
        display: block;
        width: 100%;
    }
    .thongtintrangchu li:not(:last-child) {
        border: none;
    }
    .thongtintrangchu ul:before,
    .thongtintrangchu ul:after {
        content: "";
        display: table;
    }
    .thongtintrangchu ul:after {
        clear: both;
    }
    .danhmuccon{
        width: 100%;
    }
    .danhmuccon li{
        border:none;
    }
}
/**/
.xemthemsp{
    border: 1px solid #ddd;
    display: table;
    margin-top: 15px;
    text-align: center;
    background: #fff;
}
.xemthemsp a{
    font-size: 16px;
    color: #363636;
    padding: 10px;
    display: table;
    margin: auto;
}
.xemthemsp a:hover{
    color: [ws_colorHover];
}
@media(max-width: 375px){
    .danhmuccon li{
        padding:0;
    }
}
@media(max-width: 360px){
}