{strip}
{$braucube}
<h1 class="product-title-big">{$ten}</h1>
{if $smarty.session.flowND == 2}
    {$classView = 'ws-list'}
{else}
    {$classView = 'ws-grid'}
{/if}
{if !empty($noidung_menu)}
<div class="noidung_menu">{$noidung_menu}</div>
{/if}
<div class="clearfix news-container ws-list">
{if count($arrdata.duan) == 1}
{$link_first = $arrdata.noidung[0]['url']}
{$urFirst = $root_path|cat:$link_first}
KO CÓ BÀI VIẾT
<script>
    // window.location.href =' {$urFirst} '
</script>
{else}
{include file="../../{$op}/tpl/item.tpl" arrnoidung=$arrdata.duan class='' owl=''}
{/if}
</div>
<div class="clear"></div>
<h2 class="hide">{$ten}</h2>
{$phantrang}
{/strip}