{strip}
<div id="col1" class="clearfix">
    <div class="col1_1">
        {$cot1}
    </div>
    <div id="colcontent">
        {include file="../modules/{$op}/tpl/{$tplname}.tpl"}
    </div>
</div>
<div id="col2" class="clearfix">
    {$cot2}
</div>
{/strip}