.news-col1{
	width: 49%;
	float:left;
	margin-right: 2%;
}
.news-col2{
	width: 49%;
	float: left;
}
.news-col2 .image{
	float: left;
	width: 30%;
	margin-right: 10px;
}
.news-col .image{
	margin-bottom: 8px;
}
.news-col .name{
	margin-bottom: 0px;
}
.news-col .itemnoidung .name a{
	padding-bottom: 0px;
}
.news-col .ngay{
	display: block;
	font-style: italic;
	margin-bottom: 4px;
	color: #999;
}
@media (max-width: 480px){
	.news-col1,.news-col2{
		width: 98%;
		margin-left: 1%;
		margin-right: 0px;
	}
	.news-col2 .image{
		float:left;
	}
}