
.itemnoidung {
    margin-bottom: 25px;
    display: block;
    width: 100%;
    float: left;
    border-bottom:1px dotted #ccc;
    padding-bottom:20px;
}
.home .itemnoidung:fisrt-child{
    width:30%;
    margin-right:2%;
}

.home .itemnoidung {
    margin-top: 0;
    border-bottom: none;
    display:block;
    width:100%;
    margin-bottom:0;
    padding-bottom:0;
}

.home .itemnoidung:hover .name a{
    color:[ws_colorHover];
}

.itemnoidung h3[itemprop="author"] {
    margin: 0;
}

.itemnoidung .name a {
    color: #000;
    font-size: 15px;
    font-family:"OpenSans-SemiBold";
    text-transform: inherit;
    display:inline-block;
    padding:5px 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.itemnoidung .name a:hover{
    color:[ws_colorHover];
}

.home .itemnoidung .name strong{
    font-weight: normal;
}

.itemnoidung .name {
    display:flex;
    margin:0;
    /*float:left;*/
    text-align:left;
}

.nothome .itemnoidung .name{
    width: auto;
}

.home .itemnoidung .noidung{
    width:100%;
    display:block;
}
.itemnoidung .description{
    font-size: 14px;
    float:left;
    width: 78%;
    line-height:20px;
    max-height: 60px;
    overflow: hidden;
    margin:5px 0;
}

.home .itemnoidung .image {
    overflow: hidden;
    float: none;
    width:100%;
    padding:0;
    margin:auto;
    text-align:center;
    display:block;
    transition:all ease 0.3s;
    -webkit-transition: all ease 0.3s;
}

.home .itemnoidung .image img{
    transition:all ease 0.6s;
    -webkit-transition: all ease 0.6s;
}

.itemnoidung .image:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.itemnoidung .image{
    position: relative;
    width: 20%;
    margin-right: 2%;
    overflow: hidden;
    float: left;
    transition:all ease .3s;
    -webkit-transition:all ease .3s;
}

.itemnoidung .image img {
    width     : 100%;
    height    : 100%;
    display   : block;
    padding   : 0;
    margin-top: 0;
    margin    : auto;
    transition:all ease .3s;
    -webkit-transition:all ease .3s;
}

.duandahoanthanh .itemnoidung .image img {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.duandahoanthanh .itemnoidung .image img:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.noidungchitiet + .titlebase,
.noidungchitiet .titlebase {
    width: 100%;
}

.noidungchitiet + .titlebase > a,
.noidungchitiet .titlebase > a {
    font-size: 18px;
    line-height: 1.5;
}

.noidungchitiet + .titlebase > a:before,
.noidungchitiet + .titlebase > a:after,
.noidungchitiet .titlebase > a:before,
.noidungchitiet .titlebase > a:after {
    display: none;
}


.catcontent .chitiet{
    float: left;
    position: relative;
    text-align: left;
}
.nothome .content .chitiet{
    width: unset;
    text-align: right;
    float: right;
    font-family:"RobotoCondensedRegular";
    text-transform: uppercase;
}

.nothome .content .chitiet a{
    transition:all ease .3s;
    -webkit-transition:all ease .3s;
}

.nothome .content .chitiet a:hover{
    background-color:[ws_colorHover];
    color:#FFF;
}
.catcontent .chitiet a{
    font-family:"OpenSans";
    display: inline-block;
    margin-bottom: 0;
    padding:0;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #ff0000;
    transition:all ease .3s;
    -webkit-transition:all ease .3s;
}

.catcontent .chitiet a i{
    padding-right:5px;
}

.home .itemnoidung .description{
    display:inline-block;
    height:45px;
    overflow: hidden;
    float:left;
}

.home .itemnoidung .description p strong{
    font-weight: normal;
    color:black;
}

.catcontent .chitiet a:hover{
    color: [ws_colorHover];
}

.noidunggioithieu{
    margin-top:25px;
    display:block;
}

.hinhtruoc {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #888888;
  overflow: hidden;
  width: 100%;
  height:100%;
  -webkit-transform:scale(0);
  transition: .3s ease;
}

.image:hover .overlay {
  transform: scale(1);
  padding:3px;
  background-color:#ffffff;
}
 
.image .saukhilapdat {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/*.home .itemnoidung .image a .chuaimg{
    position:relative;
    height:100%;
}*/

.itemnoidung .image a .tenhinh{
    position:absolute;
    display:block;
    width:100%;
    background-color:#ffffffa1;
    bottom:0;
    text-align:center;
}

.itemnoidung .image a .tenhinh span{
    display:inline-block;
    padding:4px 0;
    font-size:16px;
    font-family:"Arial";
}

.chuathemhinh{
    font-family:"Arial";
    text-align: justify;
    height:100%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(0.5, 0.5);
    z-index: 100;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 10px;
    font-size: 17px;
    color: #4a4848;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.778);
    z-index: 9999;
}
/*bottomfix*/
.bottomfix .itemnoidung{
    width: 49%;
    float: left;
    margin-right: 2%;
    background: #fff;
    margin-bottom: 15px;
    margin-top: 0;
    border-bottom: 0;
    padding-bottom: 0;
}

.bottomfix .itemnoidung:nth-child(2n+2){
    margin-right: 0;
}
.bottomfix .itemnoidung .image{
    width: 100px !important;
    margin-right: 10px;
    float: left;
}
.bottomfix .itemnoidung .description{
    display: none;
}
.bottomfix .itemnoidung {
    border: 1px solid #DDD;
    padding: 20px 10px; 
}
.bottomfix .itemnoidung .name{
    height: 46px;
    text-transform: none;
    margin-top: 5px;
    margin-bottom: 10px;
    display: block;
    overflow: hidden;
}
.bottomfix .itemnoidung .name a {
    font-family: 'UTMHelve';
    display: block;
    line-height: 1.3;
    color: [ws_colorMain];
    font-size: 16px;
    padding-bottom: 8px;
    font-weight: normal;
}
.bottomfix .chitiet{
    display: none;
}
.home .noibatRun .ngayandxem{
    display: none;
}
.home .contentRun .ngayandxem{
    display: table;
    width: 100%;
    color: #000000;
    font-family: 'OpenSans';
    font-size: 13px;
    padding: 2px 5px;
}
.home .contentRun .ngayandxem i{
    color: #6e6e6e;
}
.home .contentRun .ngayandxem .datef{
    margin-right: 30px;
    float: left;
}
/**/
@media (max-width: 1024px) {
    .home .itemnoidung .name{
        
    }
}

@media (max-width: 768px) {
    .homepage-content{
        display: table;
        margin-bottom: 30px;
    }
}

@media (max-width: 640px) {

    .home .itemnoidung .name{
        
    }
}

@media (max-width: 480px) {
    .itemnoidung{
        width:100%;
        margin-right:0;
    }

    .itemnoidung .image{
        height:auto;
        width:100%;
    }

    .itemnoidung .noidung{
        width:100%;
    }

    .itemnoidung .description{
        float: none;
        width: 100%;
        display:inline-block;
    }
    .itemnoidung .name {
        text-align: center;
    }

    .home .itemnoidung .description{
        height:auto;
    }

    .home .itemnoidung .name{
        height: auto;
    }

    .nothome .itemnoidung .name{
        width: 100%;
    }
    .bottomfix .itemnoidung{
        width: 100%;
    }
}

@media (max-width: 375px) {
    .home .itemnoidung .image{
        height: auto;
        display:block;
    }

    .home .itemnoidung .name{
        height:auto;
    }

    .home .itemnoidung .description{
        height:auto;
    }
}
