
.noidungchitiet .nav-tabs>li.active a {
    border: 1px solid #48525e;
    background: #48525e;
    color: white;
    font-weight: 700;
    margin-right: 0;
    border-radius: 0;
}

.noidungchitiet .nav-tabs>li {
    width: 33.333%;
}

.noidungchitiet .nav-tabs>li:not(:first-child) {
    border-left: 1px solid #48525e;
}

.noidungchitiet .nav-tabs {
    border-top: thin solid #48525e;
}

.noidungchitiet .tab-content {
    margin-top: 20px;
}

.itemnoidung .img a {
    display: block;
}

.itemnoidung .img {
    margin-right: 10px;
    overflow: hidden;
}

.itemnoidung p.tieude {
    font-weight: bold;
    text-align: left;
    padding-bottom: 10px;
    font-size: 14px;
}

.itemnoidung .mota {
    font-size: 14px;
}

.itemnoidung p.tieude a:hover {
    color: #F00;
}

.itemnoidung .xemchitiet {
    float: right;
    margin-top: 10px;
}

.itemnoidung .xemchitiet a {
    background-color: #5B9E00;
    padding: 5px 10px;
    font-weight: bold;
    color: #FFF;
}

.itemnoidung .xemchitiet a:hover {
    background-color: #F00;
    color: #FFF;
}

.ws-grid .itemnoidung:nth-child(4n+4) {
    margin-right: 0;
}

.owl_lienquan .itemnoidung,
.ws-grid .itemnoidung {
    width: auto;
    background-color:#FFF;
    border:none;
    padding: 5px 5px 0px 5px;
    
}

.ws-list .itemnoidung .img {
    width: 23%;
    float: left;
}

.ws-list .itemnoidung .img img {
    width: 100%;
}

.ws-list .itemnoidung .ten,
.owl_lienquan .itemnoidung .img,
.ws-grid .itemnoidung .img {
    margin-bottom: 8px;
}

.owl_lienquan .itemnoidung .image{
    width:100%;
    height:auto;
}

.owl_lienquan .itemnoidung .name {
    margin-bottom: 0;
    display:block;
    width: 100%;
    text-align: center;
}

.owl_lienquan .chitiet {
    display: none;
}

.owl_lienquan .itemnoidung .name a {
    font-size:15px;
    line-height:1.5;
    font-family:"UTMHelve_Bold";
    color: [ws_colorTitle];
    padding-bottom: 0;
}

.owl_lienquan .itemnoidung .description {
    height: 60px;
    display: block;
    overflow: hidden;
}

.owl_lienquan .owl-nav [class^="owl-"] {
    top: -40px;
}

.owl_lienquan .owl-nav [class^="owl-"] .fa {
    font-size: 12px;
    width: 20px;
    height: 20px;
    border: thin solid #CCC;
    border-radius: 50%;
    color: #BABABA;
    text-align: center;
    line-height: 20px;
}

.owl_lienquan .owl-nav .owl-next {
    right: 0;
}

.owl_lienquan .owl-nav .owl-prev {
    right: 30px;
}

.tuyendung-inner {
	border: thin solid #CCC;
	padding: 20px;
	background-color: #FAFAFA;
	border-radius: 8px;
}

.tuyendung-title {
	text-align: center;
	padding: 0 15px;
	background-color: white;
	margin: -36px auto 30px auto;
	display: table;
}

.tuyendung-inner .input-group-addon {
	min-width: 110px;
}

.tuyendung-inner button {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	display: table;
}

@media (max-width: 640px) {
    /*3 item*/
    .ws-grid .itemnoidung {
        width: calc(33.3% - 5px);
        margin: 0;
        margin-bottom: 15px;
        margin-right: 7.5px;
    }
    .ws-grid .itemnoidung:nth-child(3n+3) {
        margin-right: 0%;
    }
}

@media (max-width: 480px) {
    .ws-grid .itemnoidung {
        width: calc(50% - 7.5px);
        margin-right: 15px;
    }
    .ws-grid .itemnoidung:nth-child(3n+3) {
        margin-right: 15px;
    }
    .ws-grid .itemnoidung:nth-child(even) {
        margin-right: 0%;
    }
}

@media (max-width: 360px) {
    .ws-list .itemnoidung .img {
        width: 100%;
        margin-bottom: 10px;
    }
    .ws-list .itemnoidung .img img {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .type-view {
        display: none;
    }
    .ws-grid .itemnoidung {
        width: 100%;
        float: none;
        margin: 0;
        margin-bottom: 15px;
    }
}
