.itemdownload {
    float: left;
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
}

.itemdownload .image {
    display: block;
    overflow: hidden;
    min-height: 122px;
}

.itemdownload .image a {
    display: block;
}

.itemdownload .name {
    margin: 0;
    display: block;
    height: 38px;
    overflow: hidden;
    padding-top: 3px;
}

.itemdownload .name a {
    display: block;
    font-size: 13px;
    color: #555;
    line-height: 1.5;
}

.itemdownload .name strong {
    width: 80%;
    float: left;
}

.itemdownload .name strong:hover {
    cursor: pointer;
    color: [ws_colorHover];
}

.itemdownload .name i {
    width: 20%;
    float: right;
    text-align: right;
}

.itemdownload i:hover {
    cursor: pointer;
    color: [ws_colorHover];
}

@media(max-width: 640px){
    .itemdownload {
        width: 33.333%;
    }
}

@media(max-width:360px){
    .itemdownload {
        width: 50%;
    }
}