.introBox .cottrai{
    width:35%;
    margin-right:2%;
    float:left;
}

.introBox .cotphai{
    width:63%;
    float:left;
}

.introBox .cotphai .name a{
    font-size:20px;
    font-family:"OpenSans-Bold";
    color:[ws_colorMain];
    transition:all ease .3s;
    -webkit-transition:all ease .3s;
}

.introBox .cotphai .name a:hover{
    color:[ws_colorHover];
}

.introBox .cotphai .gioithieumota{
    display:inline-block;
}

.introBox .cotphai .gioithieumota p{
    font-family:"OpenSans";
    font-size:15px;
}

.introBox .cotphai .gioithieumota strong{
    font-family:"OpenSans-Bold";
}

@media(max-width: 640px){
    .introBox .cottrai{
        width:100%;
    }

    .introBox .cottrai .image a img{
        margin:auto;
    }

    .introBox .cotphai{
        width:100%;
        padding-top:20px;
    }
}