.ulHoidap li{
    background-color: #fbfbfb;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 2px #CCC;
}
.ulHoidap li:nth-child(2n+2){
    background-color: #FFF;
}
.tieudehoidap{
    font-size: 14px;
    cursor: pointer;
}
.tieudehoidap i{color: [ws_colorHover]}
.noidunghoidap{
    display: none;
    margin:10px 10px 10px 40px;
    padding-left: 20px;
    border-left: 2px solid [ws_colorMain];
}
.noidunghoidap:before{
    content:"\f112";
    font-family: "FontAwesome";
    font-size: 15px;
    color: #FFF;
    background-color: [ws_colorMain];
    border-radius: 100%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    left: 36px;
}