.product-title-big{
	margin-bottom: 40px;
}
.datcauhoi{
	float:right;
	background-color: [ws_colorHover];
	border-radius: 5px;
	padding: 8px 10px;
	margin-top: -65px;
	cursor: pointer;
}
.datcauhoi a{
	color: #FFF;
	text-transform: uppercase;

}
.formHoidap{
	margin-bottom: 30px;
	display: none;
}