.itemcategories{
	float:left;
	width: 31%;
	margin-right: 3%;
	position: relative;
}
.owl-carousel .itemcategories{
	width: 100%;
}
.itemcategories:hover{
	border-color:#146496;
}
.itemcategories:nth-child(3n){
	margin-right: 0px;
}
.itemcategories:hover .image img{

}
.itemcategories .image{
	width:100%;
	overflow: hidden;
	display: table;
}
.itemcategories .image img{
	width:100%;
	transition:all 0.3s ease 0s;
}
.itemcategories .name{
	text-align: center;
	width:100%;
	padding:6px;
	display: table;
	font-family: "UTMAvo";
	font-size: 13px;
	background-color: #ededed;
	font-weight: normal;
	border-bottom: 3px solid [ws_colorMain];
	position: relative;
}
.itemcategories .name a{
	font-size:13px;
	line-height: 25px;
	text-align: center;
	color:#000;
}
.itemcategories .name:after{
	content:"";
	width:0px;
	height: 3px;
	background-color: #F00;
	position: absolute;
	bottom:-3px;
	left: 0;
	-webkit-transition: all .35s ease 0s;
	   -moz-transition: all .35s ease 0s;
	    -ms-transition: all .35s ease 0s;
	     -o-transition: all .35s ease 0s;
	        transition: all .35s ease 0s;
}
.itemcategories:hover .name:after{
	width: 100%;
	-webkit-transition: all .35s ease 0s;
	   -moz-transition: all .35s ease 0s;
	    -ms-transition: all .35s ease 0s;
	     -o-transition: all .35s ease 0s;
	        transition: all .35s ease 0s;
}
.itemcategories:hover a{
	color:#F00;
}

@media (max-width:640px){
	.itemcategories{
		width: 47%;
	}
	.itemcategories:nth-child(2n+2){
		margin-right: 0px;
	}
	.itemcategories:nth-child(3n+3){
		margin-right: 3%;
	}
}
@media (max-width:414px){
	.itemcategories{
		width: 90%;
		margin-left:5%;
	}
}