.deal-status {
    position: relative;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    height: 59px;
    overflow: hidden;
}
.deal-status .time {
    display: table;
    margin: 5px auto 5px auto;
}
.deal-status .time .item {
    background-color: #ff5621;/* #15b; */
    border-radius: 2px;
    padding: 3px 3px;
    margin-left: 0.5px;
    margin-right: 0.5px;
    font-size: 13px;
    text-align: center;
    color: #FFF;
    display: inline-block;
}
.deal-status .process-bar {
    height: 18px;
    display: block;
    width: 100%;
    background: #fab6a1;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 8px;
    position: relative;
}
.deal-status .process-bar .text {
    font-size: 12px;
    position: absolute;
    color: #fff;
    top: 0;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
}
.deal-status .process-bar div {
    min-width: 2px;
    background: #ff5621;
    height: 100%;
}
.sp-info-bot {
    margin: 15px 0 0 0;
    padding: 15px 0 0 0;
    border-top: 2px solid #d3d2d2;
}
.btn-container {
    display: table;
    width: 100%;
    padding: 10px 0;
}
.btn-container button {
    border: 1px solid [ws_colorMenu];
    padding: 10px 40px;
    color: [ws_colorMenu];
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #fff;
    border-radius: 3px;
    width: 35%;
    min-width: 230px;
    transition: 0.3s;
    cursor: pointer;
}
.btn-container a {
    display: table;
    float: left;
}
.btn-container button:hover {
    background: [ws_colorMenu];
    color: #fff;
}
.btn-container button .fa {
    font-size: 20px;
    margin-right: 10px;
}
.btn-container button span {
    font-family: 'tahoma';
    font-size: 14px;
}
/**/
.tabcontent {
    display: none;
}
.info-container2 {
    border-top: 2px solid #d4d4d4;
    padding: 20px 0;
    display: table;
    width: 98%;
    font-family: 'tahoma';
    font-size: 14px;
    color: #000;
    line-height: 1.8;
}
/*--*/
/*SORT*/
.sort-container-h {
    background: #edecec;
    padding: 10px 20px;
    font-family: 'tahoma';
    font-size: 14px;
    color: #000;
    display: table;
    width: 100%;
    margin-bottom: 20px;
}
.sort-container-h .sort-title {
    display: table;
    float: left;
    margin-right: 20px;
    padding: 5px 0;
}
.sort-container-h .sort-main li {
    background: #fff;
    padding: 5px 20px;
    float: left;
    margin-right: 20px;
    transition: 0.3s;
}
.sort-container-h .sort-main li a {
    transition: 0.3s;
}
.sort-container-h .sort-main li:hover {
    background: [ws_colorMain];
}
.sort-container-h .sort-main li:hover a{
    color: #fff;
}
/*----------------------*/
.tab-sanpham {
    width: 73%;
    float: left;
    margin-right: 2%;
}
.splienquan-container {
    width: 25%;
    display: table;
}
.tab-sanpham .info-right {
    display: table;
    width: 100%;
}
.tab-sanpham .chinhsach {
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    display: table;
    width: 49%;
    float: left;
    margin-bottom: 10px;
}
.tab-sanpham .chinhsach:first-child {
    margin-right: 2%;
}
.tab-sanpham .chinhsach .cs-tittle {
    border-bottom: 1px solid #d4d4d4;
    background: #f5f5f5;
    padding: 2px 10px;
    font-family: 'tahoma';
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
}
.tab-sanpham .chinhsach .cs-tittle img {
    margin-right: 10px;
    float: left;
}
.tab-sanpham .chinhsach .cs-tittle span {
    display: table;
    padding: 5px;
}
.tab-sanpham .chinhsach .cs-main {
    padding: 10px;
    font-family: 'tahoma';
    font-size: 12px;
    line-height: 1.8;
}
.tab-sanpham .info-left {
    border-top: 2px solid #d4d4d4;
    width: 100%;
    float: left;
    padding: 20px 0;
    display: table;
    font-family: 'tahoma';
    font-size: 14px;
    color: #000;
    line-height: 1.8;
}
.splienquan-container .titlebase .img {
    display: none;
}
.splienquan-container .titlebase .subtitle a {
    background: transparent;
}
.splienquan-container .titlebase .subtitle {
    background: [ws_colorMenu];
    width: 100%;
}
.noidungchitiet .splienquan-container .titlebase {
    margin-top: 0;
    margin-bottom: 0;
}
.splienquan-container .itemsanpham .image {
    width: 100px;
    float: left;
}
.splienquan-container .itemsanpham .name {
    height: unset;
    width: unset;
    display: table;
    text-align: left;
    overflow: auto;
}
.splienquan-container .itemsanpham .name a {
    font-family: 'tahoma';
    font-size: 11px;
    line-height: 1.5;
    text-transform: unset;
    color: #000000;
}
.splienquan-container .itemsanpham .wishlist-box {
    display: none;
}
.splienquan-container .itemsanpham .image .percent {
    display: none;
}
.splienquan-container .itemsanpham .image {
    border: none;
}
.tab-content {
    border: 2px solid #d3d2d2;
    border-top: none;
    margin-bottom: 20px;
}
.tab-sanpham .nav-tabs>li.active>a,
.tab-sanpham .nav-tabs>li.active>a:focus,
.tab-sanpham .nav-tabs>li.active>a:hover {
    border: 2px solid #d3d2d2;
    border-bottom: none;
}
/*--*/
.row-product {
    margin-left: -10px;
    margin-right: -10px;
}
.owl-carousel .itemsanpham {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.product-container{
    margin-right: -2%;
    position: relative;
}
.itemsanpham {
    position: relative;
    float: left;
    padding: 0;
    width: 23%;
    margin-right:2%;
    margin-bottom: 15px;
    border:1px solid #e8e8e8;
    background-color:#FFF;
    display: block;
    cursor: pointer;
}
.itemsanpham:hover .name a{
    color:[ws_colorHover];
}
.itemsanphamBox {
    padding: 0px;
    display: block;
    position: relative;
}
.itemsanphamBox .description {
    height: 40px;
    line-height: 1.5;
    padding: 5px 10px;
    margin: 5px auto;
    display: block;
    overflow: hidden;
}
.itemsanpham:hover .itemsanphamBox {
    border-bottom-color: [ws_colorHover];
}
.itemsanpham .name {
    height: 25px;
    display: block;
	overflow: hidden;
    text-align: center;
    width: 100%;
    margin-top:10px;
    padding: 0 5px;
}
.itemsanpham .name a{
    font-size:15px;
    line-height:25px;
    text-transform: uppercase;
    font-family:"OpenSans-SemiBold";
    color:[ws_colorMain];
    transition:all ease .3s;
    -webkit-transition:all ease .3s;
}
.itemsanpham .gia{
    font-family:"OpenSans-SemiBold";
    font-size:13px;
    color:#ff0000;
    padding:0 5px;
    margin-bottom:10px;
    text-align:center;
}
.itemsanpham .gia span{
    font-family:"OpenSans";
    color:#989898;
}
.btn-group {
    display: table;
    margin: auto;
}
.itemsanpham .btn-action{
    text-align: center;
    margin-top:5px;
}
.itemsanpham .btn-action a {
    color: #333;
    font-size: 15px;
    font-family:"GMVURWGeometric";
    border-radius: 5px;
    padding:5px 10px;
    border:1px solid #cccccc;
    display:inline-block;
    transition:all ease .3s;
    -webkit-transition:all ease .3s;
}
.itemsanpham .btn-action a:hover {
    background-color: [ws_colorHover];
    color:#FFF;
}
.itemsanpham .btn-cart:hover {
    background-color: #000;
}
.btn-cart {
    margin-right: 0px;
    margin-right: 10px;
    background-color: [ws_colorMain];
}
.itemsanpham .name:hover a {
    cursor: pointer;
    color: [ws_colorHover];
}
.itemsanpham >.name > a {
    font: normal 12px arial, helvetica;
    text-align: center;
    color: #272727;
    display: block;
    width: 100%;
    font-weight: bold;
}
.itemsanpham .starrr {
    margin-top: 6px;
}
.itemsanphamFooter {
    text-align: center;
    padding: 10px 15px;
    display: table;
    margin: auto;
}
.itemsanphamFooter .detail {
    margin-left: auto;
}
.itemsanpham:hover .image {
    /*-webkit-transition: all 1.5s;
    transition: all 1.5s;*/
    cursor: pointer;
    border-color: [ws_colorMain];
}
.itemsanpham .image {
    position: relative;
    width: 100%;
    display: block;
    /* overflow: hidden; */
    border-bottom: 1px solid #ddd;
}
.itemsanpham .image img {
    width: auto;
    height: auto;
    max-height: 100%;
    margin: auto;
    transition:all ease 0.3s;
    -webkit-transition:all ease .3s;
}
.itemsanpham .image img:hover{
    /*-webkit-transform: scale(1.1);
    transform: scale(1.1);*/
}
.itemsanpham .price {
    text-align: center;
}
.itemsanpham .price p:first-of-type {
    display: block;
    line-height: 20px;
    color: #666;
    font-size: 13px
}
.itemsanpham .price p:first-of-type span {
    text-decoration: line-through;
}
.itemsanpham .price p:first-of-type + p {
    display: block;
    line-height: 20px;
    font-size: 15px;
}
.itemsanpham .price p:first-of-type + p span {
    font-weight: bold;
    color: red;
}
.itemsanpham .rating {
    height: 22px;
    display: block;
}
.itemsanpham .giagoc {
    text-align: right;
    text-decoration: line-through;
    font-size: 12px;
    float: right;
    padding-right:10px;
}
.itemsanpham:hover .icon_cart,
.itemsanpham:hover .icon_view {
    bottom: 55%;
    opacity: 1;
}
.itemsanpham:hover .icon_cart {
    -webkit-transition: all .6s;
    transition: all .6s;
}
.itemsanpham:hover .icon_view {
    -webkit-transition: all .9s;
    transition: all .9s;
}
.itemsanpham .mota {
    padding: 2px 15px;
    overflow: hidden;
    margin-bottom: 8px;
}
.productNew .itemsanpham {
    width: 100%;
    float: none;
    margin: 0;
    padding: 0;
}
.productNew .itemsanpham_content {
    border: none;
    box-shadow: none;
}
.titlebase>a:before,
.titlebase>a:after {
    display: none;
}
.itemsanpham .image .percent{
    position: absolute;
    right: 0;
    /*border-radius: 0px 0px 0 10px;*/
    top: 0;
    background-color: #ffd321;
    color: #ff5621;
    padding: 4px 8px;
    font-size: 14px;
    z-index:1;
}
.bannertrai{
    position:relative;
    width: 32%;
    margin-right:2%;
    float: left;
    height: 345px;
    padding:5px;
    overflow: hidden;
    border:1px solid #dbdbdb;
    display:table;
}
.bannertrai img{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display:inline-block;
    width: 100%;
    height:100%;
}
.bannertrai .noidung{
    position:absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    color:#FFF;
    margin:5px;
    background-color:#4a51877d;
    text-align:center;
    padding:140px 0;
}
.itemsanpham .image:focus .wishlist-box,
.itemsanpham .image:hover .wishlist-box,
.itemsanpham:focus .wishlist-box,
.itemsanpham:hover .wishlist-box {
    display: block;
    opacity: 1;
    -khtml-opacity: 1;
    z-index: 999;
    cursor: pointer;
}
.wishlist-box {
    display: inline-block;
    left: 10px;
    position: absolute;
    right: 0;
    bottom: 30px;
    opacity: 0;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}
.wishlist-box > div {
    display: table;
    margin: auto;
}
.itemsanpham .wishlist-box a {
    background-color: rgba(255, 255, 255, 0.902);
    color: #333;
    display: inline-block;
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    border:1px solid [ws_colorTitle];
}
.itemsanpham .wishlist-box a:hover {
    background-color: #3bb1ffb8;
    color: #FFF;
}
.wishlist-box a > i {
    font-size: 18px;
}
.thanhphan{
    color: #3c3c3c;
    font-family: 'OpenSans';
    font-size: 14px;
    text-align: center;
    display: block;
    height: 40px;
    overflow: hidden;
    margin-top: 0px;
}
.owl-carousel .itemsanpham{
    margin-bottom: 3px;
}
@media (max-width: 1024px) {
    .itemsanphamFooter {
        height: 40px;
    }
    .topBox li {
        width: auto;
        padding: 3px 10px;
        line-height: 30px;
    }
    .topBox li.hotlineTop {
        width: auto;
    }
    .itemsanpham{
        width: 23%;
    }
}
@media(max-width: 768px){
    .product-container{
        margin-right:-3%;
    }
    .itemsanpham{
        width: 31%;
    }
    .itemsanpham .gia{
        display: inline-block;
        /*width: 100%;*/
        overflow: hidden;
        margin:0;
        /*padding:0;*/
    }
    .itemsanpham .gia span {
        padding: 0 10px;
    }
    .bannertrai .noidung{
        padding:140px 5px;
    }
    .tab-sanpham {
        width: 100%;
    }
    .splienquan-container {
        width: 100%;
    }
    .tab-sanpham .chinhsach {
        width: 100%;
    }
    .sort-container-h .sort-main li {
        margin: 5px;
    }
    .sort-container-h .sort-title {
        margin: 5px 20px 5px 0;
    }
}
@media(max-width: 640px){
    .product-container{
        margin-right:-2%;
    }
    .bannertrai{
        width: 100%;
        margin-bottom:10px;
    }
    .productRun{
        width: 100%;
    }
}
@media (max-width: 480px) {
		.itemsanpham .gia {
			display: block;
			margin: auto;
		}
		.itemsanpham .gia span {
			display: unset;
		}
    .deal-status .time .second {
        display: none;
    }
    .itemsanphamFooter {
        display: block;
        height: auto;
        text-align: center;
    }
    .itemsanphamFooter>span {
        padding: 5px 0;
    }
    .itemsanpham{
        width: 48%;
        display: block;
    }
    .deal-status{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
		.owl_lienquan .itemsanpham .name,
    .owl_lienquan .itemsanpham .image {
        height: auto;
    }
		.sort-container-h .sort-main li {
        width: 100%;
        text-align: center;
    }
    .sort-container-h .sort-title {
        width: 100%;
    }
}
@media (max-width: 320px) {
    .itemsanpham {
        width: 97%;
        margin: 0 auto 20px auto;
        float:none;
    }
    .itemsanpham .name{
        height:auto;
        text-align:center;
    }
    .itemsanpham .gia{
        height:auto;
        text-align:center;
    }
    .itemsanpham .gia span{
        text-align:center;
    }
}