.ds-khuyenmai {
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 7px 10px 10px 10px;
    display: block;
    position: relative;
}

.ds-khuyenmai>b {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    position: absolute;
    display: block;
    top: -12px;
    left: 20%;
    background: white;
    padding: 0 10px;
    font-weight: bold;
}

.ds-khuyenmai-box {
    padding: 10px 2px 0 2px;
}

.ds-khuyenmai-box p:before {
    content: "\f111";
    font-family: Fontawesome;
    font-size: 7px;
    color: [ws_colorMain];
    display: block;
    padding-right: 7px;
    float: left;
}

.dathangnhanh-box {
    margin-top: 25px;
}

.show-price .giagoc,
.show-price .gia {
    font-size: 15px;
    color: #333;
    font-family: Arial;
    padding-right: 20px;
}

.show-price .gia,
.show-price .giagoc,
.show-price .tietkiem {
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.show-price .gia b {
    color: #eb2228;
    font-size: 24px;
    font-weight: bold;
}

.show-price .giagoc b {
    color: #999;
    text-decoration: line-through;
}

.show-price .tietkiem {
    font-weight: bold;
    color: #eb2228;
    font-size: 15px;
}

.khoanggia-list,
.subcat-list {
    position: relative;
    display: block;
    border: 1px solid #CCC;
    padding: 10px;
}

.khoanggia-list li,
.subcat-list li {
    float: left;
}

.khoanggia-list li,
.subcat-list li a {
    font: bold 14px/1.5 Arial, sans-serif;
    color: #555;
    display: block;
    padding: 0 15px;
}

.khoanggia-list li {
    font-weight: normal;
}

.khoanggia-list li.active {
    color: [ws_colorHover];
    font-weight: bold;
}

.khoanggia-list li:hover,
.subcat-list li a:hover {
    cursor: pointer;
    color: [ws_colorHover];
}

.productBox {
    display: block;
    margin-left: -10px;
    margin-right: -10px;
}

.ws-icon {
    display: inline-block;
    padding-right: 10px;
}

.ws-icon img {
    width: 40px;
    vertical-align: middle;
}

.ws-list .itemsanpham {
    width: 100%;
    display: block;
    margin: 15px 0;
}

.ws-list .itemsanpham .itemsanpham_content {
    width: 100%;
    display: inline-block;
}

.ws-list .itemsanpham:before,
.ws-list .itemsanpham:after {
    content: "";
    display: table;
}

.ws-list .itemsanpham:after {
    clear: both;
}

.ws-list .itemsanpham .img {
    width: 20%;
    float: left;
    height: auto;
    display: table;
}

.ws-list .itemsanpham .ten,
.ws-list .itemsanpham .groupgia {
    text-align: left;
    padding-left: 15px;
    padding-right: 5px;
    display: block;
}

.ws-list .itemsanpham .ten {
    height: auto;
    margin-bottom: 10px;
}

.noidungchitiet .mota {
    font-weight: bold;
    padding-bottom: 10px;
}

.noidungchitiet .noidung img {
    max-width: 100% !important;
    height: auto !important;
}

.noidungchitiet .noidung a {
    color: #06F !important;
}

.noidungchitiet .noidung a:hover {
    color: #F00 !important;
}

.noidungchitiet .titlebase {
    margin-top: 50px;
}

.group_btn_dathang {
    margin-top: 10px;
}

.sanpham_img {
    position: relative;
    width: 42%;
    float:left;
}
.sanpham_img img{
    max-width: 100%;
}
.sanpham_info {
    width: 55%;
    float:right;
}

.noidung_img1 {
    display: block;
}

.noidung_img2 {
    display: none;
}

.row_chitiet:before,
.row_chitiet:after {
    content: "";
    display: table;
}

.row_chitiet:after {
    clear: both;
}

.row_chitiet {
    padding: 0px 3px;
    display: block;
    overflow: hidden;
}

.row_chitiet .ct_label {
    float: left;
    margin-right: 10px;
    padding: 8px 3px;
    color: #000000;
    font-family: 'tahoma';
    font-size: 13px;
    font-weight: bold;
}
.row_chitiet .ct_label1 {
    float: left;
    margin-right: 10px;
    padding: 8px 3px;
    color: #aba0a0;
    font-family: 'tahoma';
    font-size: 13px;
}

/*.row_chitiet .ct_label:before {
    content: "\f111";
    font-family: Fontawesome;
    font-size: 7px;
    color: #DD8023;
    display: block;
    padding-right: 7px;
    float: left;
}*/

.row_noidung {
    padding: 5px 0;
    line-height: 20px;
    font-size: 13px;
    display: table;
    color: [ws_colorMenu];
    font-weight: bold;
}
.luuygia {
    font-size: 13px;
    color: #000000;
    font-weight: bold;
}
.row_chitiet .ct_noidung {
    float: left;
}

.ct_noidung .gia,
.ct_noidung .giagoc,
.ct_noidung .phantramgiamgia {
    padding: 8px 0;
}

.row_chitiet .ct_noidung .gia {
    font-weight: bold;
    font-size: 22px;
    color: [ws_colorMenu];
    font-family: 'tahoma';
    float: left;
}

.row_chitiet .giagoc{
    /*font-weight: bold;*/
    text-align: left;
    font-size: 13px;
    color: #aba0a0;
    text-decoration: line-through;
    float: left;
}
.row_chitiet .giagocL{
    font-size: 13px;
    color: #aba0a0;
    font-weight: normal;
}

.row_chitiet .ct_noidung .phantramgiamgia {
    float: left;
    font-weight: bold;
    color: #FFF;
    background: [ws_colorMenu];
    margin-left: 15px;
    font-size: 14px;
    padding: 1px 5px;
}


.noidung img,
.noidung table,
.noidung iframe {
    max-width: 100%;
}

.group_btn_dathang input {
    width: 70px;
    float: left;
    border-radius: 0px;
    border-right: 0px;
    height: 40px;
}

.btn-dathang a {
    color: #FFF;
    text-transform: uppercase;
    display: block;
}

.btn-dathang a:hover {
    color: #FFF;
}

.yeucaugoilai {
    text-align: center;
    font-weight: bold;
}

.full_thumblist .thumblist img {
    width: 60px;
    height: 60px;
    border: 1px solid #E6E6E6;
    margin: 4px 4px 4px 0px;
    float: left;
}

.title_tinlienquan h2,
.title_tinlienquan {
    display: block;
    width: 100%;
    text-align: left;
    padding: 15px 0;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}

.title_tinlienquan i.fa {
    padding-right: 10px;
}

ul.item_option li {
    padding: 3px 10px 3px 10px;
    margin: 2px;
    float: left;
    background-color: #FFF;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid #dedede;
}

ul.item_option li a:hover {
    color: #F00;
}

ul.item_option li.active {
    border: 1px solid red;
    background-image: url({$root_path}templates/images/checkicon_03.png);
    background-position: bottom right;
    background-repeat: no-repeat;
}

ul.tags {
    margin-top: 20px;
}

ul.tags li {
    float: left;
}

ul.tags li.tags_label {
    font-weight: bold;
}

ul.tags li.tags_label i {
    margin-right: 5px;
}

ul.tags li a {
    padding: 3px 3px;
    color: #434343;
    text-transform: none;
    transition: all 0.7s ease;
    display: inline-block;
    font-family: 'OpenSans-SemiBold';
    font-size: 13px;
    border-radius: 5px;
    background-color: #dcdcdc;
    margin-right: 10px;
    margin-top: 10px;
    transition:all ease 0.7s;
    -webkit-transition: all 0.7s ease;
}

.noidung img,
.noidung table,
.noidung iframe {
    max-width: 100%;
}

.owl_lienquan .itemsanpham {
    width: 100%;
}

.owl_lienquan.owl-carousel .owl-nav [class^="owl-"] i.fa {
    font-size: 14px;
    line-height: 33px;
}

.owl-slide-chitiet .owl-prev {
    position: absolute;
    left: 0px;
    top: 40%;
    width: 40px;
    height: 40px;
    color: #000;
}

.owl-slide-chitiet .owl-next {
    position: absolute;
    right: 0px;
    top: 40%;
    width: 40px;
    height: 40px;
    color: #000;
}

.owl-slide-chitiet.owl-theme .owl-nav [class*=owl-] {
    color: #000;
}

.itemsanpham_home {
    width: 100%;
}

.jratingbig {
    float: left;
}

.sanpham_info h1.title {
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    font-family: 'Tahoma Bold';
}

.lienhesanpham {
    margin-top: 5px;
    padding: 10px;
    line-height: 1.5;
}

.btn-order-quick {
    width: 80%;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.dathang-frm .panel-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.tab-sanpham .tab-title {
    text-transform: uppercase;
    color: #232323;
    font-size: 14px;
}

.buynow {
    width: 70%;
    border: none;
    background: #f59123;
    -webkit-box-shadow: 0 -3px 0 0 #c27806 inset;
            box-shadow: 0 -3px 0 0 #c27806 inset;
    color: #FFF;
    border-radius: 5px;
    display: block;
    padding: 5px 10px;
    text-align: center;
}

.buynow a {
    color: #FFF;
    cursor: pointer;
    font-size: 16px;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}

.buynow a:focus,
.buynow a:hover,
.buynow a:visited {
    outline: none;
    border: none;
}

.buynow p:first-of-type {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0px;
}

.buynow p:last-of-type {
    font-size: 13px;
}

.detailcall {
    width: 70%;
    margin: 0px 0px 20px 0px;
    padding: 10px 5px;
    border-radius: 5px;
    background: #2ecc71;
    -webkit-box-shadow: 0 -3px 0 0 #248c50 inset;
            box-shadow: 0 -3px 0 0 #248c50 inset;
}

.detailcall .icon {
    float: left;
    height: 30px;
    width: 30px;
    border: 2px solid white;
    text-align: center;
    color: white;
    border-radius: 50%;
    line-height: 26px;
    margin-left: 22px;
    margin-right: 11px;
}

.detailcall .icon .fa {
    vertical-align: middle;
}

.detailcall .call-label {
    float: left;
    color: white;
    text-align: center;
    margin: 0 10px;
}

.detailcall .call-label p:first-of-type {
    text-transform: uppercase;
    font-size: 18px;
}

.detailcall .call-label p:last-of-type {
    padding: 5px 0;
    font-size: 13px;
}

.detailcall .call-phone {
    font-size: 30px;
    font-weight: bold;
    height: 43px;
    line-height: 43px;
    color: white;
    padding-left: 10px;
}

#loaddatacart .product-info .image {
    float: left;
    width: 180px;
    height: auto;
    border: 1px solid #CCC;
    padding: 5px;
}

#loaddatacart .product-info .info {
    float: left;
    margin-left: 15px;
    padding: 0 10px;
}

#loaddatacart .product-info .info strong {
    font: bold 16px/1.5 'OpenSans-Bold', arial, helvetica;
}

#loaddatacart .product-info .info p {
    font: normal 14px 'OpenSans', arial, helvetica;
    padding-top: 10px;
    color: red;
}

/*.owl_splienquan .owl-nav [class^="owl-"] .fa {
    font-size: 12px;
    width: 20px;
    height: 20px;
    color: #BABABA;
    text-align: center;
    line-height: 20px;
}*/

.owl_splienquan .owl-nav .owl-next {
    right: 0;
}

.owl_splienquan .owl-nav .owl-prev {
    right: 30px;
}

.owl_splienquan .owl-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top:-54px;
    right:0;
}

.sanphamlienquan .itemsanpham{
    width: 100%;
    border: none;
    padding: 5px 0;
    border-bottom: 1px dashed #d3d2d2;
    margin: 0 !important;
}
.sanphamlienquan .itemsanpham:last-child {
    border-bottom: 0;
}
.noidungchitiet .tags .tagitem a{
    margin-top:0;
}



.titlebase .subtitle{
    margin: 0px;
    float: left;
    position: relative;
}

.titlebase .subtitle a{
    display: inline-block;
    float: left;
    padding: 9px 0;
    padding-left: 10px;
    width: auto;
    background-color: [ws_colorMain];
    font-family: "RobotoCondensedBold";
    color: #FFF;
    font-size: 17px;
    text-transform: uppercase;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
}

.sanphamlienquan{
    margin-bottom:20px;
    display: table;
    padding: 5px 10px;
    border: 2px solid #d3d2d2;
    border-top: none;
}
#col1{
    display:block;
}
@media( max-width: 1024px) {
    .buynow,
    .detailcall {
        width: 100%;
    }
}

@media(max-width: 768px){
    .khoanggia-list li,
    .subcat-list li {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .row_chitiet {
        float: none;
        width: 100%;
    }

    .sanphamlienquan .itemsanpham{
        width: 100% !important;
    }

    .khuyenmai,
    .dathang-frm {
        float: none;
        width: 100%;
    }

    .sanpham_img {
        margin-bottom: 10px;
    }

    .sanpham_info {
        padding-left: 0;
    }

    .sanpham_img,
    .sanpham_info {
        float: none;
        width: 100%;
    }
    #col1{
        display:none;
    }
    .row_chitiet .ct_label1{
        width: 100%;
        padding:3px 5px;
    }
    .row_noidung{
        padding:3px 0px;
    }
    .btn-container a{
        max-width: 50%;
        min-width: auto;
        display: block;
        position:relative;
        float: left;
        padding:3px;
    }
    .btn-container button{
        width:100%;
        margin: 0px;
        padding:10px 5px;
        min-width: auto;
    }
}

@media (max-width: 480px) {
    .btn-container a{
        width: 50%;
    }
    .sanpham_info,
    .sanpham_img {
        width: 100%;
        margin: 15px 0;
    }
    .panel-body{
        padding: 15px 0px;
    }
    .noidungchitiet .nav>li>a{
        padding:3px;
        font-size: 13px;
        font-weight: bold;
    }
}
@media(max-width: 360px){
    .nav-tabs li {
        font-size: 12px;
    }
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
        border: none;
        padding:5px 10px;
        border-radius: 15px;
        border: 1px dashed #e37f1b;
        font-weight: bold;
    }
    .noidungchitiet .nav-tabs{
        border-bottom: none;
    }
}
@media (max-width: 320px) {
    .type-view {
        display: none;
    }

    .titlebase .subtitle a{
        font-size:15px;
    }
}