{strip}

	<h1 class="hide">{$_title}</h1>

	{* <h2 class="hide">{$_title}</h1> *}



    {* <div class="ws-container thongtintrangchu">

        {$dataHome.thongtintrangchu}

    </div> *}



    {* {include file="../../{$op}/tpl/danhmucSp.tpl"} *}

    {$dataHome.sanphamkhuyenmai}

    {* {include file="../../{$op}/tpl/tabSp.tpl"} *}

    {include file="../../{$op}/tpl/catProduct.tpl"}



    {* {$dataHome.sanphambanchay} *}

    {* {$dataHome.tintuc_moinhat} *}



{/strip}