{strip}
{if $op == "home"}
<div class="catpItem clearfix">
    <div class="">
        <div class="titlebase-home clearfix wow- animated- fadeInDown-" data-wow-delay="0s">
            <h2>
            <a href="" title="">
                {$smarty.session.arraybien.spnoibat}
            </a>
            </h2>
        </div>
        <!-- /.titlebase -->

        <div class="clearfix">
        {include file="../../product/tpl/item.tpl" arrsanpham=$dataHome.spBanChay owl='owl-carousel banchayRun'}
        </div>
    </div>
</div>
{/if}
{/strip}