.dangkyform{
	margin-top:30px;
}

.dangkyform .panel-heading{
	background-color:#fff;
	border:none;
}

.dangkyform .panel-body{
	padding:0;
}

.dangkyform .panel-heading label p{
	font-family: "UTMHelve_Bold";
    color: [ws_colorTitle];
    font-size: 23px;
}

.dangkyform .box-lienhe form{
	background-color:#eeeeee;
}

.dangkyform .box-lienhe .tieude{
	display:inline-block;
	width:100%;
	padding:7px 7px;
	font-size:14px;
	font-weight: bold;
	background:linear-gradient(#f8f8f8, #ddd);
	text-align:left;
	color:#00609a;
	text-transform: uppercase;
}

.dangkyform .box-lienhe .form-group{
	display:flex;
	padding:8px 0;
	border-bottom: 1px solid #e2e1e1;
    border-top: 1px solid #fdfafa;
    margin-bottom:0;
}

.dangkyform .box-lienhe .input-group{
	display:inline-block;
	width:100%;
}

.dangkyform .box-lienhe .input-group-addon{
	border:none;
	font-weight: bold;
	font-size:14px;
	color:black;
	width:21%;
	text-align:left;
	float:left;
	padding:10px 12px;
}

.dangkyform .box-lienhe .form-control{
	width:75%;
}

.dangkyform .box-lienhe .tencheckbox{
	font-size: 13px;
    font-weight: 700;
    color: [ws_colorTitle];
    font-style: italic;
}

.nhomcheckbox{
	width:15%;
	display:inline-block;
}

.noidungnhangui p{
	font-size: 14px;
    padding: 10px 12px;
    margin: 0;
}

.noidungnhangui ul li{
	background-size: 16px 16px!important;
    padding-left: 22px;
    background: url("{$root_path}uploads/images/accepicon.png") no-repeat 0 4px;
    margin-left: 5px;
    font-size: 13px;
    font-style: italic;
    font-weight: 700;
    color: #0060af;
}

@media(max-width: 1024px){
	.dangkyform .box-lienhe .input-group-addon{
		width:25%;
	}
}

@media(max-width: 768px){
	.dangkyform .box-lienhe .input-group-addon{
		width:100%;
	}

	.dangkyform .box-lienhe .form-control{
		width:90%;
	}

	.nhomcheckbox{
		width:24%;
	}

	.dangkyform .box-lienhe .input-group{
		padding-left:10px;
	}
}

@media(max-width: 480px){
	.dangkyform .box-lienhe .form-control{
		width:95%;
	}
	
	.nhomcheckbox{
		width:49%;
	}
}

@media(max-width: 320px){
	.nhomcheckbox{
		width:100%;
	}
}

