.pictureBox{
    margin-bottom:50px;
}

.gallery-item {
    width: 100%;
    position:relative;
    display:block;
}

.nothome .gallery-item{
    width: 31%;
    margin-right:2%;
    margin-bottom:30px;
    float:left;
}

.gallery-item .image {
    overflow: hidden;
    height: auto;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gallery-item .image img {
    width: 100%;
    height:auto;
    transition:all ease .3s;
    -webkit-transition:all ease .3s;
}

.gallery-item .image img:hover{
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
}

.gallery-item .glass {
    top: -261px;
    left: -260px;
    display: block;
    height: 100px;
    position: absolute;
    transform: rotate(-45deg);
    width: 800px;
    z-index: 99;
    opacity: 0.7;
    transition: all 0s;
    -o-transition: all 0s;
    -ms-transition: all 0s;
    -moz-transition: all 0s;
    -webkit-transition: all 0s;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.77) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0.77)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.77) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.77) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.77) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.77) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#c4ffffff', GradientType=0);
}

.gallery-item:hover .glass {
    top: 300px;
    left: 140px;
    transition: all 0.6s;
    -o-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
}

.gallery-item .name {
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
    height: 40px;
    display: block;
    text-transform: uppercase;
    margin: 5px 0;
    text-align: center;
    color: [ws_color];
    line-height: 1.5;
    font-size: 18px;
}

@media (max-width: 1024px) {
    .gallery-item {
        width: 100%;
    }
    .gallery-item .image {
        background-size: 100% 100%;
    }
}

@media (max-width: 640px) {
}

@media(max-width: 480px){
    .gallery-item .image{
        height:auto;
    }

    .gallery-item .image img{
        height:auto;
    }
}

@media (max-width: 360px) {
    .gallery-item {
        width: 100%;
        float: none;
    }
}